@use'../Column-center';
@use'../Row-center';
@use'../main-color';
@use'../Main-Title';
@use'../WebSubContent';
@use'../bg-img-center';

@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

.login-page-main-container{
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.265);
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    z-index:3000000;
    cursor:url('/close-two.png') 10 10,auto;

    @include Row-center.row-center;


    .login-page-inner-container{
        height:75%;
        width:70%;
        background-color: rgb(255, 255, 255);
        cursor: default;
       @include Row-center.row-center;
        gap: 15px;
        border-radius: 40px;
        overflow: hidden;
        
        .login-close-btn{
            position: absolute;
            height: 35px;
            width: 35px;
            background-color: main-color.$main-color-for-app;
            border-radius: 100%;
            top: 20px;
            right: 30px;
            @include Column-center.column-center;
            cursor: pointer;
            z-index: 10;
            .login-close-btn-x-one{
                height: 2px;
                width: 12px;
                background-color: white;
                position: absolute;
                transform: rotate(50deg);
                border-radius: 3px;
                                transition-duration: 0.3s;

            }
            .login-close-btn-x-two{
                height: 2px;
                width: 12px;
                background-color: white;
                position: absolute;
                border-radius: 3px;
                transform: rotate(-50deg);
                                transition-duration: 0.3s;


            }
        }
        .login-close-btn:hover{
            .login-close-btn-x-one{
                transition-duration: 0.3s;
                transform: rotate(0deg);
            }
            .login-close-btn-x-two{
                transition-duration: 0.3s;

                transform: rotate(0deg);

            }
        }
        .login-page-intro{
            height: 100%;
            width: 100%;
            flex: 1 1 calc(55%);
            @include Row-center.row-center;
            align-items: flex-start;
            position: relative;
            z-index: 1;

            .login-page-intro-design{
                position: absolute;
                height: 700px;
                width: 700px;
                background: #ff6b70;
                background: linear-gradient(90deg, rgba(255, 107, 112, 1) 0%, rgba(255, 79, 88, 1) 39%, rgba(255, 46, 60, 1) 100%);
                border-radius: 100%;
                left: -150px;
                top: -250px;
                z-index: -1;
            
            }
            .login-page-intro-design-one{
                height: 300px;
                width: 300px;
                border-radius: 100%;
                background: #ff6166;
background: linear-gradient(249deg, rgba(255, 97, 102, 1) 0%, rgba(255, 66, 76, 1) 43%, rgba(255, 46, 60, 1) 100%);
                position: absolute;
                z-index: -1;
               
                left: -100px;
                bottom: -100px;

            }
            .login-page-intro-design-two{
                height: 200px;
                width: 200px;
                border-radius: 100%;
                background: #ff6166;
background: linear-gradient(121deg, rgba(255, 97, 102, 1) 0%, rgba(255, 66, 76, 1) 39%, rgba(255, 46, 60, 1) 100%);
                position: absolute;
                z-index: -1; 
                right: 80px;
                bottom: 80px;

            }
            

            .login-intro-para-box{
                height: auto;
                width: 60%;
                margin-top: 80px;
                @include Column-center.column-center;
                gap: 15px;
                align-items: flex-start;

                .welcome-para{
                    font-size: 40px;
                    font-family: 'Merienda';
                    font-weight: 900;
                    @include Column-center.column-center;
                    align-items: flex-start;
                    color: white;

                    .welcome-para-span{
                        font-size: 28px;
                        font-family: 'Lexend Deca';
                        font-weight: 600;
                    }

                }
                .welcome-para-main{
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 25px;
                    letter-spacing: 1px;
                    font-family: 'Delius';
                                        color: white;

                }
            }

        }
        .login-page-input-container{
            height: 100%;
            width: 100%;
            flex: 1 1 calc(45%);
            @include Column-center.column-center;
            align-items: flex-start;
            padding: 60px 0px;
           position: relative;
           z-index: 1;

           .login-page-input-design{
             height: 200px;
                width: 200px;
                border-radius: 100%;
               background: #ff6166;
background: linear-gradient(114deg, rgba(255, 97, 102, 1) 0%, rgba(255, 66, 76, 1) 43%, rgba(255, 46, 60, 1) 100%);
                position: absolute;
                z-index: -1;
               
                right: -80px;
                bottom: -80px;
           }
            .login-input-inner-box{
                height: 100%;
                width: 80%;
                @include Column-center.column-center;
                justify-content: flex-start;
                gap: 20px;
               
                .login-page-input-title{
                    height: auto;
                    width: 100%;
                    @include Column-center.column-center;
                    align-items: flex-start;
                    gap: 5px;
                    padding-left: 10px;
                    .login-page-inp-title-para-one{
                        font-size: 40px;
                        font-family: 'Funnel Sans';
                        font-weight: 700;
                        color: rgb(61, 61, 61);
                    }
                    .login-page-inp-title-para-two{
                        font-size: 13px;
                        font-family: 'Funnel Sans';
                        font-weight: 500;
                        color: rgb(109, 109, 109);
                        letter-spacing: 0.5px;
                        
                    }
                }

                .login-page-input-box{
                    height: auto;
                    width: 100%;
                    @include Column-center.column-center;
                    align-items: flex-start;
                    gap: 25px;
                    margin-top: 5px;
                    
                    .input-login-icon{
                        height: 100%;
                        width: 100%;
                        flex: 1 1 calc(15%);
                        font-size: 22px;
                        @include Column-center.column-center;
                        color: rgb(59, 59, 59);

                    }
                    .input-login-input-bar{
                        height: 100%;
                        width: 100%;
                        flex: 1 1 calc(85%);
                        border: none;
                        padding-left: 10px;
                        font-size: 15px;
                        font-weight: 600;
                        font-family: 'Nunito';
                        padding-right: 10px;
                        
                    }
                    .input-login-input-bar-two{
                        height: 100%;
                        width: 100%;
                        flex: 1 1 calc(65%);
                        border: none;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 15px;
                        font-weight: 600;
                        font-family: 'Nunito';
                    }
                    .pass-show-btn{
                        height: 100%;
                        width: 100%;
                        flex: 1 1 calc(20%);
                        @include Column-center.column-center;
                        font-size: 14px;
                        font-weight: 600;
                        border-left: 1px solid main-color.$border-light-color;
                        font-family: 'Delius';
                        color: main-color.$main-color-for-app;
                        cursor: pointer;
                    }
                    .input-login-input-bar:focus{
                        border: none;
                        outline: none;
                        
                    }
                    .input-login-input-bar-two:focus{
                        border: none;
                        outline: none;
                        
                    }
                    .input-login-input-bar::placeholder{
                        font-size: 12px;
                        font-family: 'Lato';
                        letter-spacing: 0.5px;
                        
                    }
                    .input-login-input-bar-two::placeholder{
                        font-size: 12px;
                        font-family: 'Lato';
                       letter-spacing: 0.5px;


                        
                    }
                    .login-page-email-input{
                        height: 50px;
                        width: 100%;
                        border-radius: 8px;
                        @include Row-center.row-center;
                        overflow: hidden;
                       
                    }
                     .login-input-border{
                    border: 1px solid main-color.$border-light-color;

                    }
                    .login-no-input-border{
                        border: 2px solid rgb(250, 133, 133);

                    }
                    .login-page-pass-input{
                        height: 50px;
                        width: 100%;
                        border-radius: 8px;
                        @include Row-center.row-center;
                        overflow: hidden;
                       

                    }
                }

                .login-page-input-read-pass{
                    height: auto;
                    width: 100%;
                    @include Row-center.row-center;
                    justify-content: space-between;
                    
                    .check-box-read-pass{
                        height: auto;
                        width: auto;
                        @include Row-center.row-center;
                        gap: 10px;

                        .check-box-show-pass{
                            height: 15px;
                            width: 15px;
                        }
                        .para-show-pass{
                            font-size: 12px;
                            font-family:'Instrument Sans';
                            font-weight: 500;
                            color: rgb(109, 109, 109);
                            cursor: pointer;
                        }

                    }
                    .forget-pass{
                         height: auto;
                        width: auto;
                        @include Row-center.row-center;
                        font-size: 13px;
                        font-family:'Instrument Sans';
                        font-weight: 500;
                        color: main-color.$main-color-yellow-for-btn;
                        cursor: pointer;

                    }
                }

                 .login-page-btn{
                    margin-top: 15px;
                height: auto;
                width: 100%;
                @include Column-center.column-center;
                .login-page-btn-inner{
                    height: 45px;
                    width: 80%;
                    @include Column-center.column-center;
                    font-size: 16px;
                    font-family:'Delius';
                    font-weight: 900;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    border: none;
                    background-color: main-color.$main-color-red-for-btn;
                    color: white;

                }
                }

                .sign-up-div{
                    height: auto;
                    width: 100%;
                    @include Column-center.column-center;
                    align-items: flex-start;
                    margin-top: 10px;
                     .sign-up-btn{
                    font-size: 12px;
                    font-family: 'Onest';
                    font-weight: 400;
                    color: rgb(117, 117, 117);
                    @include Row-center.row-center;
                    gap: 5px;
                    .sign-up-span{
                           font-size: 14px;
                           font-family: 'Delius';
                           font-weight: 600;
                           cursor: pointer;
                           letter-spacing: 0.5px;
                           color: rgb(255, 105, 105);
                    }
                }
                }
               
            }

           

            
        }
    }

    .rotatelogin{
        animation: rotatelogin 0.7s linear forwards;
    }
    @keyframes rotatelogin {
        0%{
          transform: rotateY(0deg) scale(1) ;
          opacity: 1;
        }
        40%{
            transform: rotateY(180deg) scale(0.4);
            opacity: 0.8;
        }
        80%{
           transform: rotateY(360deg) scale(0.8); 
           opacity: 1;
        }
        100%{
             transform: rotateY(360deg) scale(1); 
           opacity: 1;
        }
    }

    .notshowlogininner{
    transform: scale(0);
    opacity: 0;
    transition-duration: 0.4s;
    transition-delay: 0s;
}
.showlogininner{
    transform: scale(1);
    opacity: 1;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
}
}

.notshowlogin{
    transform: scale(0);
    opacity: 0;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
}
.showlogin{
    transform: scale(1);
    opacity: 1;
    transition-duration: 0.4s;
    transition-delay: 0s;
}