@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.course-overview-main-conatainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-overview-main-conatainer .course-overview-intro-div {
  height: auto;
  width: 100%;
  background-color: rgb(255, 249, 247);
  padding: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box {
  height: 100%;
  width: 100%;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-title-main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-title-main-container .course-name-in-course-overview {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 55px;
  font-weight: 600;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-title-main-container .course-para-in-course-overview {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 35px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-tutor-side {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  justify-content: flex-start;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-tutor-side .tutor-img-for-course-overview {
  height: 50px;
  width: 50px;
  background-color: antiquewhite;
  border-radius: 100%;
  border: 3px solid white;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-tutor-side .tutor-name-for-course-overview, .course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-tutor-side .total-enroll-for-course-overview, .course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-tutor-side .cathegory-for-course-overview {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-tutor-side .tutor-name-tit {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-tutor-side .tutor-name {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  justify-content: flex-start;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-review-bar {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-review-bar .star-for-course-review {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-audio-bar {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: antiquewhite;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-audio-bar .course-audio-para {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-audio-bar .course-audio-para .audio-course-span-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-language-bar {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: antiquewhite;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-language-bar .course-lang-para {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-audio-review-info-side .course-language-bar .course-lang-para .audio-course-span-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-calender-box {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  justify-content: flex-start;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-calender-box .calender-icon {
  height: 30px;
  width: 30px;
  background-color: black;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-calender-box .calender-course-cont {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-calender-box .course-calender-one, .course-overview-main-conatainer .course-overview-intro-div .course-main-title-box .course-main-titile-content-container .course-calender-box .course-calender-two {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box {
  height: 100%;
  width: 100%;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-video-overview {
  height: 200px;
  width: 90%;
  background-color: aliceblue;
  border-radius: 10px;
  background-image: url("https://plus.unsplash.com/premium_photo-1670071482073-fb719283af88?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-amount-overview {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-amount-overview .actual-course-cost {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-amount-overview .actual-course-cost .actual-course-para {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 23px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-amount-overview .actual-course-cost .actual-course-discount {
  height: 30px;
  width: 80px;
  background-color: antiquewhite;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-amount-overview .time-left-offer {
  height: auto;
  width: 100%;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-amount-overview .course-join-btns {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 15px;
}
.course-overview-main-conatainer .course-overview-intro-div .course-enroll-box .course-enroll-amount-overview .course-join-btns .course-btn {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: aqua;
}

/*# sourceMappingURL=CourseOverview.css.map */
