
@use '../main-color';
@use '../Column-center';
@use '../Row-center';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.program-list-main-container{
    height: auto;
    width: 100%;
    padding: 80px 100px;
    @include Column-center.column-center;
    gap: 60px;

    .program-list-title-container{
        height: auto;
        width: 100%;
        @include Column-center.column-center;
        gap: 15px;

        .program-list-para-one{
            font-size: 18px;
            font-family: 'Delius';
            font-weight: 600;
            color: rgb(255, 127, 127);
        }
        .program-list-para-two{
            font-size: 45px;
            font-family: 'Sour Gummy';
            font-weight: 600;
            color: main-color.$font-main-color;
        }
        .program-list-para-three{
            width: 60%;
            font-size: 15px;
            font-family: 'Roboto';
            font-weight: 400;
            text-align: center;
            letter-spacing: 1px;
            line-height: 30px;
            color:rgb(126, 126, 126);
        }

    }

    .program-list-items-container{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 60px;
        row-gap: 80px;



        .program-item-one{
            height: 500px;
            width:400px;
            border: 1px solid rgb(205, 205, 205);
            padding: 20px;
            border-radius: 10px;
            gap: 0px;
            @include Column-center.column-center;
            transition-duration: 0.5s;
            position: relative;
            overflow: hidden;


            .hovering-content-program-items{
                height: 100%;
                width: 100%;
                position: absolute;
                background-color: rgb(255, 82, 82);
                opacity: 0;
                transform:translateX(-350px);
                
                transition-duration: 0.7s;
                padding: 40px 30px;
                @include Column-center.column-center;
                gap: 35px;

                .hovering-content-container{
                    height: auto;
                    width: 100%;
                    @include Column-center.column-center;
                    gap: 20px;
                    align-items: flex-start;

                    .difficulty-level-hover-bar{
                            height:auto;
                            width: auto;
                            padding: 6px 25px;
                            background-color: rgb(255, 245, 245);
                            @include Column-center.column-center;
                            border-radius: 3px;
                            font-size: 13px;
                            font-family: 'Overlock';
                            font-weight: 600;
                            color: rgb(45, 45, 45);
                            letter-spacing: 1px;

                
                    }
                    .hover-title{
                        font-size: 22px;
                        font-weight: 600;
                        font-family: 'Exo 2';
                        color: rgb(255, 255, 255);
                        letter-spacing: 1px;
                    }
                    .star-para-hovering{
                        font-size: 17px;
                        color: rgb(255, 244, 30);
                        @include Row-center.row-center;
                        gap:45px;
                        .star-hover{
                            @include Row-center.row-center;
                            gap: 5px;
                        }
                        .star-hover-cont{
                            font-size: 16px;
                            letter-spacing: 2px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            color: white;
                        }
                    }
                    .hover-amount{
                        font-size: 20px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        color: white;
                    }
                    .hover-sub-title{
                        width: 100%;
                        text-align: justify;
                        font-size: 14px;
                        font-family: 'Delius';
                        color: white;
                        letter-spacing: 1px;
                        line-height: 30px;
                    }
                    .prog-info-hovering{
                        word-wrap: 100%;
                         @include Row-center.row-center;
                        gap: 30px;
                        .hover-program-info-para-one{
                            @include Row-center.row-center;
                            gap: 8px;
                            font-size: 15px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            color: white;
                            padding-right: 30px;
                            border-right: 1px solid white
                        }.hover-program-info-para-two{
                            @include Row-center.row-center;
                            gap: 8px;
                            font-size: 15px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            color: white;

                        }
                        .icon-hover{
                        color: white;
                        font-size: 16px;
                    }
                    }
                   
                }

                .hovering-btn-container{
                    height: auto;
                    width: 100%;
                    @include Row-center.row-center;
                    gap: 30px;

                    .hover-enroll-btn{
                        cursor: pointer;
                        height: 40px;
                        width: 70%;
                        background-color: rgb(255, 217, 24);
                        border: none;
                        color: rgb(39, 39, 39);
                        font-size: 16px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        letter-spacing: 1px;
                        border-radius: 5px;
                        @include Row-center.row-center;
                        overflow: hidden;
                        position: relative;
                        z-index: 1;
                        .prog-enroll-design-one{
                            position: absolute;
                            height: 100%;
                            width: 0%;
                            left: 0px;
                           background: #fffce6;
background: linear-gradient(90deg, rgba(255, 252, 230, 1) 0%, rgba(255, 255, 255, 1) 33%);
                            z-index: -1;
                            transition-duration: 0.6s;

                        }
                        .prog-enroll-design-two{
                            position: absolute;
                            height: 100%;
                            width: 0%;
                            right: 0px;
                          background: #ffffff;
                            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 77%, rgba(255, 252, 230, 1) 100%);           z-index: -1;
                            transition-duration: 0.6s;

                        }
                    }

                    .hover-enroll-btn:hover .prog-enroll-design-one{
                        width: 60%;
                        
                        transition-duration: 0.6s;
                    }.hover-enroll-btn:hover .prog-enroll-design-two{
                        width: 60%;
                        
                        transition-duration: 0.6s;
                    }
                   
                    .hover-add-favorite-btn{
                        height: 40px;
                        width: 40px;
                        background-color: white;
                        color: red;
                        @include Row-center.row-center;
                        font-size: 18px;
                        border-radius: 100%;
                        position: relative;
                        cursor: pointer;
                        .hover-mess-box{
                            position: absolute;
                            height: 20px;
                            width: 70px;
                            border: 1px solid main-color.$border-light-color;
                            font-size: 8px;
                            opacity: 0;
                            transform: translateY(30px) scale(0);
                            transition-duration: 0.5s;
                            @include Row-center.row-center;
                            font-family: 'Roboto';
                            color: rgb(53, 53, 53);
                            font-weight: 600;
                            background-color: white;
                            border-radius: 3px;
                            bottom: 110%;
                            .arrow-in-hover-mess{
                                position: absolute;
                                height: 8px;
                                width: 8px;
                                background-color: rgb(255, 255, 255);
                               border-bottom:1px solid main-color.$border-light-color;
                               border-right: 1px solid main-color.$border-light-color;
                                transform: rotate(45deg);
                                bottom: -4px;
                                
                            }
                        }

                    }
                    .hover-add-favorite-btn:hover .hover-mess-box{
                        opacity: 1;
                        transform:translateY(0px) scale(1);
                        transition-duration: 0.5s;
                    }
                }
            }

            .program-image-bar{
                height: 100%;
                width: 100%;
                flex: 1 1 calc(50%);
                background-color: aqua;
                border-radius: 10px;
                background-image: url('https://livi.wpengine.com/wp-content/uploads/2017/11/course-image-02.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: calc(100%);
                transition-duration: 0.5s;

                
            }
            .program-content-bar{
                height: 100%;
                width: 100%;
                flex: 1 1 calc(40%);
                gap:20px;
                @include Column-center.column-center;
                align-items: flex-start;
                justify-content: flex-start;
                padding-top: 30px;
                padding-bottom: 20px;
                
                .program-info{
                    height: auto;
                    width: 100%;

                    @include Row-center.row-center;
                    gap:14px;
                     justify-content: flex-start;

                     .program-info-para-one{
                        @include Row-center.row-center;
                         gap: 5px;
                         font-size: 13px;
                         font-family:'Overlock';
                         font-weight: 600;
                         color: rgb(46, 46, 46);
                         padding-right: 14px;
                         border-right: 1px solid rgb(192, 192, 192);
                         transition-duration: 0.3s;
                         
                        }
                        
                     .program-info-para-two{
                        @include Row-center.row-center;
                        gap:5px;
                        font-weight: 600;
                         font-size: 13px;
                        font-family:'Overlock';
                         color: rgb(46, 46, 46); padding-right: 15px;
                           border-right: 1px solid  rgb(192, 192, 192);
                        
                     }
                     .program-info-para-three{
                        @include Row-center.row-center;
                        gap:5px;
                         font-size: 13px;
                         font-weight: 600;

                         font-family:'Overlock';
                         color: rgb(46, 46, 46);
                     }
                     .icon{
                        font-size: 16px;
                        color: red;
                     }
                }

                .level-of-difficulty{
                    height:auto;
                    width: auto;
                    padding: 6px 25px;
                    background-color: rgb(255, 226, 226);
                    @include Column-center.column-center;
                    border-radius: 3px;
                    font-size: 13px;
                    font-family: 'Overlock';
                    font-weight: 600;
                    color: red;
                    letter-spacing: 1px;

                }
                .prog-con-container{
                    height: auto;
                    width: 100%;
                    @include Column-center.column-center;
                    justify-content: flex-start;
                    gap: 6px;
                    .program-title{
                        width: 100%;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: 'Convergence';
                        color: main-color.$font-main-color;
                    }
                    .program-sub-title{
                        width: 100%;
                        font-size: 14px;
                        font-family: 'Overlock';
                        color: rgb(139, 139, 139);
                        line-height: 25px;
                        letter-spacing: 1px;
                    }
                }

                
                

                
                
            }
            .program-star-bar{
                padding-right: 10px;
                height: 100%;
                width: 100%;
                flex: 1 1 calc(10%);
                 @include Row-center.row-center;
                justify-content: space-between;
                 padding-top: 20px;
                 padding-bottom: 10px;
                border-top: 1px solid rgb(222, 222, 222); 
               .star-div-for-program{
                height: auto;
                width: auto;
                 @include Row-center.row-center;
                 gap: 10px;
                 
                 .star-para-program-list{
                     @include Row-center.row-center;
                     font-size: 16px;
                     gap: 5px;
                     color: rgb(255, 200, 0);

                    
                 }
                  .star-span-para{
                        font-size: 14px;
                        font-family: 'Convergence';
                        color: rgb(65, 65, 65);
                        letter-spacing: 2px;
                     }

                     

               }
               .amt-para-in-prog-list{
                        font-size: 22px;
                        font-weight: 400;
                        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        color: main-color.$main-color-for-app-little-darker;
            }
            }
        }
        .program-item-one:hover{
            border: 1px solid rgb(255, 161, 161);
           
            box-shadow: rgb(252, 76, 76) 0px 15px 20px -10px;
            transition-duration: 0.4s;
        }
        .program-item-one:hover .program-image-bar{
            background-size: calc(115%);
            transition-duration: 0.5s;
        }
        

        .program-item-one:hover .hovering-content-program-items{
            opacity: 1;   
            transform: translateX(0px);
            transition-duration: 0.7s;
            transition-delay: 0.3s;
        }



        

    
    }

    .program-list-btn{
        height: 45px;
        width: 180px;
        border-radius: 10px;
        background-color: rgb(255, 70, 70);
        border: none;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        margin-top: 30px;
    }

    
}