@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
.contact-side-bar-conatainer {
  height: auto;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.contact-side-bar-conatainer .contact-side-box {
  height: 200px;
  width: 400px;
  box-shadow: rgba(17, 17, 26, 0.171) 0px 0px 16px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.contact-side-bar-conatainer .contact-side-box .contact-logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.contact-side-bar-conatainer .contact-side-box .contact-sider-logo {
  height: 100%;
  width: 100%;
  flex: 1 1 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one {
  height: 60%;
  width: 60%;
  border: 1px solid rgb(255, 225, 225);
  background-color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgb(255, 98, 98);
  border-top: none;
}
.contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three {
  height: 60%;
  width: 60%;
  border: 1px solid rgb(255, 225, 225);
  border-bottom-left-radius: 50px;
  background-color: white;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgb(255, 98, 98);
  border-top: none;
}
.contact-side-bar-conatainer .contact-side-box .contact-logo-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.contact-side-bar-conatainer .contact-side-box .contact-logo-two .contact-logo-two {
  height: 60%;
  width: 60%;
  border: 1px solid rgb(255, 225, 225);
  background-color: white;
  border-top: 5px solid rgb(255, 98, 98);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}
.contact-side-bar-conatainer .contact-side-box .contact-sider-cont {
  height: 100%;
  width: 100%;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
}
.contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-title {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 900;
  color: rgb(5, 0, 28);
  font-family: "Delius";
}
.contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
  line-height: normal;
  font-size: 13px;
}

/*# sourceMappingURL=ContactSider.css.map */
