@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.contact-touch-container {
  height: 120dvh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.contact-touch-container .contact-submitted-alert-div {
  position: fixed;
  height: 100px;
  width: 280px;
  background-color: aliceblue;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-touch-container .contact-submitted-alert-div .lineloading {
  animation: loading-line 2s linear forwards;
  animation-delay: 0.7s;
}
.contact-touch-container .contact-submitted-alert-div .contat-alert-loading {
  position: absolute;
  height: 2px;
  width: 0%;
  border-radius: 10px;
  background-color: rgb(171, 171, 171);
  bottom: 0px;
  right: 0px;
}
@keyframes loading-line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.contact-touch-container .contact-submitted-alert-div .contact-alert-img-div {
  height: 100%;
  width: 100%;
  flex: 1 1 35%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-touch-container .contact-submitted-alert-div .contact-alert-img-div .contact-alert-img {
  position: absolute;
  left: 10px;
  top: -70px;
  height: 180px;
  width: 100px;
  object-position: center;
  object-fit: cover;
}
.contact-touch-container .contact-submitted-alert-div .contact-alert-img-div .noalrtimageshow {
  transform: translateY(100px) translateX(-100px) rotate(20deg);
  transition-duration: 0.5s;
  opacity: 0;
}
.contact-touch-container .contact-submitted-alert-div .contact-alert-img-div .alrtimageshow {
  transform: translateY(0px) translateX(0px) rotate(0deg);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.5s;
  opacity: 1;
}
.contact-touch-container .contact-submitted-alert-div .contact-alert-cont-div {
  height: 100%;
  width: 100%;
  flex: 1 1 65%;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.contact-touch-container .contact-submitted-alert-div .contact-alert-cont-div .checkmark-done {
  color: #2b9cff;
  font-size: 24px;
}
.contact-touch-container .submittedalert {
  transform: translateX(0px);
  transition-duration: 1s;
  opacity: 1;
}
.contact-touch-container .nosubmittedalert {
  transform: translateX(-400px);
  transition-duration: 1s;
  opacity: 0;
}
.contact-touch-container .contact-get-in-touch-input {
  height: 100%;
  width: 100%;
  padding: 0px 80px;
  flex: 1 1 55%;
  background-color: rgb(255, 68, 81);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  clip-path: polygon(96.901% 99.67%, 96.901% 100%, 0% 100%, 0% 0%, 98.31% 0%, 98.31% 2.967%, 99.859% 4.066%, 99.014% 4.396%, 99.014% 5.275%, 100% 5.824%, 99.437% 5.934%, 99.437% 7.253%, 100% 7.473%, 97.183% 9.011%, 97.183% 10.769%, 97.606% 10.879%, 97.606% 12.198%, 96.901% 12.527%, 96.901% 12.747%, 97.746% 12.747%, 97.606% 13.736%, 94.93% 15.275%, 94.789% 15.934%, 94.648% 16.703%, 94.93% 16.923%, 94.93% 18.022%, 94.648% 18.022%, 94.648% 19.89%, 94.93% 20.33%, 95.211% 20.33%, 95.211% 22.198%, 94.93% 22.198%, 94.93% 24.725%, 97.042% 25.714%, 97.183% 26.923%, 98.028% 27.582%, 98.31% 28.681%, 98.873% 29.89%, 98.873% 30.989%, 99.155% 31.099%, 99.155% 31.648%, 98.873% 31.978%, 98.873% 33.187%, 97.746% 33.626%, 97.746% 34.725%, 98.028% 35.385%, 97.465% 36.154%, 97.465% 37.143%, 97.183% 37.802%, 96.62% 38.132%, 96.62% 38.791%, 97.465% 39.56%, 97.465% 40.879%, 96.901% 41.099%, 96.901% 41.758%, 97.746% 41.978%, 97.746% 43.516%, 96.338% 45.275%, 96.338% 46.374%, 96.901% 46.703%, 96.056% 47.033%, 96.056% 47.473%, 96.62% 47.912%, 96.62% 49.121%, 96.479% 50.549%, 97.042% 50.549%, 97.042% 51.978%, 96.62% 52.198%, 96.62% 53.956%, 97.465% 54.176%, 97.183% 54.505%, 97.183% 55.165%, 98.028% 55.165%, 98.169% 56.044%, 97.324% 56.923%, 97.465% 57.363%, 97.746% 57.473%, 97.746% 59.231%, 97.324% 59.56%, 97.746% 59.56%, 97.746% 60%, 97.465% 60%, 97.324% 60.659%, 96.338% 60.879%, 96.056% 61.868%, 96.62% 61.868%, 96.761% 62.418%, 96.056% 62.967%, 96.056% 63.297%, 96.62% 63.516%, 96.62% 63.956%, 95.775% 64.615%, 95.775% 65.714%, 96.338% 65.934%, 95.211% 66.374%, 94.93% 67.253%, 95.775% 67.912%, 95.775% 68.352%, 95.211% 68.352%, 95.211% 69.011%, 96.056% 70.33%, 96.056% 71.648%, 94.93% 72.088%, 94.93% 72.747%, 94.648% 72.747%, 94.648% 73.407%, 95.634% 73.736%, 95.493% 74.945%, 95.775% 74.945%, 97.183% 77.473%, 96.056% 78.681%, 96.056% 79.121%, 97.183% 80.33%, 97.183% 80.879%, 99.718% 83.187%, 98.592% 84.286%, 98.592% 84.725%, 99.155% 85.385%, 98.451% 85.934%, 98.451% 86.703%, 99.155% 86.703%, 99.155% 89.121%, 98.028% 89.89%, 98.028% 91.978%, 98.028% 93.187%, 97.465% 93.297%, 97.465% 93.627%, 98.028% 93.846%, 96.62% 94.505%, 96.62% 95.495%, 97.465% 96.154%, 97.324% 98.022%, 96.62% 98.572%, 96.62% 99.67%, 96.901% 99.67%);
}
.contact-touch-container .contact-get-in-touch-input .contact-page-circle-design {
  position: absolute;
  height: 180px;
  width: 180px;
  bottom: -30px;
  left: -20px;
  background-image: url("./ContactPageImage/circle-contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
  position: absolute;
  height: 220px;
  width: 220px;
  top: -40px;
  right: 0px;
  background-image: url("./ContactPageImage/arrow-contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-three {
  position: absolute;
  height: 350px;
  width: 350px;
  z-index: -1;
  background-image: url("./ContactPageImage/sakura.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 25px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-items: flex-start;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
  font-size: 50px;
  font-family: "Averia Libre";
  font-weight: 600;
  color: rgb(49, 49, 49);
  font-size: 55px;
  color: white;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
  color: white;
  line-height: 25px;
  font-size: 13px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 40px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
  height: 240px;
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 5px;
  padding-left: 10px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get {
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 5px;
  color: white;
  background-color: transparent;
  font-size: 15px;
  font-family: "Roboto";
  letter-spacing: 0.8px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get:focus {
  border: none;
  outline: none;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get::placeholder {
  font-size: 13px;
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.459);
  letter-spacing: 1px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message {
  height: 160px;
  width: 100%;
  border-radius: 5px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 10px;
  font-size: 16px;
  font-family: "Roboto";
  letter-spacing: 0.5px;
  line-height: 25px;
  color: white;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp::placeholder {
  font-size: 13px;
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.459);
  letter-spacing: 1px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp:focus {
  border: 1px solid white;
  outline: none;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
  height: 100%;
  width: 100%;
  resize: none;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin-top: 20px;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn {
  border: none;
  height: 55px;
  width: 190px;
  border-radius: 30px;
  background-color: rgb(255, 52, 66);
  border: 2px solid rgba(10, 10, 10, 0.365);
  font-size: 15px;
  font-weight: 500;
  font-family: "Anta";
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  cursor: pointer;
  gap: 15px;
  overflow: hidden;
  position: relative;
  transition-duration: 0.4s;
  z-index: 1;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn .span-for-btn-proceed {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #fec300;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  transition-duration: 0.4s;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn .design-div-for-tud-btn-proceed {
  position: absolute;
  height: 0px;
  width: 0px;
  border-radius: 100%;
  z-index: -1;
  background-color: #fec300;
  right: 45px;
  transition-duration: 0.6s;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn:hover .design-div-for-tud-btn-proceed {
  height: 110px;
  width: 220px;
  transition-duration: 0.6s;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn:hover {
  color: black;
  transition-duration: 0.4s;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn:hover .span-for-btn-proceed {
  color: rgb(255, 56, 56);
  transition-duration: 0.4s;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .submitted-btn {
  border: none;
  height: 55px;
  width: 190px;
  border-radius: 30px;
  background-color: rgb(255, 52, 66);
  border: 2px solid rgba(10, 10, 10, 0.365);
  font-size: 15px;
  font-weight: 500;
  font-family: "Anta";
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  cursor: pointer;
  gap: 15px;
  overflow: hidden;
  position: relative;
  transition-duration: 0.4s;
  z-index: 1;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceeding-btn {
  border: none;
  height: 55px;
  width: 190px;
  border-radius: 30px;
  background-color: rgb(255, 52, 66);
  border: 2px solid rgba(10, 10, 10, 0.365);
  font-size: 15px;
  font-weight: 500;
  font-family: "Anta";
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  cursor: pointer;
  gap: 15px;
  overflow: hidden;
  position: relative;
  transition-duration: 0.4s;
  z-index: 1;
}
.contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceeding-btn .loading-for-btn-proceeding {
  font-size: 25px;
  color: white;
  animation: loadinproceedin 0.5s ease-in-out infinite forwards;
}
@keyframes loadinproceedin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.contact-touch-container .contact-get-in-touch-img {
  height: 100%;
  width: 100%;
  flex: 1 1 45%;
  position: relative;
  background-image: url("https://ik.imagekit.io/fu0jk2cou/brown%20concrete%20building%20nea....jpg?updatedAt=1748843673064");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  clip-path: polygon(3.099% 99.67%, 3.099% 100%, 100% 100%, 100% 0%, 1.69% 0%, 1.69% 2.967%, 0.141% 4.066%, 0.986% 4.396%, 0.986% 5.275%, 0% 5.824%, 0.563% 5.934%, 0.563% 7.253%, 0% 7.473%, 2.817% 9.011%, 2.817% 10.769%, 2.394% 10.879%, 2.394% 12.198%, 3.099% 12.527%, 3.099% 12.747%, 2.254% 12.747%, 2.394% 13.736%, 5.07% 15.275%, 5.211% 15.934%, 5.352% 16.703%, 5.07% 16.923%, 5.07% 18.022%, 5.352% 18.022%, 5.352% 19.89%, 5.07% 20.33%, 4.789% 20.33%, 4.789% 22.198%, 5.07% 22.198%, 5.07% 24.725%, 2.958% 25.714%, 2.817% 26.923%, 1.972% 27.582%, 1.69% 28.681%, 1.127% 29.89%, 1.127% 30.989%, 0.845% 31.099%, 0.845% 31.648%, 1.127% 31.978%, 1.127% 33.187%, 2.254% 33.626%, 2.254% 34.725%, 1.972% 35.385%, 2.535% 36.154%, 2.535% 37.143%, 2.817% 37.802%, 3.38% 38.132%, 3.38% 38.791%, 2.535% 39.56%, 2.535% 40.879%, 3.099% 41.099%, 3.099% 41.758%, 2.254% 41.978%, 2.254% 43.516%, 3.662% 45.275%, 3.662% 46.374%, 3.099% 46.703%, 3.944% 47.033%, 3.944% 47.473%, 3.38% 47.912%, 3.38% 49.121%, 3.521% 50.549%, 2.958% 50.549%, 2.958% 51.978%, 3.38% 52.198%, 3.38% 53.956%, 2.535% 54.176%, 2.817% 54.505%, 2.817% 55.165%, 1.972% 55.165%, 1.831% 56.044%, 2.676% 56.923%, 2.535% 57.363%, 2.254% 57.473%, 2.254% 59.231%, 2.676% 59.56%, 2.254% 59.56%, 2.254% 60%, 2.535% 60%, 2.676% 60.659%, 3.662% 60.879%, 3.944% 61.868%, 3.38% 61.868%, 3.239% 62.418%, 3.944% 62.967%, 3.944% 63.297%, 3.38% 63.516%, 3.38% 63.956%, 4.225% 64.615%, 4.225% 65.714%, 3.662% 65.934%, 4.789% 66.374%, 5.07% 67.253%, 4.225% 67.912%, 4.225% 68.352%, 4.789% 68.352%, 4.789% 69.011%, 3.944% 70.33%, 3.944% 71.648%, 5.07% 72.088%, 5.07% 72.747%, 5.352% 72.747%, 5.352% 73.407%, 4.366% 73.736%, 4.507% 74.945%, 4.225% 74.945%, 2.817% 77.473%, 3.944% 78.681%, 3.944% 79.121%, 2.817% 80.33%, 2.817% 80.879%, 0.282% 83.187%, 1.408% 84.286%, 1.408% 84.725%, 0.845% 85.385%, 1.549% 85.934%, 1.549% 86.703%, 0.845% 86.703%, 0.845% 89.121%, 1.972% 89.89%, 1.972% 91.978%, 1.972% 93.187%, 2.535% 93.297%, 2.535% 93.627%, 1.972% 93.846%, 3.38% 94.505%, 3.38% 95.495%, 2.535% 96.154%, 2.676% 98.022%, 3.38% 98.572%, 3.38% 99.67%, 3.099% 99.67%);
}
.contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img {
  height: 100%;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.808);
  overflow: hidden;
  position: relative;
}
.contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
  position: absolute;
  height: 450px;
  width: 450px;
  top: 6%;
  left: 10%;
  background-color: white;
  clip-path: polygon(16.865% 98.042%, 14.335% 99.987%, 0% 12.061%, 87.274% 0%, 99.922% 78.394%, 97.814% 78.394%, 94.441% 75.671%, 91.49% 75.865%, 91.279% 74.893%, 90.436% 74.893%, 89.382% 75.865%, 86.642% 75.476%, 82.215% 71.586%, 79.474% 71.78%, 79.263% 71.391%, 76.944% 71.78%, 74.626% 70.224%, 71.464% 71.391%, 67.036% 69.446%, 65.35% 70.613%, 60.712% 67.695%, 58.604% 67.501%, 56.707% 68.473%, 54.388% 67.306%, 52.702% 67.501%, 52.702% 71.78%, 50.172% 73.726%, 50.172% 77.033%, 47.221% 80.923%, 47.221% 85.203%, 45.956% 85.592%, 43.848% 88.51%, 43.426% 89.482%, 44.691% 89.871%, 44.902% 90.455%, 42.372% 95.124%, 41.318% 94.734%, 39.421% 94.734%, 39.21% 95.513%, 37.945% 95.124%, 36.048% 95.124%, 35.837% 95.902%, 31.621% 96.096%, 31.41% 97.458%, 26.562% 97.458%, 25.508% 99.014%, 22.978% 99.014%, 20.027% 97.458%, 17.497% 97.458%, 16.865% 98.042%);
  transform: translateX(400px) translateY(-200px) rotate(-25deg);
  opacity: 0;
  transition-duration: 1s;
}
.contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one .contact-get-img-inner-one {
  height: 97%;
  width: 100%;
  background-color: aquamarine;
  clip-path: polygon(16.865% 98.042%, 14.335% 99.987%, 0% 12.061%, 87.274% 0%, 99.922% 78.394%, 97.814% 78.394%, 94.441% 75.671%, 91.49% 75.865%, 91.279% 74.893%, 90.436% 74.893%, 89.382% 75.865%, 86.642% 75.476%, 82.215% 71.586%, 79.474% 71.78%, 79.263% 71.391%, 76.944% 71.78%, 74.626% 70.224%, 71.464% 71.391%, 67.036% 69.446%, 65.35% 70.613%, 60.712% 67.695%, 58.604% 67.501%, 56.707% 68.473%, 54.388% 67.306%, 52.702% 67.501%, 52.702% 71.78%, 50.172% 73.726%, 50.172% 77.033%, 47.221% 80.923%, 47.221% 85.203%, 45.956% 85.592%, 43.848% 88.51%, 43.426% 89.482%, 44.691% 89.871%, 44.902% 90.455%, 42.372% 95.124%, 41.318% 94.734%, 39.421% 94.734%, 39.21% 95.513%, 37.945% 95.124%, 36.048% 95.124%, 35.837% 95.902%, 31.621% 96.096%, 31.41% 97.458%, 26.562% 97.458%, 25.508% 99.014%, 22.978% 99.014%, 20.027% 97.458%, 17.497% 97.458%, 16.865% 98.042%);
  background-image: url("https://themexriver.com/wp/edrio/wp-content/uploads/2025/04/cn6.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one-no-move {
  transform: translateX(0px) translateY(0px) rotate(-3deg);
  opacity: 1;
  transition-duration: 1s;
}
.contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
  position: absolute;
  height: 400px;
  width: 400px;
  bottom: 6%;
  right: 8%;
  background-color: white;
  clip-path: polygon(4.999% 71.686%, 0% 77.479%, 0% 78.685%, 73.239% 99.926%, 99.986% 16.413%, 87.737% 13.034%, 83.738% 12.551%, 83.738% 13.758%, 79.989% 13.758%, 78.239% 11.586%, 78.239% 11.586%, 77.934% 11.533%, 77.58% 11.474%, 77.192% 11.41%, 76.784% 11.346%, 76.37% 11.284%, 75.966% 11.226%, 75.586% 11.177%, 75.246% 11.138%, 74.958% 11.112%, 74.739% 11.103%, 74.739% 11.103%, 74.587% 11.13%, 74.485% 11.207%, 74.427% 11.324%, 74.408% 11.474%, 74.421% 11.646%, 74.459% 11.833%, 74.516% 12.025%, 74.586% 12.215%, 74.662% 12.393%, 74.739% 12.551%, 72.99% 12.551%, 67.49% 9.172%, 65.74% 8.206%, 64.491% 9.172%, 63.241% 9.172%, 58.242% 3.862%, 56.492% 4.586%, 55.742% 4.586%, 52.992% 3.862%, 51.993% 3.138%, 48.243% 2.655%, 48.243% 3.862%, 46.743% 3.862%, 43.494% 2.655%, 40.744% 2.655%, 40.244% 3.862%, 39.244% 3.862%, 37.245% 2.172%, 34.245% 2.655%, 32.745% 2.655%, 29.496% 0.965%, 26.746% 0.965%, 26.746% 0%, 24.996% 0%, 24.996% 0.965%, 23.247% 0.965%, 17.497% 8.689%, 17.497% 11.586%, 18.747% 12.551%, 18.747% 13.758%, 17.497% 14.965%, 17.497% 20.275%, 16.248% 21.723%, 16.248% 24.619%, 14.498% 26.792%, 15.248% 29.447%, 14.748% 33.55%, 13.498% 34.033%, 12.998% 37.17%, 11.748% 38.136%, 12.248% 41.756%, 9.999% 42.722%, 9.999% 44.17%, 8.499% 44.653%, 8.499% 47.066%, 7.999% 48.273%, 6.999% 52.618%, 8.499% 52.618%, 8.499% 54.066%, 6.999% 56.48%, 6.999% 58.169%, 6.249% 59.859%, 6.999% 61.066%, 6.999% 62.997%, 3.749% 67.341%, 3.749% 69.514%, 4.999% 71.686%);
  transform: translateX(-300px) translateY(200px) rotate(30deg);
  opacity: 0;
  transition-duration: 1s;
}
.contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two .contact-get-img-inner-two {
  height: 97%;
  width: 97%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: aquamarine;
  clip-path: polygon(4.999% 71.686%, 0% 77.479%, 0% 78.685%, 73.239% 99.926%, 99.986% 16.413%, 87.737% 13.034%, 83.738% 12.551%, 83.738% 13.758%, 79.989% 13.758%, 78.239% 11.586%, 78.239% 11.586%, 77.934% 11.533%, 77.58% 11.474%, 77.192% 11.41%, 76.784% 11.346%, 76.37% 11.284%, 75.966% 11.226%, 75.586% 11.177%, 75.246% 11.138%, 74.958% 11.112%, 74.739% 11.103%, 74.739% 11.103%, 74.587% 11.13%, 74.485% 11.207%, 74.427% 11.324%, 74.408% 11.474%, 74.421% 11.646%, 74.459% 11.833%, 74.516% 12.025%, 74.586% 12.215%, 74.662% 12.393%, 74.739% 12.551%, 72.99% 12.551%, 67.49% 9.172%, 65.74% 8.206%, 64.491% 9.172%, 63.241% 9.172%, 58.242% 3.862%, 56.492% 4.586%, 55.742% 4.586%, 52.992% 3.862%, 51.993% 3.138%, 48.243% 2.655%, 48.243% 3.862%, 46.743% 3.862%, 43.494% 2.655%, 40.744% 2.655%, 40.244% 3.862%, 39.244% 3.862%, 37.245% 2.172%, 34.245% 2.655%, 32.745% 2.655%, 29.496% 0.965%, 26.746% 0.965%, 26.746% 0%, 24.996% 0%, 24.996% 0.965%, 23.247% 0.965%, 17.497% 8.689%, 17.497% 11.586%, 18.747% 12.551%, 18.747% 13.758%, 17.497% 14.965%, 17.497% 20.275%, 16.248% 21.723%, 16.248% 24.619%, 14.498% 26.792%, 15.248% 29.447%, 14.748% 33.55%, 13.498% 34.033%, 12.998% 37.17%, 11.748% 38.136%, 12.248% 41.756%, 9.999% 42.722%, 9.999% 44.17%, 8.499% 44.653%, 8.499% 47.066%, 7.999% 48.273%, 6.999% 52.618%, 8.499% 52.618%, 8.499% 54.066%, 6.999% 56.48%, 6.999% 58.169%, 6.249% 59.859%, 6.999% 61.066%, 6.999% 62.997%, 3.749% 67.341%, 3.749% 69.514%, 4.999% 71.686%);
  background-image: url("https://themexriver.com/wp/edrio/wp-content/uploads/2025/04/cn5.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two-no-move {
  transform: translateX(0px) translateY(0px) rotate(3deg);
  opacity: 1;
  transition-duration: 1s;
}

@media screen and (max-width: 1450px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    right: 1%;
    bottom: 10%;
  }
}
@media screen and (max-width: 1380px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    height: 420px;
    width: 420px;
    top: 10%;
  }
}
@media screen and (max-width: 1350px) {
  .contact-touch-container .contact-get-in-touch-input {
    padding: 0px 60px;
    flex: 1 1 52%;
    padding-left: 30px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title {
    width: 100%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    width: 100%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    width: 85%;
  }
  .contact-touch-container .contact-get-in-touch-img {
    flex: 1 1 48%;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 380px;
    width: 380px;
    bottom: 12%;
    right: 8%;
  }
}
@media screen and (max-width: 1300px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 380px;
    width: 380px;
    bottom: 12%;
    right: 3%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 46px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    font-size: 12px;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    height: 380px;
    width: 380px;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 350px;
    width: 350px;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    bottom: 16%;
  }
}
@media screen and (max-width: 1150px) {
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    font-size: 11px;
    letter-spacing: 0.5px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    gap: 30px;
    row-gap: 40px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 190px;
    width: 190px;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    left: 5%;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    bottom: 18%;
    right: 5%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-three {
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 1090px) {
  .contact-touch-container .contact-get-in-touch-input {
    flex: 1 1 55%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 35px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    font-size: 9.5px;
    line-height: 20px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 150px;
    width: 150px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    height: 220px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get {
    font-size: 13px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get::placeholder {
    font-size: 11px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-three {
    height: 250px;
    width: 250px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn {
    height: 50px;
    width: 170px;
    font-size: 14px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn .span-for-btn-proceed {
    height: 18px;
    width: 18px;
    font-size: 10px;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    height: 350px;
    width: 350px;
    left: -1%;
    top: 8%;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 330px;
    width: 330px;
    right: -2%;
    bottom: 13%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    height: 150px;
    font-size: 13px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp::placeholder {
    font-size: 11px;
  }
}
@media screen and (max-width: 920px) {
  .contact-touch-container .contact-get-in-touch-input {
    padding-left: 20px;
    padding-right: 40px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    font-size: 9px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container {
    margin-top: 5px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design {
    height: 150px;
    width: 150px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    height: 200px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    height: 140px;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    height: 330px;
    width: 330px;
    top: 5%;
    left: 2%;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 300px;
    width: 300px;
    bottom: 20%;
    right: -1%;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two-no-move {
    transform: rotate(5deg);
  }
}
@media screen and (max-width: 870px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    height: 330px;
    width: 330px;
    top: 5%;
    left: -4%;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 315px;
    width: 315px;
    bottom: 13%;
    right: -6%;
  }
  .contact-touch-container {
    height: 110dvh;
  }
}
@media screen and (max-width: 820px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    height: 320px;
    width: 320px;
    left: -3%;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 300px;
    width: 300px;
    bottom: 15%;
    right: -5%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn {
    margin-top: 0px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn {
    height: 46px;
    font-size: 13px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn .span-for-btn-proceed {
    height: 16px;
    width: 16px;
    font-size: 9px;
  }
  .apply-for-contact {
    display: none;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 39px;
  }
}
@media screen and (max-width: 780px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 300px;
    width: 300px;
    bottom: 14%;
    right: -15%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get {
    font-size: 12px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get::placeholder {
    font-size: 10px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    font-size: 12px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp::placeholder {
    font-size: 10px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    padding-top: 10px;
  }
}
@media screen and (max-width: 730px) {
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    column-gap: 15px;
    row-gap: 30px;
    height: 180px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 38px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 130px;
    width: 130px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    height: 120px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message {
    height: 140px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container {
    margin-top: 10px;
  }
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 275px;
    width: 275px;
    bottom: 20%;
    right: -14%;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn {
    height: 40px;
    width: 150px;
  }
}
@media screen and (max-width: 690px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-one {
    height: 290px;
    width: 290px;
    left: -8%;
  }
}
@media screen and (max-width: 640px) {
  .contact-touch-container .contact-get-in-touch-img .contact-get-in-touch-inner-img .contact-get-img-two {
    height: 250px;
    width: 250px;
    bottom: 26%;
  }
}
@media screen and (max-width: 610px) {
  .contact-touch-container .contact-get-in-touch-img {
    display: none;
  }
  .contact-touch-container {
    height: 100dvh;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 180px;
    width: 180px;
  }
  .apply-for-contact {
    display: contents;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 42px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    font-size: 11.5px;
    line-height: 23px;
  }
  .contact-touch-container .contact-get-in-touch-input {
    padding-left: 25px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    height: 190px;
    gap: 30px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    height: 130px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message {
    height: 130px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn {
    margin-top: 10px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-three {
    height: 300px;
    width: 300px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get {
    font-size: 14px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get::placeholder {
    font-size: 11px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    font-size: 14px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp::placeholder {
    font-size: 11px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn {
    height: 43px;
  }
}
@media screen and (max-width: 570px) {
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 38px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    font-size: 10px;
    line-height: 20px;
  }
}
@media screen and (max-width: 490px) {
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 160px;
    width: 160px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    font-size: 8.5px;
    font-family: "Inter";
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 35px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container {
    margin-top: 0px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    height: 185px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design {
    height: 135px;
    width: 135px;
  }
}
@media screen and (max-width: 430px) {
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-two {
    line-height: 18px;
    font-size: 8px;
  }
  .contact-touch-container .contact-get-in-touch-input {
    padding-left: 20px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 30px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    height: 180px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get {
    font-size: 13px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get::placeholder {
    font-size: 10px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    font-size: 13px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp::placeholder {
    font-size: 10px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container {
    gap: 30px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn .design-div-for-tud-btn-proceed {
    right: 32px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 150px;
    width: 150px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-three {
    height: 270px;
    width: 270px;
  }
}
@media screen and (max-width: 380px) {
  .contact-touch-container .contact-get-in-touch-input {
    padding-right: 15px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 140px;
    width: 140px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    gap: 20px;
    row-gap: 30px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    height: 180px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get {
    font-size: 11px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info .input-bar .input-bar-contact-get::placeholder {
    font-size: 9px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    font-size: 11px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp::placeholder {
    font-size: 9px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn {
    width: 130px;
    height: 40px;
    font-size: 12px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .proceed-main-btn .proceed-btn .design-div-for-tud-btn-proceed {
    right: 24px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-three {
    height: 250px;
    width: 250px;
  }
}
@media screen and (max-width: 330px) {
  .contact-touch-container .contact-get-in-touch-input {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-title .contact-get-para-one {
    font-size: 28px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message {
    height: 120px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-message .message-inp {
    height: 120px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-get-title-container .contact-get-in-touch-input-container .input-container-basic-info {
    height: 160px;
    gap: 15px;
    row-gap: 25px;
  }
  .contact-touch-container .contact-get-in-touch-input .contact-page-circle-design-two {
    height: 120px;
    width: 120px;
  }
}

/*# sourceMappingURL=ContactTouch.css.map */
