
@use '../main-color';
@use '../Column-center';
@use '../Row-center';

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@mixin center-auto-container{
    height:auto;
    width: 100%;
    @include Column-center.column-center;
}


.nav-bar-container{
    @include center-auto-container;
   
    
}

.contact-in-nav-bar{
    width: 100%;
    height: 40px;
    background-color: main-color.$main-color-for-app;
    @include Row-center.row-center;
 padding-left: 30px;
    padding-right: 30px;

    .phone-div-in-nav{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(50%);
        @include Row-center.row-center;
        justify-content: flex-start;
        gap: 60px;
       
        .call-in-nav{
            @include Row-center.row-center;
            gap:5px;
            color: white;
            font-size: 15px;
             font-family: 'Roboto'; 
        }
        .mail-in-nav{

              @include Row-center.row-center;
               gap:5px;
            color: white ;
             font-size: 15px;
            font-family: 'Roboto';  
        }
        .icon-in-nav{
            font-size: 19px;
        }
    }
    .location-div-in-nav{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(50%);
       @include Row-center.row-center;
        justify-content: flex-end;

        .location-in-nav{
            padding-right: 60px;
            @include Row-center.row-center;
            gap:5px;
            color: white ;
             font-size: 14px;
            font-family: 'Cagliostro';  
            letter-spacing: 1px;
        }
        .icon-in-nav-loc{
            font-size: 16px;
        }
    }

}

.contact-in-nav-bar-for-course-page{
    height: 35px;
}




.nav-bar-items-container{
    width: 100%;
    height: 90px;
       background-color: rgb(255, 243, 243);
       
    @include Row-center.row-center;
    

    .logo-div-nav{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(20%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 40px;
        align-items: center;
        gap: 10px;
    }
    .logo-image{
        height:50px;
        width:50px;
     
    }
    .title-logo{
        height: auto;
        width: auto;
        @include Column-center.column-center;
        align-items: flex-start;
        gap: 3px;

        .title-main-name{
            font-size: 16px;
            font-family: 'Nova Flat';
            font-weight: 600;
            color: rgb(30, 15, 53);
        }
        .title-sub-main-name{
              font-size: 14px;
            font-family: 'Nova Flat';
            font-weight: 600;
            color: rgb(30, 15, 53);
        }
        
    }
    .nav-items{
          height: 100%;
        width: 100%;
        flex: 1 1 calc(60%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .course-nav{
            position: relative;
                  .courses-showing-nav-bar{
                            background-color: #f3f3f3;
                            position: absolute;
                            height: auto;
                            width: auto;
                            min-width: 150px;
                            @include Column-center.column-center;
                            gap: 15px;
                            top: 110%;
                            z-index: 10;
                            border-radius: 15px;
                            box-shadow: rgba(37, 63, 74, 0.12) 0px 2px 4px 0px, rgba(37, 63, 74, 0.12) 0px 2px 16px 0px;   
                            border: 1px solid rgb(255, 225, 225);
                            background-color: #ffffff;   
                            gap: 20px;
                            padding:20px 20px 20px 20px;
                             transform:translateY(-100px) scale(0);
                            opacity: 0;
                            transition-duration: 0.4s;
                           
                            .course-more-arrow{
                                height: 14px;
                                width: 14px;
                                background-color: #ffffff; 
                                border-top: 1px solid rgb(255, 225, 225);  
                                border-left: 1px solid rgb(255, 225, 225);
                                transform: rotate(45deg);
                                position: absolute;
                                top:-7px;
                            }
                            .course-filter-para{
                                width: 100%;
                                @include Column-center.column-center;
                                 font-size: 13px;
                                font-family: 'Nunito';
                                text-decoration: none;
                                font-weight: 700;
                                color: #5c5c5c;
                                transform: scale(1);
                                transition-duration: 0.3s;
                                


                            } .course-filter-para:hover{
                                transform: scale(1.05);
                                transition-duration: 0.3s;

                            }
                        }
        }
        .course-nav:hover .courses-showing-nav-bar{
                    transform:translateY(0px) scale(1);
                    opacity: 1;
                    transition-duration: 0.4s;
        }

        .nav-item-insider{
            height: 100%;
            width: auto;
            padding-left: 25px;
            padding-right: 25px;
                   @include Column-center.column-center;

            position: relative;
            
            .p-for-nav-item{
                font-size: 17px;
                  font-family: 'Ubuntu';
                  font-weight: 400;
                  color: rgb(58, 58, 58);
                 @include Row-center.row-center;
                  gap: 5px;
                  cursor: pointer;
                    transition-duration: 0.2s;
                  transition-timing-function: linear;
                  .arrow-icon-in-nav{
                    font-size: 14px;
                    color: rgb(83, 83, 83);
                     transform: rotate(0deg);
                        transition-duration: 0.2s;
                  transition-timing-function: linear;
                  }
                   

                
            }
            .p-for-nav-item-for-course{
                font-size: 16px;
                  
                  .arrow-icon-in-nav-for-course{
                    font-size: 13px;
                 
                  }
                   

                
            }
    
            .active-in-nav{
                    color: main-color.$main-color-for-app;
                      transition-duration: 0.2s;
                  transition-timing-function: linear;
            }
            .line-in-hover-nav{
                position: absolute;
                height: 3px;
                width: 0%;
                background-color: main-color.$main-color-for-app;
                border-radius:500px;
                bottom: 0px;
                 right: 0px;
                 opacity: 0;
                 transition-duration: 0.3s;
                  transition-timing-function: linear;
            }
            .line-in-hover-nav-for-course{
                height: 2px;
            }
            .active-line-in-nav-for-course{
                width: 100%;
                    position: absolute;
                height: 2px;
                background-color: main-color.$main-color-for-app;
                border-radius:500px;
                opacity: 1;
             }
             .active-line-in-nav{
                width: 100%;
                    position: absolute;
                height: 3px;
                background-color: main-color.$main-color-for-app;
                border-radius:500px;
                opacity: 1;
             }
             

             
            
        }
        .nav-item-insider:hover .p-for-nav-item{
                  color: main-color.$main-color-for-app;
                  transition-duration: 0.2s;
                  transition-timing-function: linear;
             }
              .nav-item-insider:hover .arrow-icon-in-nav{
                    color: main-color.$main-color-for-app;
                  transition-duration: 0.2s;
                  transition-timing-function: linear;
                    transform: rotate(90deg);
                  }
        .nav-item-insider:hover .line-in-hover-nav{
              opacity: 1;
            right: auto;left: 0px;
            width: 100%;
            
            transition-duration: 0.3s;
            transition-timing-function: linear;
        }

    }


    .side-bar-in-nav{
          height: 100%;
        width: 100%;
        flex: 1 1 calc(20%);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        color: black;
        padding-right: 50px;


        .icon-in-last-bar-nav{
            font-size: 20px;
            color: rgb(37, 0, 15);
            cursor: pointer;
            transition-duration: 0.2s;
                  transition-timing-function: linear;
        }
        .offer-bar{
            font-size: 28px;
        }

          .icon-in-last-bar-nav:hover{
                  color: main-color.$main-color-for-app;
                  transition-duration: 0.2s;
                  transition-timing-function: linear;
             }
    }
    
}

.nav-bar-for-course-page{
    height: 75px;
}

.nav-bar-sticky{
    position: sticky;
    top: 0px;
    z-index: 100;
}