
@use '../main-color';
@use '../Column-center';
@use '../Row-center';

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

@mixin center-auto-container{
    height:auto;
    width: 100%;
    @include Column-center.column-center;
}


.nav-bar-container{
    @include center-auto-container;
   
    
}



.mobile-screen-nav{
    height: auto;
    width: 100vw;
    @include Row-center.row-center;
    justify-content: space-between;
    padding: 10px;
    background-color: transparent;
    position: absolute;
    top: 0px;

    z-index: 100;
    display: none;
     .logo-div-nav{
        height:auto;
        width:auto;
      
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        align-items: center;
        gap: 6px;
    }
    .logo-image{
        height:43px;
        width:43px;
     
    }
    .title-logo{
        height: auto;
        width: auto;
        @include Column-center.column-center;
        align-items: flex-start;
        gap: 3px;

        .title-main-name{
            font-size: 13px;
            font-family: 'Nova Flat';
            font-weight: 600;
            color: rgb(30, 15, 53);
        }
        .title-sub-main-name{
              font-size: 11px;
            font-family: 'Nova Flat';
            font-weight: 600;
            color: rgb(30, 15, 53);
        }
        
    }
    .mobile-screen-burger-menu{
    height: auto;
    width: auto;
    font-size: 30px;
    color: main-color.$main-color-for-app;
    cursor: pointer;
    padding-right: 12px;
 
  
    }

 

}
.nav-bar-container-mob{
    transform: translateY(-100px);
    opacity: 0;
    transition-duration: 0.5s;
    z-index: 100;
    position: fixed;
    top: 0px;
        @include center-auto-container;
    .nav-bar-items-container-mob{
        width: 100%;
        height: auto;
        background-color: rgb(255, 243, 243);
        padding: 12px 8px;
        @include Row-center.row-center;
        justify-content: space-between;

        .logo-div-nav{
            height: auto;
            width: auto;
    
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
            align-items: center;
            gap: 6px;
        }
        .logo-image{
            height:38px;
            width:38px;
        
        }
        .title-logo{
            height: auto;
            width: auto;
            @include Column-center.column-center;
            align-items: flex-start;
            gap: 3px;

            .title-main-name{
                font-size: 13px;
                font-family: 'Nova Flat';
                font-weight: 600;
                color: rgb(30, 15, 53);
            }
            .title-sub-main-name{
                font-size: 11px;
                font-family: 'Nova Flat';
                font-weight: 600;
                color: rgb(30, 15, 53);
            }
            
        }



        .side-bar-in-nav{
            height: auto;
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 30px;
            color: rgb(86, 86, 86);
            padding-right: 10px;
        


            .icon-in-last-bar-nav{
                font-size: 17px;
                color: rgb(33, 33, 33);
                cursor: pointer;
                transition-duration: 0.2s;
                    transition-timing-function: linear;
            }
            .offer-bar{
                font-size: 25px;
            }

            .icon-in-last-bar-nav:hover{
                    color: main-color.$main-color-for-app;
                    transition-duration: 0.2s;
                    transition-timing-function: linear;
                }
        }
    
        
        

    }
    .contact-in-nav-bar-mob{
            width: 100%;
            height: 26px;
            background-color: main-color.$main-color-for-app;
            @include Row-center.row-center;
            padding-left: 30px;
                padding-right: 30px;

            .mover-in-nav-top{
                height: 100%;
                width: 300px;
                @include Row-center.row-center;
                gap: 150px;
                flex-grow: 0;
                flex-shrink: 0;
                overflow: hidden;
                position: relative;


                .nav-mover-para{
                    position: absolute;
                    transform: translateX(300px);
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 3px;
                    font-family: 'Griffy';
                    color: white;            
                }
                .nav-mover-para-0{
                        animation:text-mover-in-nav 6s linear infinite ;
                        animation-delay: 0s;
                }
                .nav-mover-para-1{
                        animation:text-mover-in-nav-two 6s linear infinite ;
                        animation-delay: 2s;

                }
                .nav-mover-para-2{
                        animation:text-mover-in-nav-three 6s linear infinite ;
                        animation-delay: 4s;

                }
                @keyframes text-mover-in-nav {
                    0%{
                        transform: translateX(300px);
                        
                    }
                    10%{
                        transform: translateX(300px);
                    }
                    
                    20%{
                        transform: translateX(150px);
                    }
                    30%{
                        transform: translateX(0px);
                    }
                    
                    40%{
                        transform: translateX(0px);
                    }
                    50%{
                        transform: translateX(0px);
                    }
                    60%{
                        transform: translateX(-150px);
                    }
                    70%{
                        transform: translateX(-300px);


                    }
                    80%{
                        transform: translateX(-300px);

                    }
                    90%{
                        transform: translateX(-300px);

                    }
                    
                    100%{
                        transform: translateX(-300px);

                    }
                }
                @keyframes text-mover-in-nav-two {
                    0%{
                        transform: translateX(300px);
                        
                    }
                    10%{
                        transform: translateX(300px);
                    }
                    20%{
                        transform: translateX(150px);
                    }
                    30%{
                        transform: translateX(0px);
                    }
                    
                    40%{
                        transform: translateX(0px);
                    }
                    50%{
                        transform: translateX(0px);
                    }
                    60%{
                        transform: translateX(-150px);


                    }
                    70%{
                        transform: translateX(-300px);

                    }
                    80%{
                        transform: translateX(-300px);

                    }
                    90%{
                        transform: translateX(-300px);

                    }
                    100%{
                        transform: translateX(-300px);

                    }
                }
                @keyframes text-mover-in-nav-three {
                        0%{
                        transform: translateX(300px);
                        
                    }
                    10%{
                        transform: translateX(300px);
                    }
                    20%{
                        transform: translateX(150px);
                    }
                    30%{
                        transform: translateX(0px);
                    }
                    
                    40%{
                        transform: translateX(0px);
                    }
                    50%{
                        transform: translateX(0px);
                    }
                    60%{
                        transform: translateX(-150px);


                    }
                    70%{
                        transform: translateX(-300px);

                    }
                    80%{
                        transform: translateX(-300px);

                    }
                    90%{
                        transform: translateX(-300px);

                    }
                    100%{
                        transform: translateX(-300px);

                    }
                }
            }

          

    }
    
}
.show-mobile-nav{
     transform: translateY(0px);
    opacity: 1;
    transition-duration: 0.5s;
}






.contact-in-nav-bar{
    width: 100%;
    height: 40px;
    background-color: main-color.$main-color-for-app;
    @include Row-center.row-center;
 padding-left: 30px;
    padding-right: 30px;

    .mover-in-nav-top{
        height: 100%;
        width: 300px;
        @include Row-center.row-center;
        gap: 150px;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;


        .nav-mover-para{
            position: absolute;
            transform: translateX(300px);
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 3px;
            font-family: 'Griffy';
            color: white;            
        }
        .nav-mover-para-0{
                animation:text-mover-in-nav 6s linear infinite ;
                animation-delay: 0s;
        }
        .nav-mover-para-1{
                animation:text-mover-in-nav-two 6s linear infinite ;
                animation-delay: 2s;

        }
        .nav-mover-para-2{
                 animation:text-mover-in-nav-three 6s linear infinite ;
                animation-delay: 4s;

        }
        @keyframes text-mover-in-nav {
            0%{
                transform: translateX(300px);
                
            }
            10%{
                 transform: translateX(300px);
            }
             
            20%{
                transform: translateX(150px);
            }
             30%{
                transform: translateX(0px);
            }
             
             40%{
                transform: translateX(0px);
            }
            50%{
                transform: translateX(0px);
            }
            60%{
                transform: translateX(-150px);
            }
            70%{
                transform: translateX(-300px);


            }
             80%{
                transform: translateX(-300px);

            }
            90%{
                transform: translateX(-300px);

            }
            
            100%{
                transform: translateX(-300px);

            }
        }
        @keyframes text-mover-in-nav-two {
               0%{
                transform: translateX(300px);
                
            }
            10%{
                 transform: translateX(300px);
            }
            20%{
                transform: translateX(150px);
            }
             30%{
                transform: translateX(0px);
            }
             
             40%{
                transform: translateX(0px);
            }
            50%{
                transform: translateX(0px);
            }
            60%{
                transform: translateX(-150px);


            }
             70%{
                transform: translateX(-300px);

            }
            80%{
                transform: translateX(-300px);

            }
            90%{
                transform: translateX(-300px);

            }
            100%{
                transform: translateX(-300px);

            }
        }
         @keyframes text-mover-in-nav-three {
                0%{
                transform: translateX(300px);
                
            }
            10%{
                 transform: translateX(300px);
            }
            20%{
                transform: translateX(150px);
            }
             30%{
                transform: translateX(0px);
            }
             
             40%{
                transform: translateX(0px);
            }
            50%{
                transform: translateX(0px);
            }
            60%{
                transform: translateX(-150px);


            }
             70%{
                transform: translateX(-300px);

            }
            80%{
                transform: translateX(-300px);

            }
            90%{
                transform: translateX(-300px);

            }
            100%{
                transform: translateX(-300px);

            }
        }
    }

    .phone-div-in-nav{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(50%);
        @include Row-center.row-center;
        justify-content: flex-start;
        gap: 60px;
       
        .call-in-nav{
            @include Row-center.row-center;
            gap:5px;
            color: white;
            font-size: 15px;
             font-family: 'Roboto'; 
        }
        .mail-in-nav{

              @include Row-center.row-center;
               gap:5px;
            color: white ;
             font-size: 15px;
            font-family: 'Roboto';  
        }
        .icon-in-nav{
            font-size: 19px;
        }
    }
    .location-div-in-nav{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(50%);
       @include Row-center.row-center;
        justify-content: flex-end;

        .location-in-nav{
            padding-right: 60px;
            @include Row-center.row-center;
            gap:5px;
            color: white ;
             font-size: 14px;
            font-family: 'Cagliostro';  
            letter-spacing: 1px;
        }
        .icon-in-nav-loc{
            font-size: 16px;
        }
    }

}

.contact-in-nav-bar-for-course-page{
    height: 35px;
}




.nav-bar-items-container{
    width: 100%;
    height: 90px;
       background-color: rgb(255, 243, 243);
    padding-left: 40px;
    padding-right: 50px;
    @include Row-center.row-center;
    

    .logo-div-nav{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(20%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        align-items: center;
        gap: 10px;
    }
    .logo-image{
        height:50px;
        width:50px;
     
    }
    .title-logo{
        height: auto;
        width: auto;
        @include Column-center.column-center;
        align-items: flex-start;
        gap: 3px;

        .title-main-name{
            font-size: 16px;
            font-family: 'Nova Flat';
            font-weight: 600;
            color: rgb(30, 15, 53);
        }
        .title-sub-main-name{
              font-size: 14px;
            font-family: 'Nova Flat';
            font-weight: 600;
            color: rgb(30, 15, 53);
        }
        
    }
    .nav-items{
          height: 100%;
        width: 100%;
        flex: 1 1 calc(60%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .course-nav{
            position: relative;
                  .courses-showing-nav-bar{
                            background-color: #f3f3f3;
                            position: absolute;
                            height: auto;
                            width: auto;
                            min-width: 150px;
                            @include Column-center.column-center;
                            gap: 15px;
                            top: 110%;
                            z-index: 10;
                            border-radius: 15px;
                            box-shadow: rgba(37, 63, 74, 0.12) 0px 2px 4px 0px, rgba(37, 63, 74, 0.12) 0px 2px 16px 0px;   
                            border: 1px solid rgb(255, 225, 225);
                            background-color: #ffffff;   
                            gap: 20px;
                            padding:20px 20px 20px 20px;
                             transform:translateY(-100px) scale(0);
                            opacity: 0;
                            transition-duration: 0.4s;
                           
                            .course-more-arrow{
                                height: 14px;
                                width: 14px;
                                background-color: #ffffff; 
                                border-top: 1px solid rgb(255, 225, 225);  
                                border-left: 1px solid rgb(255, 225, 225);
                                transform: rotate(45deg);
                                position: absolute;
                                top:-7px;
                            }
                            .course-filter-para{
                                width: 100%;
                                @include Column-center.column-center;
                                 font-size: 13px;
                                font-family: 'Nunito';
                                text-decoration: none;
                                font-weight: 700;
                                color: #5c5c5c;
                                transform: scale(1);
                                transition-duration: 0.3s;
                                


                            } .course-filter-para:hover{
                                transform: scale(1.05);
                                transition-duration: 0.3s;

                            }
                        }
        }
        .course-nav:hover .courses-showing-nav-bar{
                    transform:translateY(0px) scale(1);
                    opacity: 1;
                    transition-duration: 0.4s;
        }

        .nav-item-insider{
            height: 100%;
            width: auto;
            padding-left: 25px;
            padding-right: 25px;
                   @include Column-center.column-center;

            position: relative;
            
            .p-for-nav-item{
                font-size: 17px;
                  font-family: 'Ubuntu';
                  font-weight: 400;
                  color: rgb(58, 58, 58);
                 @include Row-center.row-center;
                  gap: 5px;
                  cursor: pointer;
                    transition-duration: 0.2s;
                  transition-timing-function: linear;
                  .arrow-icon-in-nav{
                    font-size: 14px;
                    color: rgb(83, 83, 83);
                     transform: rotate(0deg);
                        transition-duration: 0.2s;
                  transition-timing-function: linear;
                  }
                   

                
            }
            .p-for-nav-item-for-course{
                font-size: 16px;
                  
                  .arrow-icon-in-nav-for-course{
                    font-size: 13px;
                 
                  }
                   

                
            }
    
            .active-in-nav{
                    color: main-color.$main-color-for-app;
                      transition-duration: 0.2s;
                  transition-timing-function: linear;
            }
            .line-in-hover-nav{
                position: absolute;
                height: 3px;
                width: 0%;
                background-color: main-color.$main-color-for-app;
                border-radius:500px;
                bottom: 0px;
                 right: 0px;
                 opacity: 0;
                 transition-duration: 0.3s;
                  transition-timing-function: linear;
            }
            .line-in-hover-nav-for-course{
                height: 2px;
            }
            .active-line-in-nav-for-course{
                width: 100%;
                    position: absolute;
                height: 2px;
                background-color: main-color.$main-color-for-app;
                border-radius:500px;
                opacity: 1;
             }
             .active-line-in-nav{
                width: 100%;
                    position: absolute;
                height: 3px;
                background-color: main-color.$main-color-for-app;
                border-radius:500px;
                opacity: 1;
             }
             

             
            
        }
        .nav-item-insider:hover .p-for-nav-item{
                  color: main-color.$main-color-for-app;
                  transition-duration: 0.2s;
                  transition-timing-function: linear;
             }
              .nav-item-insider:hover .arrow-icon-in-nav{
                    color: main-color.$main-color-for-app;
                  transition-duration: 0.2s;
                  transition-timing-function: linear;
                    transform: rotate(90deg);
                  }
        .nav-item-insider:hover .line-in-hover-nav{
              opacity: 1;
            right: auto;left: 0px;
            width: 100%;
            
            transition-duration: 0.3s;
            transition-timing-function: linear;
        }

    }


    .side-bar-in-nav{
          height: 100%;
        width: 100%;
        flex: 1 1 calc(20%);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        color: black;
       


        .icon-in-last-bar-nav{
            font-size: 20px;
            color: rgb(37, 0, 15);
            cursor: pointer;
            transition-duration: 0.2s;
                  transition-timing-function: linear;
        }
        .offer-bar{
            font-size: 28px;
        }

          .icon-in-last-bar-nav:hover{
                  color: main-color.$main-color-for-app;
                  transition-duration: 0.2s;
                  transition-timing-function: linear;
             }
    }
    
}


.nav-bar-for-course-page{
    height: 75px;
}

.nav-bar-sticky{
    position: sticky;
    top: 0px;
    z-index: 100;
}
.nav-bar-sticky-scroll-mob{
 position: sticky;
    top: 0px;
    z-index: 100;
}



@media screen and  (max-width:1260px) {
    .nav-bar-items-container{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and  (max-width:1200px) {
    .nav-bar-items-container .nav-items .nav-item-insider{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-bar-items-container .side-bar-in-nav{
        gap: 30px;
    }
}

@media screen and  (max-width:1150px) {
       .nav-bar-items-container{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and  (max-width:1090px) {
    .contact-in-nav-bar .phone-div-in-nav .call-in-nav,.contact-in-nav-bar .phone-div-in-nav .mail-in-nav,.contact-in-nav-bar .location-div-in-nav .location-in-nav{
        font-size: 12px;
    }
    .contact-in-nav-bar .phone-div-in-nav .icon-in-nav,.contact-in-nav-bar .phone-div-in-nav .icon-in-nav,.contact-in-nav-bar .location-div-in-nav .icon-in-nav-loc{
        font-size: 14px;
    }
    .contact-in-nav-bar{
        height: 32px;
    }
    .contact-in-nav-bar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact-in-nav-bar .location-div-in-nav .location-in-nav{
        padding-right: 40px;
    }
    .contact-in-nav-bar .phone-div-in-nav{
        gap: 30px;
    }
    .contact-in-nav-bar .location-div-in-nav .location-in-nav{
        font-family: 'Roboto';
        letter-spacing: 0.5px;
    }
    .nav-bar-items-container{
        height: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-bar-items-container .logo-image{
        height: 40px;
        width: 40px;
    }
    .nav-bar-items-container .title-logo .title-main-name{
        font-size: 14px;
    }
    .nav-bar-items-container .title-logo .title-sub-main-name{
        font-size: 12px;
    }
    .nav-bar-items-container .title-logo{
        gap: 5px;
    }
    .nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item{
        font-size: 13.5px;
        font-family: 'Inter';
        font-weight: 500;
    }
    .nav-bar-items-container .nav-items .nav-item-insider{
        padding-left: 14px;
        padding-right: 14px;
    }
    .nav-bar-items-container .side-bar-in-nav .icon-in-last-bar-nav{
        font-size: 18px;
    }
    .nav-bar-items-container .side-bar-in-nav .offer-bar{
        font-size: 24px;
    }
    .nav-bar-items-container .side-bar-in-nav{
        gap: 25px;
    }
}



@media screen and  (max-width:900px) {
    .contact-in-nav-bar .location-div-in-nav .location-in-nav{
        padding-right: 20px;
    }
    .contact-in-nav-bar .phone-div-in-nav .call-in-nav, .contact-in-nav-bar .phone-div-in-nav .mail-in-nav, .contact-in-nav-bar .location-div-in-nav .location-in-nav{
        font-size: 11.5px;
    }
    .nav-bar-items-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-bar-items-container .side-bar-in-nav{
        gap: 24px;
    }
    .nav-bar-items-container .side-bar-in-nav .icon-in-last-bar-nav{
        font-size: 17.5px;
    }
   .nav-bar-items-container .side-bar-in-nav .offer-bar{
        font-size: 20px;
    }
    .nav-bar-items-container .nav-items{
        gap: 10px;
    }
}


@media screen and  (max-width:850px) {
    .nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item{
        font-size: 13px;
    }
    .nav-bar-items-container .nav-items{
        gap: 6px;
    }
    .nav-bar-items-container .nav-items .nav-item-insider{
        padding-left: 13px;
        padding-right: 13px;
    }
}

@media screen and  (max-width:810px) {
    .nav-bar-items-container{
        padding-left: 8px;
        padding-right: 8px;
    }
    .nav-bar-items-container .side-bar-in-nav{
        gap: 20px;
    }
    .nav-bar-items-container .side-bar-in-nav .icon-in-last-bar-nav{
        font-size: 16px;
    }
    .nav-bar-items-container .side-bar-in-nav .offer-bar{
        font-size: 20px;
    }
    .nav-bar-items-container .title-logo .title-main-name{
        font-size: 13px;
    }
    .nav-bar-items-container .title-logo .title-sub-main-name{
        font-size: 11px;
    }.nav-bar-items-container .nav-items .nav-item-insider{
        padding-left: 11px;
        padding-right: 11px;
    }.nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item{
        font-size: 12.5px;
        font-family:'Open Sans';
        font-weight: 600;
    }
    .nav-bar-items-container .nav-items .nav-item-insider .active-line-in-nav{
        height: 2px;
    }
}


@media screen and  (max-width:730px) {
.nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item{
        font-size: 12px;
        font-family:'Open Sans';
        font-weight: 600;
    }
    .nav-bar-items-container .side-bar-in-nav{
        gap: 18px;
    }.nav-bar-items-container .nav-items{
        gap: 3px;
    }
}


@media screen and  (max-width:690px) {

    .contact-in-nav-bar .phone-div-in-nav .call-in-nav, .contact-in-nav-bar .phone-div-in-nav .mail-in-nav, .contact-in-nav-bar .location-div-in-nav .location-in-nav{
        font-size: 10px;
    }.contact-in-nav-bar{
        height: 30px;
    }
    .nav-bar-items-container{
        height: 65px;
    }
}

@media screen and  (max-width:660px) {
    .nav-bar-items-container .side-bar-in-nav .icon-in-last-bar-nav{
        font-size: 15px;
    }
    .nav-bar-items-container .side-bar-in-nav .offer-bar{
        font-size: 18px;
    }
    .nav-bar-items-container .side-bar-in-nav{
        gap: 16px;
    }
    .nav-bar-items-container .logo-image {
        height: 36px;
        width: 36px;
    }
    .nav-bar-items-container .logo-div-nav{
        gap: 8px;
    }
    .nav-bar-items-container .title-logo .title-main-name{
        font-size: 12px;
    }
    .nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item .arrow-icon-in-nav{
        font-size: 13px;
    }
    .nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item{
        gap: 3px;
    }
}

@media screen and  (max-width:640px) {
    .nav-bar-container{
        display: none;
    }
    .mobile-screen-nav{
        display: flex;
    }
}



@media screen and  (max-width:450px) {
.nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav{
    gap: 25px;
    padding-right: 5px;
}
}

@media screen and  (max-width:400px) {
    .mobile-screen-nav .mobile-screen-burger-menu{
        font-size: 28px;
        padding-right: 10px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .title-logo .title-main-name{
        font-size: 12px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .logo-image{
        height: 36px;
        width: 36px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav .icon-in-last-bar-nav{
        font-size: 16.5px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav .offer-bar{
        font-size: 20px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav{
    gap: 20px;
    padding-right: 5px;
}
}

@media screen and  (max-width:350px) {
 .nav-bar-container-mob .nav-bar-items-container-mob .title-logo .title-main-name{
        font-size: 11.5px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .logo-image{
        height: 35px;
        width: 35px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav .icon-in-last-bar-nav{
        font-size: 16px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav .offer-bar{
        font-size: 19px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav{
    gap: 19px;
    padding-right: 5px;
}

.nav-bar-container-mob .nav-bar-items-container-mob{
    padding: 10px 8px;
}
}





@media screen and  (min-height:700px) and  (max-height:960px) and  (max-width:600px){
 .nav-bar-container-mob .nav-bar-items-container-mob .title-logo .title-main-name{
        font-size: 13px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .logo-image{
        height: 38px;
        width: 38px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav .icon-in-last-bar-nav{
        font-size: 18px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav .offer-bar{
        font-size: 21px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .side-bar-in-nav{
    gap: 20px;
    padding-right: 5px;
    }
    .nav-bar-container-mob .nav-bar-items-container-mob .title-logo .title-sub-main-name{
    font-size: 12px;
    }
    .nav-bar-container-mob .contact-in-nav-bar-mob{
        height: 29px;
    }.nav-bar-container-mob .contact-in-nav-bar-mob .mover-in-nav-top .nav-mover-para{
        font-size: 18px;
    }
}


@media screen and  (min-height:980px) and  (max-height:1300px) and  (max-width:990px){
   .contact-in-nav-bar{
    height: 50px;
   }
   .nav-bar-items-container .nav-items{
    gap:20px;

   }
   .nav-bar-items-container .nav-items .mob-remove{
    display: none;
   }
   .nav-bar-container{
    position: sticky;
    top: 0px;
    z-index: 100;
   }
   .contact-in-nav-bar .phone-div-in-nav .call-in-nav, .contact-in-nav-bar .phone-div-in-nav .mail-in-nav, .contact-in-nav-bar .location-div-in-nav .location-in-nav{
    font-size:16px;
   }
   .contact-in-nav-bar .phone-div-in-nav .icon-in-nav, .contact-in-nav-bar .phone-div-in-nav .icon-in-nav, .contact-in-nav-bar .location-div-in-nav .icon-in-nav-loc{
    font-size: 20px;
   }
   .contact-in-nav-bar .phone-div-in-nav{
    flex: 1 1 calc(60%);
   }
   .nav-bar-items-container .logo-image{
    height: 60px;
    width: 60px;
   }
   .nav-bar-items-container{
    height: 100px;
    padding: 0px 8px;
   }
   .nav-bar-items-container .title-logo .title-main-name{
    font-size: 16px;
   }.nav-bar-items-container .title-logo .title-sub-main-name{
    font-size: 15px;
   }
  
   .nav-bar-items-container .side-bar-in-nav .icon-in-last-bar-nav{
    font-size: 22px;
   }
  
   .nav-bar-items-container .side-bar-in-nav{
    gap: 25px;
   }
   .nav-bar-items-container .nav-items .nav-item-insider{
    padding-left: 5px;
    padding-right: 5px;
   }
   .nav-bar-items-container .logo-div-nav{
    gap: 5px;
   }
   .nav-bar-items-container .side-bar-in-nav .offer-bar{
    font-size: 25px;
   }
}

@media screen and  (min-height:980px) and  (max-height:1300px) and  (max-width:800px){
 .nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item{
    font-size: 17px;
   }
    
}


@media screen and  (min-height:980px) and  (max-height:1300px) and  (min-width:801px) and  (max-width:990px){
 .nav-bar-items-container .nav-items .nav-item-insider .p-for-nav-item{
    font-size: 17px;
   }
    
}