@use'../Column-center';
@use'../Row-center';
@use'../main-color';
@use'../Main-Title';
@use'../WebSubContent';
@use'../bg-img-center';

.contact-page-top-image{
    height: auto;
    width: 100%;
    padding: 40px 60px;
    
    .contact-page-title{
        @include Main-Title.MainTitleCont;
        position: relative;
        
        .contact-page-title-undeline{
            position: absolute;
            height: 35px;
            width: 180px;
            top: 90%;
            left: 30px;
            @include bg-img-center.bg-img-center('./AboutPageImage/ABOUT-TOP/Vector 11.png');
            background-size: contain;
        }
    }
    
}