@use'../Column-center';
@use'../Row-center';
@use'../main-color';
@use'../Main-Title';
@use'../WebSubContent';
@use'../bg-img-center';

.contact-page-top-image{
    height: auto;
    width: 100%;
    padding: 40px 60px;
    
    .contact-page-title{
        @include Main-Title.MainTitleCont;
        position: relative;
        
        .contact-page-title-undeline{
            position: absolute;
            height: 35px;
            width: 180px;
            top: 90%;
            left: 30px;
            @include bg-img-center.bg-img-center('/AboutPageImage/ABOUT-TOP/Vector 11.png');
            background-size: contain;
        }
    }
    
}


@media screen and  (max-width:1440px) {
    .contact-page-top-image{
        padding: 40px 40px;
    }
}

@media screen and  (max-width:1290px) {
     .contact-page-top-image .contact-page-title{
        font-size:45px;
     
    }
}

@media screen and  (max-width:1170px) {
     .contact-page-top-image .contact-page-title{
        font-size:40px;
     
    }
    .contact-page-top-image .contact-page-title .contact-page-title-undeline{
        height: 30px;
        width: 150px;
    }
}

@media screen and  (max-width:1090px) {
   .contact-page-top-image .contact-page-title{
        font-size:35px;
     
    }
    .contact-page-top-image .contact-page-title .contact-page-title-undeline{
        height: 30px;
        width: 150px;
    } 
     .contact-page-top-image{
        padding: 30px 30px;
    }
}

@media screen and  (max-width:930px) {
   .contact-page-top-image .contact-page-title{
        font-size:33px;
     
    }
    .contact-page-top-image .contact-page-title .contact-page-title-undeline{
        height: 26px;
        width: 130px;
    } 

}

@media screen and  (max-width:800px) {
   .contact-page-top-image .contact-page-title{
        font-size:30px;
     
    }
        .contact-page-top-image{
        padding: 25px;
    }
   
   

}

@media screen and  (max-width:620px) {
   .contact-page-top-image .contact-page-title{
        font-size:28px;
     
    }
     .contact-page-top-image .contact-page-title .contact-page-title-undeline{
        height: 24px;
        width: 120px;
    } 
   

}

@media screen and  (max-width:410px) {
   .contact-page-top-image .contact-page-title{
        font-size:26px;
     
    }
     .contact-page-top-image .contact-page-title .contact-page-title-undeline{
        height: 22px;
        width: 110px;
    } 
   

}


@media screen and  (max-width:345px) {
   
 .contact-page-top-image{
        padding: 25px;
        padding-bottom: 15px;
    }
   
 .contact-page-top-image .contact-page-title{
        font-size:23px;
     
    }
     .contact-page-top-image .contact-page-title .contact-page-title-undeline{
        height: 20px;
        width: 100px;
    } 
}






@media screen and  (min-height:990px) and  (max-height:1300px) and  (max-width:990px) {
 .contact-page-top-image{
        padding: 40px;
        padding-bottom: 30px;
    }
   
 .contact-page-top-image .contact-page-title{
        font-size:40px;
     
    }
     .contact-page-top-image .contact-page-title .contact-page-title-undeline{
        height: 50px;
        width: 170px;
    } 
}