@use'../Column-center';
@use'../Row-center';
@use'../main-color';
@use'../Main-Title';
@use'../WebSubContent';
@use'../bg-img-center';
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.contact-side-bar-conatainer{
    height: auto;
    width: 100%;
    padding: 20px 60px;
    @include Row-center.row-center;
    
    gap: 60px;
    .contact-side-box{
        height: 200px;
        width: 400px;
        box-shadow: rgba(17, 17, 26, 0.171) 0px 0px 16px;
        border-radius: 15px;
          @include Row-center.row-center;
          overflow: hidden;
          background-color: rgb(255, 255, 255);
        .contact-logo{
                height: 50px;
                width: 50px;
                border-radius: 100%;
             }
        .contact-sider-logo{
            height: 100%;
            width: 100%;
            flex: 1 1 calc(30%);
             @include Row-center.row-center;
             align-items: flex-start;
             
            .contact-logo-one{
                height: 60%;
                width: 60%;
                border: 1px solid rgb(255, 225, 225);
                background-color: white;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
                @include Row-center.row-center;
                border-bottom: 5px solid rgb(255, 98, 98);
                border-top: none;
                transform: translateY(-100px);
                transition-duration: 0.8s;
                              transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

            }
            
             .contact-logo-three{
                height: 60%;
                width: 60%;
                border: 1px solid rgb(255, 225, 225);
                border-bottom-left-radius: 50px;
                 background-color: white;
                border-bottom-right-radius: 50px;
                @include Row-center.row-center;
                border-bottom: 5px solid rgb(255, 98, 98);
                border-top: none;
                transform: translateY(-100px);
                transition-duration: 0.8s;
                              transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

            }
            
             .no-logo-contact-move{
              transform: translateY(0px);
              transition-duration: 0.8s;
              transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
              
        }
        }
        .contact-inner-logo-two{
             @include Row-center.row-center;
             align-items: flex-end;
              .contact-logo-two{
                height: 60%;
                width: 60%;
                border: 1px solid rgb(255, 225, 225);
                 background-color: white;
                border-top: 5px solid rgb(255, 98, 98);
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
                @include Row-center.row-center;
                border-bottom: none;
               /*  transform: translateY(100px); */
                transition-duration: 0.8s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
                

            }
             .no-logo-contact-move{
              transform: translateY(0px);
              transition-duration: 0.8s;
              transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
              
            }
            
        }
       
        .contact-sider-cont{
            height: 100%;
            width: 100%;
            flex: 1 1 calc(70%);
          
            @include Column-center.column-center;
            gap: 15px;
            padding-left: 10px;

            .contact-title{
                height: auto;
                width: 100%;
                @include Row-center.row-center;
                justify-content: flex-start;
                font-size: 20px;
                font-weight: 900;
                color: rgb(5, 0, 28);
                font-family: 'Delius';


            }
            .contact-content{
                height: auto;
                width: 100%;
                @include Column-center.column-center;
                gap:8px;
                align-items: flex-start;
                @include WebSubContent.SubContent;
                line-height:normal;
                font-size: 13px;

            }

        }
    }
    .contact-sider-box-one{
        transform: translateX(200px);
        z-index: -1;
        transition-duration: 0.5s;
    }
    .contact-sider-box-three{
        transform: translateX(-200px);
        z-index: -1;
           transition-duration: 0.5s;
    }

    .contact-sider-left-one{
        transform: translateX(-200px);
        transition-duration: 0.5s;
        transition-delay: 0s;
    }
      .contact-sider-left-two{
        transform: translateX(-200px);
        transition-duration: 0.5s;
        transition-delay: 0.2s;
    }
    .contact-sider-right-one{
        transform: translateX(200px);
        transition-duration: 0.5s;
    }
     .contact-sider-right-two{
        transform: translateX(200px);
        transition-duration: 0.5s;
        transition-delay: 0.2s;
    }
    .no-box-move-contact{
        transform: translateX(0px);
        z-index: auto;
           transition-duration: 0.5s;
    }

    .contact-sider-box-four{
                display: none;
    }
}


@media screen and  (max-width:1260px) {
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 45px;
        width: 45px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex:  1 1 calc(35%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        flex: 1 1 calc(65%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        padding-left: 0px;
    }
}


@media screen and  (max-width:1170px) {
    .contact-side-bar-conatainer{
        padding:20px 45px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        width: 450px;
    }
    .contact-side-bar-conatainer{
        gap: 50px;
    }
}

@media screen and  (max-width:1090px) {
    .contact-side-bar-conatainer{
        padding:10px 35px;
    }
    .contact-side-bar-conatainer{
        gap: 20px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        padding-left: 10px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three,.contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two,.contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        height: 55%;
        width: 55%;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 40px;
        width: 40px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-title{
        font-size: 18px;
    }.contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        font-size: 12px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 180px;
        width: 430px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex: 1 1 calc(33%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        flex: 1 1 calc(67%);
        padding-left: 0px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 38px;
        width: 38px;

    }
}


@media screen and  (max-width:930px) {
    .contact-side-bar-conatainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        padding: 10px 70px;
        gap: 50px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 170px;
        width: 100%;
    }
    .contact-side-bar-conatainer .contact-sider-box-four{
        display: flex;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex: 1 1 calc(40%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        flex: 1 1 calc(60%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three, .contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two, .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        height: 60%;
        width: 45%;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 40px;
        width: 40px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        font-size: 12px;
        gap: 10px;
    }
    
}



@media screen and  (max-width:800px) {
    .contact-side-bar-conatainer{
        padding: 0px 60px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex: 1 1 calc(35%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        flex: 1 1 calc(65%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three, .contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two, .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        width: 50%;
    }
   
}


@media screen and  (max-width:750px) {
    .contact-side-bar-conatainer{
        padding: 0px 50px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 160px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-title{
        font-size: 16px;
    }.contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        font-size: 11px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 35px;
        width: 35px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three, .contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two, .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        height: 55%;
    }
}



@media screen and  (max-width:680px) {
     .contact-side-bar-conatainer{
        padding: 0px 45px;
    }
   
    .contact-side-bar-conatainer{
        gap: 40px;
        row-gap: 50px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 150px;
    }
     .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex: 1 1 calc(30%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        flex: 1 1 calc(70%);
        padding-left: 5px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three, .contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two, .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        width: 55%;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 30px;
        width: 30px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-title{
        font-size: 15px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        font-size: 10.5px;
        font-family: 'Inter';
    }
}


@media screen and  (max-width:620px) {
   .contact-side-bar-conatainer{
        padding: 0px 35px;
    }
    .contact-side-bar-conatainer{
        gap: 35px;
        row-gap: 45px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        padding-left: 0px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo {
        height: 26px;
        width: 26px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        font-size: 10px;
        font-family: 'Open Sans';
    }
   
}

@media screen and  (max-width:570px) {
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three, .contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two, .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        width: 60%;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        font-size: 9px;
        gap: 6px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(77, 77, 77);
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 145px;
    }
    .contact-side-bar-conatainer{
        padding: 0px 30px;
    }
}

@media screen and  (max-width:525px) {
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex: 1 1 calc(35%);
    }
}

@media screen and  (max-width:500px) {
    .contact-side-bar-conatainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        padding: 10px 75px;
        gap: 50px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 170px;
        width: 100%;
    }
    .contact-side-bar-conatainer .contact-sider-box-four{
        display: none;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex: 1 1 calc(40%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont{
        flex: 1 1 calc(60%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three, .contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two, .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        width: 45%;
        height: 60%;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 35px;
        width: 35px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-title{
        font-size: 18px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 1px;
            text-align: justify;
            font-weight: 400;
            font-family: "Inter";
            color: rgb(67, 67, 67);
            line-height: normal;
            font-size: 11px;
            gap: 10px;
    }
}



@media screen and  (max-width:450px) {
    .contact-side-bar-conatainer{
        padding: 0px 55px;
    }
     .contact-side-bar-conatainer .contact-side-box{
        height: 165px;
        width: 100%;
    }
}



@media screen and  (max-width:410px) {
    .contact-side-bar-conatainer{
        padding: 0px 55px;
    }
     .contact-side-bar-conatainer .contact-side-box{
        height: 165px;
        width: 100%;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 31px;
        width: 31px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 155px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        font-size: 10.5px;
    }
}



@media screen and  (max-width:385px) {
    .contact-side-bar-conatainer{
        padding: 0px 45px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 150px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo{
        flex: 1 1 calc(35%);
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont {
        flex: 1 1 calc(65%);
        gap: 12px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-logo{
        height: 28px;
        width: 28px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-title{
        font-size: 15px;
    }
    .contact-side-bar-conatainer{
        gap: 40px;
    }

}

@media screen and  (max-width:345px) {
.contact-side-bar-conatainer{
        padding: 0px 40px;
    }
    .contact-side-bar-conatainer .contact-side-box{
        height: 140px;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-three, .contact-side-bar-conatainer .contact-side-box .contact-inner-logo-two .contact-logo-two, .contact-side-bar-conatainer .contact-side-box .contact-sider-logo .contact-logo-one{
        width: 50%;
    }
    .contact-side-bar-conatainer .contact-side-box .contact-sider-cont .contact-content{
        gap: 8px;
        font-size: 9.5px;
    }
}