@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.side-by-elements-container {
  height: 470px;
  width: 100%;
  padding: 80px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.side-by-elements-container .side-by-inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.side-by-elements-container .side-by-inner-container .side-by-one {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1019607843) 0 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 40px;
  position: relative;
  overflow: hidden;
}
.side-by-elements-container .side-by-inner-container .side-by-one .design-circle-one-box-one {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -40px;
  bottom: -40px;
  background-image: url("./sideby/full-ctcle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotate-half-circle 5s linear infinite forwards;
}
@keyframes rotate-half-circle {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(-10px) translateY(-10px);
  }
  40% {
    transform: translateX(-15px) translateY(-15px);
  }
  60% {
    transform: translateX(-10px) translateY(-10px);
  }
  80% {
    transform: translateX(-5px) translateY(-5px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
.side-by-elements-container .side-by-inner-container .side-by-one .design-circle-two-box-one {
  position: absolute;
  height: 100px;
  width: 100px;
  left: -40px;
  top: -40px;
  background-image: url("./sideby/full-ctcle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotate-half-circle 5s linear infinite forwards;
}
@keyframes rotate-half-circle {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(-10px) translateY(-10px);
  }
  40% {
    transform: translateX(-15px) translateY(-15px);
  }
  60% {
    transform: translateX(-10px) translateY(-10px);
  }
  80% {
    transform: translateX(-5px) translateY(-5px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-img-tag {
  height: 100%;
  width: 100%;
  flex: 1 1 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-img-tag .side-by-one-img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag {
  height: 100%;
  width: 100%;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .side-by-one-main-para {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .side-by-one-main-para .side-by-p-one {
  width: 100%;
  font-size: 25px;
  color: #3b3b3b;
  font-family: "Exo 2";
  font-weight: 800;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .side-by-one-main-para .side-by-p-two {
  width: 100%;
  font-size: 25px;
  color: #363636;
  font-family: "Exo 2";
  font-weight: 800;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .side-by-one-main-para .live-class-para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .side-by-one-main-para .live-class-para .live-class-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: auto;
  width: auto;
  font-size: 16px;
  color: #4a4a4a;
  font-family: "Montserrat Alternates";
  font-weight: 600;
  padding: 5px 15px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .side-by-one-main-para .live-class-para .live-class-indicator .live-dot {
  font-size: 12px;
  color: red;
  animation: live-animation 3s linear infinite forwards;
  transform: scale(1);
}
@keyframes live-animation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(0.8);
  }
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .side-by-sub-para {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  color: rgb(146, 146, 146);
  font-family: "MuseoModerno";
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by {
  height: 45px;
  width: 160px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 74, 74);
  border: none;
  border-radius: 20px;
  letter-spacing: 1px;
  font-family: "Electrolize";
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by .btn-design-in-side-by-one {
  position: absolute;
  height: 50%;
  width: 0%;
  top: 0px;
  left: 0px;
  background-color: #fec300;
  z-index: -1;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by .btn-design-in-side-by-two {
  position: absolute;
  height: 50%;
  width: 0%;
  bottom: 0px;
  right: 0px;
  background-color: #fec300;
  z-index: -1;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by .arrow-btn-side-by {
  transform: translateX(0px) rotate(0deg);
  transition-duration: 0.4s;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by:hover .btn-design-in-side-by-one {
  width: 100%;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by:hover .btn-design-in-side-by-two {
  width: 100%;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by:hover {
  color: rgb(43, 43, 43);
  transition-duration: 0.4s;
  font-weight: 800;
}
.side-by-elements-container .side-by-inner-container .side-by-one .side-by-one-cont-tag .btn-side-by:hover .arrow-btn-side-by {
  transform: translateX(10px) rotate(-10deg);
  transition-duration: 0.4s;
}
.side-by-elements-container .side-by-inner-container .side-by-two {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1019607843) 0 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 40px;
  position: relative;
  overflow: hidden;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-img-tag {
  height: 100%;
  width: 100%;
  flex: 1 1 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-img-tag .side-by-two-img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-image: url("https://www.radiustheme.com/demo/wordpress/themes/quiklearn/wp-content/uploads/2023/08/video_banner_02.png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag {
  height: 100%;
  width: 100%;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .side-by-two-main-para {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .side-by-two-main-para .side-by-p-one {
  font-size: 25px;
  color: #3b3b3b;
  font-family: "Exo 2";
  font-weight: 800;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .side-by-two-main-para .side-by-p-two {
  font-size: 25px;
  color: #363636;
  font-family: "Exo 2";
  font-weight: 800;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .side-by-sub-para {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  color: rgb(146, 146, 146);
  font-family: "MuseoModerno";
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by {
  height: 45px;
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 74, 74);
  border: none;
  border-radius: 20px;
  letter-spacing: 1px;
  font-family: "Electrolize";
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by .btn-design-in-side-by-one {
  position: absolute;
  height: 50%;
  width: 0%;
  top: 0px;
  left: 0px;
  background-color: #fec300;
  z-index: -1;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by .btn-design-in-side-by-two {
  position: absolute;
  height: 50%;
  width: 0%;
  bottom: 0px;
  right: 0px;
  background-color: #fec300;
  z-index: -1;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by .arrow-btn-side-by {
  transform: translateX(0px) rotate(0deg);
  transition-duration: 0.4s;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by:hover .btn-design-in-side-by-one {
  width: 100%;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by:hover .btn-design-in-side-by-two {
  width: 100%;
  transition-duration: 0.5s;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by:hover {
  color: rgb(43, 43, 43);
  transition-duration: 0.4s;
  font-weight: 800;
}
.side-by-elements-container .side-by-inner-container .side-by-two .side-by-two-cont-tag .btn-side-by:hover .arrow-btn-side-by {
  transform: translateX(10px) rotate(-10deg);
  transition-duration: 0.4s;
}
.side-by-elements-container .side-by-inner-container .side-by-two .design-circle-two-box-one {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -40px;
  bottom: -40px;
  background-image: url("./sideby/half-circle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotate-half-circle 5s linear 3s infinite forwards;
}
@keyframes rotate-half-circle {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(-10px) translateY(-10px);
  }
  40% {
    transform: translateX(-15px) translateY(-15px);
  }
  60% {
    transform: translateX(-10px) translateY(-10px);
  }
  80% {
    transform: translateX(-5px) translateY(-5px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
.side-by-elements-container .side-by-inner-container .side-by-two .design-circle-two-box-two {
  position: absolute;
  height: 100px;
  width: 100px;
  top: -40px;
  left: -40px;
  background-image: url("./sideby/half-circle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotate-half-circle 5s linear 3s infinite forwards;
}
@keyframes rotate-half-circle {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(-10px) translateY(-10px);
  }
  40% {
    transform: translateX(-15px) translateY(-15px);
  }
  60% {
    transform: translateX(-10px) translateY(-10px);
  }
  80% {
    transform: translateX(-5px) translateY(-5px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

/*# sourceMappingURL=SideBy.css.map */
