@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
.staff-page-container {
  height: 120dvh;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.staff-page-container .staff-page-image-container {
  height: 100%;
  width: 100%;
  flex: 1 1 47%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-image {
  height: 360px;
  width: 100%;
  border-radius: 10px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors {
  height: 100px;
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag {
  height: 100%;
  width: 100%;
  flex: 1 1 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-round, .staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-two, .staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-three, .staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-four, .staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-five {
  position: absolute;
  height: 50px;
  width: 50px;
  border: 5px solid white;
  background-color: #811d1d;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-three {
  z-index: 3;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-two {
  z-index: 2;
  left: 55px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-one {
  z-index: 1;
  left: 25px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-four {
  z-index: 4;
  right: 55px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutors-img-tag .tutor-five {
  z-index: 5;
  right: 25px;
  background-color: rgb(0, 68, 47);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-weight: 500;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutor-cont {
  height: 100%;
  width: 100%;
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-items: flex-start;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutor-cont .top-mentor {
  font-size: 15px;
  font-family: "Delius";
  font-weight: 600;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-one .image-box-one-totors .tutor-cont .top-mentor-sub {
  font-size: 11px;
  font-family: "Roboto Flex";
  color: rgb(143, 143, 143);
}
.staff-page-container .staff-page-image-container .staff-page-image-box-two {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-two .image-box-two-imageone {
  height: 100%;
  width: 100%;
  flex: 1 1 45%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-two .image-box-two-imageone .video-tag {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-two .image-box-two-imageone .vid-cont-img-one {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffffff;
  background: linear-gradient(0deg, rgba(31, 31, 31, 0.69) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-left: 20px;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-two .image-box-two-imageone .vid-cont-img-one .our-story {
  font-size: 20px;
  font-family: "Henny Penny";
  color: white;
  font-weight: 600;
}
.staff-page-container .staff-page-image-container .staff-page-image-box-two .image-box-two-imagetwo {
  height: 100%;
  width: 100%;
  flex: 1 1 55%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.staff-page-container .staff-page-content-container {
  height: 100%;
  width: 100%;
  flex: 1 1 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 0px;
  padding-left: 60px;
  gap: 25px;
}
.staff-page-container .staff-page-content-container .short-title-staff-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
}
.staff-page-container .staff-page-content-container .short-title-staff-page .line-img-tag {
  height: 2px;
  width: 40px;
  border-radius: 10px;
  background-color: rgb(135, 135, 135);
}
.staff-page-container .staff-page-content-container .short-title-staff-page .flexible-short-tit {
  font-size: 13px;
  font-weight: 500;
  font-family: "Merriweather Sans";
  color: #320009;
  letter-spacing: 1px;
}
.staff-page-container .staff-page-content-container .tutor-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}
.staff-page-container .staff-page-content-container .tutor-title-content .heading-tutor {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 3px;
}
.staff-page-container .staff-page-content-container .tutor-title-content .heading-tutor .heading-tutor-p-one {
  font-size: 60px;
  font-family: "Merriweather Sans";
  color: rgb(52, 52, 52);
}
.staff-page-container .staff-page-content-container .tutor-title-content .heading-tutor .heading-tutor-p-one .span-in-analysis {
  font-size: 60px;
  color: rgb(255, 68, 81);
  font-family: "Imperial Script";
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
  text-decoration-style: dashed;
}
.staff-page-container .staff-page-content-container .tutor-title-content .heading-tutor .heading-tutor-p-two {
  font-size: 60px;
  font-family: "Lobster";
  background: #c757b6;
  background: linear-gradient(32deg, rgb(199, 87, 182) 14%, rgb(218, 87, 133) 53%, rgb(237, 86, 83) 91%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.staff-page-container .staff-page-content-container .tutor-title-content .sub-heading-tutor {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.staff-page-container .staff-page-content-container .tutor-title-content .sub-heading-tutor .sub-heading-tutor-p-one {
  font-size: 14px;
  color: #868686;
  font-family: "Delius";
  letter-spacing: 1px;
  line-height: 25px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements {
  height: auto;
  padding: 15px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .analysis-num {
  font-size: 45px;
  font-family: "Kirang Haerang";
  font-weight: 600;
  color: rgb(255, 68, 81);
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .analysis-cont {
  font-size: 14px;
  font-family: "Play";
  color: rgb(132, 119, 119);
  letter-spacing: 1px;
  line-height: 20px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-one {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-one .analysis-tag-img-one {
  height: 100%;
  width: 100%;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-one .analysis-tag-img-one .img-for-analysis {
  height: 50%;
  width: 50%;
  background-image: url("./StaffPage/stack-of-books (3).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-one .analysis-tag-content-one {
  height: 100%;
  width: 100%;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-two {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-two .analysis-tag-img-two {
  height: 100%;
  width: 100%;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-two .analysis-tag-img-two .img-for-analysis {
  height: 50%;
  width: 50%;
  background-image: url("./StaffPage/online-course (3).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-one .number-analysis-two .analysis-tag-content-two {
  height: 100%;
  width: 100%;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-three {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-three .analysis-tag-img-three {
  height: 100%;
  width: 100%;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-three .analysis-tag-img-three .img-for-analysis {
  height: 50%;
  width: 50%;
  background-image: url("./StaffPage/online-education (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-three .analysis-tag-content-three {
  height: 100%;
  width: 100%;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-four {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-four .analysis-tag-img-four {
  height: 100%;
  width: 100%;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-four .analysis-tag-img-four .img-for-analysis {
  height: 50%;
  width: 50%;
  background-image: url("./StaffPage/online-certificate (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.staff-page-container .staff-page-content-container .total-number-in-staff-achievements .number-analysis-box-two .number-analysis-four .analysis-tag-content-four {
  height: 100%;
  width: 100%;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.staff-page-container .staff-page-content-container .btn-in-tutor-analysis {
  height: 40px;
  width: 150px;
  border: none;
  background-color: rgb(237, 170, 0);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  font-family: "Kumbh Sans";
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  transition-duration: 0.3s;
}
.staff-page-container .staff-page-content-container .btn-animation-in-staff-page {
  position: absolute;
  width: 100%;
  height: 0%;
  background: #c757b6;
  background: linear-gradient(32deg, rgb(199, 87, 182) 14%, rgb(218, 87, 133) 53%, rgb(237, 86, 83) 91%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: -1;
  transition-duration: 0.3s;
}
.staff-page-container .staff-page-content-container .btn-in-tutor-analysis:hover .btn-animation-in-staff-page {
  height: 100%;
  transition-duration: 0.3s;
}
.staff-page-container .staff-page-content-container .btn-in-tutor-analysis:hover {
  color: white;
  transition-duration: 0.3s;
}

/*# sourceMappingURL=StaffPage.css.map */
