@import url("https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cagliostro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voces&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.testimonial-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 120px;
  position: relative;
}
.testimonial-container .tesitimonial-top-design {
  position: absolute;
  height: 60%;
  width: 100%;
  left: 0px;
  background-color: rgb(255, 93, 93);
  top: 0px;
  z-index: -1;
}
.testimonial-container .tesitimonial-top-design .testimonial-triangle-design {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0px;
  background-image: url("./Testimonial/triangle (1).png");
}
.testimonial-container .tesitimonial-top-design .testimonial-wave-design {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  background-image: url("./Testimonial/kinder.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-container .testimonial-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  justify-content: flex-start;
}
.testimonial-container .testimonial-main-container .testimonial-title-bar {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.testimonial-container .testimonial-main-container .testimonial-title-bar .testimonial-main-title {
  height: 100%;
  width: 100%;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.testimonial-container .testimonial-main-container .testimonial-title-bar .testimonial-main-title .tistimonail-title {
  font-size: 24px;
  font-family: "Nova Oval";
  font-weight: 600;
  color: rgb(204, 255, 102);
}
.testimonial-container .testimonial-main-container .testimonial-title-bar .testimonial-main-title .testimonial-main-title {
  font-size: 45px;
  font-family: "Patrick Hand SC";
  font-weight: 600;
  color: white;
}
.testimonial-container .testimonial-main-container .testimonial-title-bar .quote-para-testimonial {
  height: 100%;
  width: 100%;
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
  font-size: 14px;
  font-family: "SUSE";
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  color: white;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar {
  height: 500px;
  width: 100%;
  background-color: rgb(255, 246, 246);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonial-image-bar {
  height: 100%;
  width: 100%;
  flex: 1 1 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonial-image-bar .image-border-line {
  height: 350px;
  width: 350px;
  border-radius: 100%;
  padding: 50px;
  border: 1px solid rgb(206, 206, 206);
  position: relative;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonial-image-bar .image-border-line .testimonial-border-image-one {
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: aqua;
  top: 18px;
  animation: border-image-zoom 8s linear 0.6s forwards infinite;
  background-image: url("https://images.unsplash.com/photo-1514355315815-2b64b0216b14?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN0dWRlbnR8ZW58MHx8MHx8fDA%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonial-image-bar .image-border-line .testimonial-border-image-two {
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: rgb(0, 255, 42);
  bottom: 18px;
  animation: border-image-zoom 8s linear 0.3s forwards infinite;
  background-image: url("https://images.unsplash.com/photo-1514355315815-2b64b0216b14?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN0dWRlbnR8ZW58MHx8MHx8fDA%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonial-image-bar .image-border-line .testimonial-border-image-three {
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: rgb(255, 21, 0);
  top: 150px;
  right: -18px;
  animation: border-image-zoom 8s linear forwards infinite;
  background-image: url("https://images.unsplash.com/photo-1514355315815-2b64b0216b14?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN0dWRlbnR8ZW58MHx8MHx8fDA%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes border-image-zoom {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.05);
  }
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonial-image-bar .image-border-line .quote-image-bar {
  height: 100%;
  width: 100%;
  background-image: url("./Testimonial/quote.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar {
  height: 100%;
  width: 100%;
  flex: 1 1 60%;
  padding-left: 0px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-items: flex-start;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar {
  height: auto;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-behavior: smooth;
  overflow: hidden;
  gap: 80px;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one {
  height: auto;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 25px;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-star-rating {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: rgb(255, 196, 0);
  justify-content: flex-start;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-comment {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Public Sans";
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(94, 94, 94);
  line-height: 30px;
  text-align: justify;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-comment .comment-student::before {
  content: open-quote;
  padding-right: 5px;
  font-size: 24px;
  color: rgb(255, 68, 81);
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-comment .comment-student::after {
  content: close-quote;
  padding-left: 5px;
  font-size: 24px;
  color: rgb(255, 68, 81);
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-info {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
  padding-left: 10px;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-info .student-image-tag {
  height: 50px;
  width: 50px;
  background-color: bisque;
  background-image: url("https://plus.unsplash.com/premium_photo-1681681061617-183d3d3ec9c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDM1fHx8ZW58MHx8fHx8");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-info .student-info-tag {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 6px;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-info .student-info-tag .student-name-para {
  font-size: 16px;
  font-family: "Exo 2";
  font-weight: 600;
  color: rgb(72, 72, 72);
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-inner-content-bar .student-testimonial-one .student-info .student-info-tag .student-degree-para {
  font-size: 13px;
  font-family: "Noto Sans";
  color: rgb(121, 121, 121);
  font-weight: 500;
  letter-spacing: 1px;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-move-button {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding-left: 0px;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-move-button .testimonial-left-btn, .testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-move-button .testimonial-right-btn {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: rgb(255, 210, 210);
  cursor: pointer;
  color: rgb(61, 61, 61);
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-move-button .btn-cont {
  transform: translateX(0px);
  transition-duration: 0.5s;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-move-button .testimonial-left-btn:hover .btn-cont {
  transform: translateX(-2px);
  transition-duration: 0.5s;
}
.testimonial-container .testimonial-main-container .testimonial-content-bar .testimonail-main-content-bar .testimonial-move-button .testimonial-right-btn:hover .btn-cont {
  transform: translateX(2px);
  transition-duration: 0.5s;
}

/*# sourceMappingURL=Testimonial.css.map */
