@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap");
.why-choose-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 110px;
  gap: 30px;
  overflow: hidden;
}
.why-choose-container .why-choose-cont {
  height: 500px;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  z-index: 1;
}
.why-choose-container .why-choose-cont .rounded-desing {
  position: absolute;
  height: 400px;
  width: 400px;
  z-index: -1;
  left: 10%;
  background-image: url("./WhyChoose/circular (2).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.why-choose-container .why-choose-cont .why-choose-main-title {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-items: flex-start;
}
.why-choose-container .why-choose-cont .why-choose-main-title .why-choose {
  font-size: 16px;
  color: rgb(255, 68, 81);
  font-weight: 600;
  font-family: "Delius Unicase";
}
.why-choose-container .why-choose-cont .why-choose-main-title .Why-choose-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.why-choose-container .why-choose-cont .why-choose-main-title .Why-choose-title .Why-choose-title-one {
  font-size: 45px;
  font-family: "Averia Libre";
  font-weight: 600;
  color: rgb(52, 52, 52);
}
.why-choose-container .why-choose-cont .why-choose-main-title .Why-choose-title .Why-choose-title-one .why-choose-tit-span {
  font-family: "Style Script";
  color: rgb(255, 68, 81);
  position: relative;
}
.why-choose-container .why-choose-cont .why-choose-main-title .Why-choose-title .Why-choose-title-one .why-choose-tit-span .design-for-why-choose-tit-span {
  position: absolute;
  height: 20px;
  width: 120px;
  left: 40px;
  bottom: 0px;
  background-image: url("./WhyChoose/underline-why-choose.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-choose-container .why-choose-cont .why-choose-main-title .Why-choose-title .Why-choose-title-two {
  font-size: 45px;
  font-family: "Averia Libre";
  font-weight: 600;
  color: rgb(52, 52, 52);
}
.why-choose-container .why-choose-cont .why-choose-main-title .para-why-choose {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}
.why-choose-container .why-choose-cont .why-choose-order-list {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
}
.why-choose-container .why-choose-cont .why-choose-order-list .why-choose-ol {
  font-size: 11px;
  font-family: "Delius Unicase";
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(88, 88, 88);
  justify-content: flex-start;
  gap: 15px;
}
.why-choose-container .why-choose-cont .why-choose-order-list .why-choose-ol .why-choose-ol-span {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  background-color: rgb(255, 203, 207);
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.why-choose-container .why-choose-cont .why-choose-btn {
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  background-color: rgb(245, 84, 82);
  color: white;
  font-weight: 400;
  font-family: "Anta";
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.why-choose-container .why-choose-cont .why-choose-btn .why-choose-btn-animation {
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0px;
  z-index: -1;
  background-color: rgb(255, 203, 30);
  transition-duration: 0.5s;
}
.why-choose-container .why-choose-cont .why-choose-btn:hover .why-choose-btn-animation {
  bottom: auto;
  top: 0px;
  height: 100%;
  transition-duration: 0.5s;
}
.why-choose-container .why-choose-cont .why-choose-btn:hover {
  color: rgb(52, 52, 52);
  transition-duration: 0.5s;
}
.why-choose-container .why-choose-img {
  height: 500px;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.why-choose-container .why-choose-img .why-choose-img-style {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: -1;
  left: 0px;
  top: 0px;
  background-image: url("./WhyChoose/shaky-line 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-choose-container .why-choose-img .why-choose-img-style-two {
  position: absolute;
  height: 350px;
  width: 350px;
  z-index: -1;
  right: 0px;
  bottom: 0px;
  background-image: url("./WhyChoose/shaky-line 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-choose-container .why-choose-img .why-choose-img-div {
  height: 450px;
  width: 450px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("https://plus.unsplash.com/premium_photo-1681248156438-5c37ee8ed15e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI3fHx8ZW58MHx8fHx8");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one {
  transform: translateX(60px);
  opacity: 0;
  transition-duration: 0.6s;
  position: absolute;
  height: 90px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  top: 0px;
  right: -120px;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag {
  height: 100%;
  width: 100%;
  flex: 1 1 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-round, .why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-two, .why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-three, .why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-four, .why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-five {
  position: absolute;
  height: 35px;
  width: 35px;
  border: 5px solid white;
  border-radius: 100%;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-three {
  z-index: 3;
  background-image: url("https://images.unsplash.com/photo-1557555187-23d685287bc3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZlbWFsZXxlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-two {
  z-index: 2;
  left: 35px;
  background-image: url("https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWFufGVufDB8fDB8fHww");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-one {
  z-index: 1;
  left: 15px;
  background-image: url("https://plus.unsplash.com/premium_photo-1681210062532-ff531e87e41f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGZlbWFsZXxlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-four {
  z-index: 4;
  right: 35px;
  background-image: url("https://images.unsplash.com/photo-1557862921-37829c790f19?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWFufGVufDB8fDB8fHww");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutors-img-tag .tutor-five {
  z-index: 5;
  right: 15px;
  background-color: rgb(0, 68, 47);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-weight: 500;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutor-cont {
  height: 100%;
  width: 100%;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-items: flex-start;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutor-cont .top-mentor {
  font-size: 12px;
  font-family: "Delius";
  font-weight: 600;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-one .image-box-one-totors .tutor-cont .top-mentor-sub {
  font-size: 10px;
  font-family: "Roboto Flex";
  color: rgb(143, 143, 143);
}
.why-choose-container .why-choose-img .why-choose-img-div .nomove-img-about-one {
  transform: translateX(0px);
  opacity: 1;
  transition-duration: 0.6s;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two {
  transform: translateX(-50px);
  opacity: 0;
  transition-duration: 0.6s;
  position: absolute;
  height: auto;
  padding: 15px 20px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  left: -90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 15px;
  padding-left: 20px;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .success-rate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  color: rgb(64, 64, 64);
  font-size: 14px;
  justify-content: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .success-rate .star-in-sucess-rate {
  font-size: 22px;
  color: rgb(255, 213, 0);
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-one {
  height: 6px;
  width: 90%;
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  position: relative;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-one .line-year {
  position: absolute;
  height: 20px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  color: rgb(65, 65, 65);
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 100%;
  right: 0px;
  transform: translateY(10px);
  opacity: 0;
  transition-duration: 0.6s;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-one .line-div-one-inner {
  height: 100%;
  width: 90%;
  background-color: rgb(0, 190, 158);
  border-radius: 20px;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-one:hover .line-year {
  transform: translateY(-5px);
  opacity: 1;
  transition-duration: 0.6s;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-two {
  height: 6px;
  width: 90%;
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  position: relative;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-two .line-year {
  position: absolute;
  height: 20px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  border-radius: 5px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(218, 218, 218);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 100%;
  right: 0px;
  transform: translateY(10px);
  opacity: 0;
  transition-duration: 0.6s;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-two .line-div-two-inner {
  height: 100%;
  width: 70%;
  background-color: rgb(255, 95, 31);
  border-radius: 20px;
}
.why-choose-container .why-choose-img .why-choose-img-div .image-design-two .line-div-two:hover .line-year {
  transform: translateY(-5px);
  opacity: 1;
  transition-duration: 0.6s;
}
.why-choose-container .why-choose-img .why-choose-img-div .nomove-img-about-two {
  transform: translateX(0px);
  opacity: 1;
  transition-duration: 0.6s;
}

/*# sourceMappingURL=WhyChoose.css.map */
