
@use '../../Column-center';
@use '../../Row-center';
@use '../../main-color';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


.Home-Main-Top{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-main-container{
    height: auto;
    width: 100%;
    @include Column-center.column-center;
}
.home-main-for-intro{
    height: 120vh;
    width: 100%;
    background-color: rgb(248, 248, 248);
    @include Row-center.row-center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .learn-p-in-bottom{
        
        position: absolute;
        bottom: 0px;
        font-size: 130px;
        color: rgb(240, 240, 240);
        z-index: -1;
        font-family: 'Saira';
    }
    .light-design-one{
        position: absolute;
        height: 300px;
        width: 800px;
        background: #fcfcfc;
background: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgb(255, 243, 248) 100%);
        z-index: -1;
        border-radius: 350px 200px 340px 250px;
        top: 0px;
        right: -40px;
        rotate: -20deg;

    }
    .light-design-two{
        position: absolute;
        height: 270px;
        width: 550px;
       background: #ffffff;
background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(255, 243, 248) 100%);
        z-index: -3;
        border-radius: 250px 300px 240px 150px;
        top: 350px;
        right: 40px;
                rotate: -30deg;


    }
    .light-design-three{
        position: absolute;
        height: 220px;
        width: 550px;
        background: #ffffff;
background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(255, 250, 250) 40%, rgb(253, 242, 248) 100%);
        z-index: -4;
        border-radius: 350px 110px 140px 60px;
        top: 0px;
        right: 400px;
        rotate: -10deg;


    }
    .light-design-four{
        position: absolute;
        height: 360px;
        width: 750px;
        background: #ffffff;
background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(255, 244, 250) 100%);
        z-index: -4;
        border-radius: 250px 310px 340px 120px;
        top: 250px;
        right: 100px;
        rotate: -10deg;


    }
 .light-design-five{
        position: absolute;
        height: 210px;
        width: 450px;
                background: #fcfcfc;
background: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgb(255, 244, 248) 100%);
        z-index: -1;
        border-radius: 250px 310px 340px 120px;
        top: 100px;
        right: -40px;
        rotate:-20deg;


    }
    .man-img-for-home{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(50%);
      
         position: relative;
             @include Row-center.row-center;


        .smalldesign-two-home{
            position: absolute;
            height: 140px;
            width: 140px;
          
          background-image: url('./HomeImg/Untitled (5).png'); 
            top: 80px;
            right: 60px;
            rotate: 0deg;
       
        }

        .smalldesign-four-home{
            position: absolute;
            height: 220px;
            width:220px;
               
          background-image: url('./Testimonial/dots-testi (1).png'); 
            top:120px;
            left: 20px;
            rotate: 0deg;
            z-index: -1;
            opacity: 0.3;
            animation: zoomer 10s linear infinite;

            @keyframes zoomer {
                0%{
                    transform:scale(1);
                }
                 50%{
                    transform: scale(1.2);
                }
                 100%{
                    transform:scale(1);
                }
            }
        }

        .smalldesign-five-home{
            position: absolute;
            height: 70px;
            width:70px;
            background-image: url('./HomeImg/insidecircle.png'); 
            background-repeat: no-repeat;
            background-size: contain;
            bottom:220px;
            left: 20px;
            rotate: 0deg;
            z-index: 1;
            animation: rotater 6s linear infinite;

            @keyframes rotater {
                0%{
                    transform: rotate(0deg);
                }
                 50%{
                    transform: rotate(180deg);
                }
                 100%{
                    transform: rotate(360deg);
                }
            }
        }

        .smallcontent-one-home{
            position: absolute;
            height: 180px;
            width: 140px;
            border: 2px solid main-color.$main-color-for-app;
            background-color: white;
            border-radius: 15px;
            top: 120px;
            left: 80px;
            @include Column-center.column-center;
            gap:15px;
            transform: translateX(-120px) ;
            opacity: 0;
            transition-duration: 0.4s;
            transition-timing-function: linear;

            .smallcontent-img{
                height:70px;
                width: 70px;
                background-color: main-color.$main-color-for-app-more-darker;
                border-radius: 100%;
                @include Column-center.column-center;
                .img-for-small-cont{
                    height: 45px;
                    width: 45px;
                }
            }

            .smallcontent-content{
                width: 100%;
                @include Column-center.column-center;
                text-align: center;
                gap: 0px;
                
            }
            .p-one-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 26px;
                font-weight: 900;
                color: rgb(47, 47, 47);
            }
              .p-two-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 16px;
                font-weight: 600;
                color: rgb(90, 90, 90);
            }
        }
        .smallcontent-one-home-move{
            transform: translateX(0px);
            opacity: 1;
            transition-duration: 0.4s;
            transition-timing-function: linear;
        }
        
        .smallcontent-two-home{
            position: absolute;
            padding: 10px 0px;
            height: auto;
            width: 220px;
            border: 2px solid main-color.$main-color-for-app;
            background-color: white;
            border-radius: 15px;
            bottom: 80px;
            right: 40px;
            @include Column-center.column-center;
            gap:5px;
             transform: translateX(120px) ;
            opacity: 0;
            transition-duration: 0.4s;
            transition-timing-function: linear;

            .smallcontent-img{
                height:60px;
                width: 60px;
                background-color: main-color.$main-color-for-app-more-darker;
                border-radius: 100%;
                 @include Column-center.column-center;
                .img-for-small-cont{
                    height: 35px;
                    width: 35px;
                }
            }

            .smallcontent-content{
                width: 100%;
                @include Column-center.column-center;
                text-align: center;
                gap: 5px;
                
            }
            .p-one-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 22px;
                font-weight: 900;
                color: rgb(47, 47, 47);
            }
              .p-two-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 14px;
                font-weight: 600;
                color: rgb(90, 90, 90);
            }
        }
        .smallcontent-two-home-move{
            transform: translateX(0px);
            opacity: 1;
            transition-duration: 0.4s;
            transition-timing-function: linear;
        }
        .rouonded-bg-home{
            height: 75%;
            width: 75%;
            border-radius: 100%;
             background-color: rgb(255, 201, 204);
            
        }

        
         .man-image-in-home-img{
            position: absolute;
            height: 98%;
            width: 730px;
            bottom: 0px;
            
            
        }
        
    }
    
    .home-content-div{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(50%);
        @include Column-center.column-center;
        
        align-items: flex-start;
        gap:30px;
        padding-left: 30px;
        padding-bottom: 20px;
        position: relative;


        .smallcontent-one-home-cont{
            position: absolute;
            height: 180px;
            width: 140px;
            border: 2px solid main-color.$main-color-for-app;
            background-color: white;
            border-radius: 15px;
            top: 120px;
            left: 80px;
            @include Column-center.column-center;
            gap:15px;
            transform: translateX(-120px) ;
            opacity: 0;
            transition-duration: 0.4s;
            transition-timing-function: linear;
            display: none;

            .smallcontent-img{
                height:70px;
                width: 70px;
                background-color: main-color.$main-color-for-app-more-darker;
                border-radius: 100%;
                @include Column-center.column-center;
                .img-for-small-cont{
                    height: 45px;
                    width: 45px;
                }
            }

            .smallcontent-content{
                width: 100%;
                @include Column-center.column-center;
                text-align: center;
                gap: 0px;
                
            }
            .p-one-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 26px;
                font-weight: 900;
                color: rgb(47, 47, 47);
            }
              .p-two-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 16px;
                font-weight: 600;
                color: rgb(90, 90, 90);
            }
        }
        .smallcontent-one-home-move{
            transform: translateX(0px);
            opacity: 1;
            transition-duration: 0.4s;
            transition-timing-function: linear;
        }
        
        .smallcontent-two-home-cont{
            position: absolute;
            padding: 10px 0px;
            height: auto;
            width: 220px;
            border: 2px solid main-color.$main-color-for-app;
            background-color: white;
            border-radius: 15px;
            bottom: 80px;
            right: 40px;
            @include Column-center.column-center;
            gap:5px;
             transform: translateX(120px) ;
            opacity: 0;
            transition-duration: 0.4s;
            transition-timing-function: linear;
            display: none;
            .smallcontent-img{
                height:60px;
                width: 60px;
                background-color: main-color.$main-color-for-app-more-darker;
                border-radius: 100%;
                 @include Column-center.column-center;
                .img-for-small-cont{
                    height: 35px;
                    width: 35px;
                }
            }

            .smallcontent-content{
                width: 100%;
                @include Column-center.column-center;
                text-align: center;
                gap: 5px;
                
            }
            .p-one-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 22px;
                font-weight: 900;
                color: rgb(47, 47, 47);
            }
              .p-two-small-cont{
                font-family: 'Balsamiq Sans';
                font-size: 14px;
                font-weight: 600;
                color: rgb(90, 90, 90);
            }
        }
        .smallcontent-two-home-move{
            transform: translateX(0px);
            opacity: 1;
            transition-duration: 0.4s;
            transition-timing-function: linear;
        }


        .smalldesign-one-home{
            position: absolute;
            height: 107px;
            width: 100px;
            background-image: url('./HomeImg/Untitled (4).png');
            top: 60px;
            right: 80px;
            rotate: -20deg;
        }
        .smalldesign-three-home{
            position: absolute;
            height: 65px;
            width:65px;
            background-image: url('./HomeImg/round (2).png');
            bottom:160px;
            right: 60px;
            rotate: 0deg;
        }
        .tit-for-home-content{
            height: auto;
            width: 100%;
           @include Column-center.column-center;
            align-items: flex-start;
            gap: 20px;

            .top-border-div-home{
                width: 10%;
                height: 5px;
                background: #c757b6;
                background: linear-gradient(32deg, rgba(199, 87, 182, 1) 14%, rgba(218, 87, 133, 1) 53%, rgba(237, 86, 83, 1) 91%);
                border-radius: 100px;
            }
            .main-cont-home{
                height: auto;
                width: 100%;
               @include Column-center.column-center;
                align-items: flex-start;
                gap: 10px;

                .main-cont-one{
                    font-size: 55px;
                    font-family: 'Exo 2';
                    font-weight: 600;
                    color:main-color.$font-main-color;
                }
                .main-cont-two{
                    font-size: 56px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 600;
                   
                    @include main-color.letter-color-main;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
        }
        .subtit-for-home-content{
            height: auto;
            width: 80%;
            @include Row-center.row-center;
         .para-for-sub-cont{
            font-size: 14px;
            color: rgb(97, 97, 97);
            font-family: 'Parkinsans';
            line-height:30px;
            letter-spacing: 1px;
            text-align: justify;
         }   
        }

        .search-for-home-content{
            height: auto;
            width: 100%;
            @include Column-center.column-center;
            align-items: flex-start;
            gap: 20px;

            .inpt-box-home{
                height: 50px;
                width: 80%;
                 @include Row-center.row-center;
                border-radius: 10px;
                .inp-bar-home{
                    height: 100%;
                    width: 100%;
                    flex: 1 1 calc(80%);
                    border: none;
                    padding-left: 10px;
                    padding-right: 20px;
                    border: 2px solid rgb(191, 191, 191);
                
                    border-right: none;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    transition-duration: 0.3s;
                     font-size: 16px;
                    font-family: 'Georama';
                    color: rgb(38, 38, 38);
                    letter-spacing: 1px;

                }
                .inp-bar-home::placeholder{
                    font-size: 15px;
                    font-family: 'Exo 2';
                    color: rgb(139, 139, 139);
                    letter-spacing: 1px;
                }
                .inp-bar-home:focus{
                    transition-duration: 0.3s;
                    outline: none;
                    border: 2px solid main-color.$main-color-for-app;
                
                    border-right: none;
                   
                   }
                .inp-bar-search-btn{
                    height: 100%;
                    width: 100%;
                    flex: 1 1 calc(20%);
                    background: #c757b6;
                background: linear-gradient(32deg, rgba(199, 87, 182, 1) 14%, rgba(218, 87, 133, 1) 53%, rgba(237, 86, 83, 1) 91%);
                    
                    border: none;
                     border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                     font-size: 17px;
                    font-family: 'Roboto Condensed';
                    color: rgb(255, 255, 255);
                    letter-spacing: 1px;
                    cursor: pointer;
                    position: relative;
                    @include Row-center.row-center;
                    z-index: 1;
                          transition-duration: 0.4s;
                    transition-timing-function: linear;
                    overflow: hidden;
                }
                .hover-btn-design{
                    height: 100%;
                    width: 0%;
                    background-color: main-color.$main-color-for-app;
                     left: 0px;
                    position: absolute;
                    z-index: -1;
                          transition-duration: 0.3s;
                    transition-timing-function: linear;
                }

                .inp-bar-search-btn:hover .hover-btn-design{
                    height: 100%;
                    width: 100%;
                    transition-duration: 0.3s;
                    transition-timing-function: linear;
                }
            }

            .search-below{
                height: auto;
                width: 90%;
                 @include Row-center.row-center;
                justify-content: flex-start;
                .home-qual-para{
                    @include Row-center.row-center;
                    font-size: 15px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: rgb(100, 100, 100);
                    gap: 10px;
                    .star-span{
                       @include Row-center.row-center;
                        gap: 2px;
                        font-size: 16px;
                        color: rgb(255, 189, 21);
                    }
                }
            }
        }
    }
}



.home-main-for-design{
    height:280px;
    width: 100%;
    background-color: main-color.$main-color-for-app-little-lighter;
    @include Column-center.column-center;
    position: relative;

    .div-for-bottom-image-clody{
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-image: url('./HomeImg/kindergarten-banner-overly.fec9c3a9.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }
}



@media screen and  (max-width:1440px) {
    .home-main-for-intro .learn-p-in-bottom{
        height: auto;
        right: -220px;

    }
    .home-main-for-intro .man-img-for-home .man-image-in-home-img{
        height: 95%;
    }
}

@media screen and  (max-width:1240px) {
    .home-main-for-intro .man-img-for-home .smalldesign-two-home{
        right: 0px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 12px;
        line-height: 26px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home{
        width: 190px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home{
        width: 130px;
        height: 170px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img{
        height: 60px;
        width: 60px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img .img-for-small-cont{
        height: 36px;
        width: 36px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-one-small-cont{
        font-size: 24px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-two-small-cont{
        font-size: 13px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home .smallcontent-img{
        height: 55px;
        width: 55px;

    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home .smallcontent-img .img-for-small-cont{
        height: 30px;
        width: 30px;
    }
    .home-main-for-intro .man-img-for-home .rouonded-bg-home {
        width: 85%;
    }
    .home-main-for-intro .man-img-for-home .man-image-in-home-img{
        width: 670px;
        height: 100%;
    }
    .home-main-for-intro {
        height: 105dvh;
    }
    .home-main-for-design{
        height: 220px;
    }
    .home-main-for-intro .home-content-div .smalldesign-three-home{
        right: 10px;
        bottom: 100px;
    }
     .home-main-for-intro .learn-p-in-bottom{
        height: auto;
        right: -320px;

    }.home-main-for-intro .man-img-for-home .smalldesign-five-home{
        height: 70px;
        width: 70px;
        background-size: contain;
    }
    
}


@media screen and  (max-width:1100px) {
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one,.home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 50px;
    }
    .home-main-for-intro .home-content-div{
        padding-left: 10px;
    }
    .home-main-for-intro .home-content-div .smalldesign-one-home{
        height: 90px;
        width: 90px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 30px;
        right: 50px;
    }
    .home-main-for-intro .man-img-for-home .smalldesign-two-home{
        height: 100px;
        width: 100px;
           background-size: contain;
        background-repeat: no-repeat;
        top: 50px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home{
        width: 120px;
        height: 150px;

    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img,.home-main-for-intro .man-img-for-home .smallcontent-two-home .smallcontent-img{
        height: 50px;
        width: 50px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img .img-for-small-cont{
        height: 32px;
        width: 32px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-one-small-cont,.home-main-for-intro .man-img-for-home .smallcontent-two-home .p-one-small-cont{
        font-size: 20px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-two-small-cont,.home-main-for-intro .man-img-for-home .smallcontent-two-home .p-two-small-cont{
        font-size: 11px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home{
        width: 160px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home .smallcontent-img .img-for-small-cont{
        height: 28px;
        width: 28px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home-move{
        gap: 2px;
    }.home-main-for-intro .man-img-for-home .smallcontent-one-home{
        left: 50px;
        top: 70px;
    }
    .home-main-for-intro .man-img-for-home .man-image-in-home-img {
        width: 540px;
    }
    .home-main-for-intro .man-img-for-home .smalldesign-four-home{
        height: 170px;
        width: 170px;
        
    }
    .home-main-for-intro .man-img-for-home .rouonded-bg-home{
        width: 70%;
    }
    .home-main-for-intro .home-content-div .smalldesign-three-home{
        height: 50px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .home-main-for-intro .man-img-for-home .smalldesign-five-home{
        height: 60px;
        width: 60px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        height: 45px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        font-size: 15px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home{
        font-size: 15px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home::placeholder{
        font-size: 12px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 14px;
    }.home-main-for-intro .learn-p-in-bottom{
        height: auto;
        right: -320px;
        font-size:100px;
        bottom: -10px;

    }

}



@media screen and  (max-width:950px) {
    .home-main-for-intro .home-content-div{
        padding-left: 0px;
    }
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 45px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 11px;
    }
    .home-main-for-intro .home-content-div{
        gap: 20px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para .star-span{
        font-size: 13px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 13px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home{
        height: 130px;
        width: 110px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img, .home-main-for-intro .man-img-for-home .smallcontent-two-home .smallcontent-img{
        height: 45px;
        width: 45px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img .img-for-small-cont{
        height: 30px;
        width: 30px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home{
        padding:5px 0px;
        width: 150px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-one-small-cont, .home-main-for-intro .man-img-for-home .smallcontent-two-home .p-one-small-cont{
        font-size: 18px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-two-small-cont, .home-main-for-intro .man-img-for-home .smallcontent-two-home .p-two-small-cont {
        font-size: 10px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home{
        left: 20px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-two-home{
        bottom: 40px;
        right: 20px;
    }
    .home-main-for-intro .man-img-for-home .man-image-in-home-img{
        width: 480px;
        height: 90%;
        bottom: 0px;
    }
    .home-main-for-intro{
        height: 100dvh;
    }
    .home-main-for-intro .light-design-one{
        height: 200px;
        width: 700px;
    }
    .home-main-for-intro .light-design-two{
        height: 200px;
        width: 400px;
    }
    .home-main-for-intro .light-design-three{
        width: 450px;
        height: 200px;
        right: 300px;
    }
    .home-main-for-intro .man-img-for-home{
        flex: 1 1 calc(45%);
    }
    .home-main-for-intro .man-img-for-home .rouonded-bg-home{
        height: 70%;
            background-color: rgb(255, 207, 210);
    }
  .home-main-for-intro .home-content-div .subtit-for-home-content{
        width: 95%;
    }
}



@media screen and  (max-width:790px) {
    .home-main-for-intro .home-content-div .smalldesign-one-home{
        height: 75px;
        width: 75px;
        right: 40px;
    }
    .home-main-for-intro .man-img-for-home .smalldesign-two-home{
        height: 85px;
        width: 85px;
    }
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 40px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 10.5px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        font-size: 13px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        height:40px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home{
        font-size: 11px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home{
        width: 95px;
        border-radius: 10px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img, .home-main-for-intro .man-img-for-home .smallcontent-two-home .smallcontent-img{
        height: 40px;
        width: 40px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .smallcontent-img .img-for-small-cont,.home-main-for-intro .man-img-for-home .smallcontent-two-home .smallcontent-img .img-for-small-cont{
        height: 26px;
        width: 26px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-one-small-cont, .home-main-for-intro .man-img-for-home .smallcontent-two-home .p-one-small-cont{
        font-size: 17px;
    }
    .home-main-for-intro .man-img-for-home .smallcontent-one-home .p-two-small-cont, .home-main-for-intro .man-img-for-home .smallcontent-two-home .p-two-small-cont{
        font-size: 9.5px;
    }.home-main-for-intro .man-img-for-home .smallcontent-two-home{
        width: 120px;
        border-radius: 10px;
    }
    .home-main-for-intro .man-img-for-home .smalldesign-five-home{
        height: 50px;
        width: 50px;

    }
    .home-main-for-intro .man-img-for-home .man-image-in-home-img{
        width: 440px;
        height:85%;
    }
     .home-main-for-design{
        height: 180px;
    }
}


@media screen and  (max-width:730px) {
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 10px;
        line-height: 22px;
    }
}


@media screen and  (max-width:700px) {
    .home-main-for-intro .man-img-for-home{
        display: none;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        display: flex;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        display: flex;
    }
    .home-main-for-intro .home-content-div{
        padding-left: 40px;
    }
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 55px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 30px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content{
        width:80%;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        width: 60%;
        height: 46px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        font-size: 15px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home{
        font-size: 13px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home::placeholder{
        font-size: 14px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 14px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para .star-span{
        font-size: 16px;
    }
    .home-main-for-intro .home-content-div .smalldesign-one-home{
        height: 95px;
        width: 95px;
    }.home-main-for-intro .home-content-div .smalldesign-three-home{
        height: 60px;
        width: 60px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont .smallcontent-img,.home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img{
        height: 45px;
        width: 45px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont .smallcontent-img .img-for-small-cont,.home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img .img-for-small-cont{
        height: 30px;
        width: 30px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .p-one-small-cont,.home-main-for-intro .home-content-div .smallcontent-two-home-cont .p-one-small-cont{
        font-size: 18px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .p-two-small-cont,.home-main-for-intro .home-content-div .smallcontent-two-home-cont .p-two-small-cont{
        font-size: 11px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        gap: 10px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        height: 110px;
        width: 100px;
        left: 140px;
        border-radius: 10px;
        top: 10px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        width: 110px;
        border-radius: 10px;
        right: 150px;
        bottom: 20px;
        
    }
}


@media screen and  (max-width:640px) {
.home-main-for-intro .home-content-div{
    padding-left: 10px;
    padding-top:70px;
}
.home-main-for-intro{
    height: 110dvh;
}
 .home-main-for-design{
        height: 140px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        top: 70px;
    }
    .home-main-for-intro .home-content-div .smalldesign-one-home{
        top: 70px;
    }
}


@media screen and  (max-width:600px) {
 .home-main-for-intro .home-content-div .smallcontent-two-home-cont .smallcontent-img,.home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img{
        height: 40px;
        width: 40px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont .smallcontent-img .img-for-small-cont,.home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img .img-for-small-cont{
        height: 25px;
        width: 25px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .p-one-small-cont,.home-main-for-intro .home-content-div .smallcontent-two-home-cont .p-one-small-cont{
        font-size: 16px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .p-two-small-cont,.home-main-for-intro .home-content-div .smallcontent-two-home-cont .p-two-small-cont{
        font-size: 10px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        gap: 6px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        height: 100px;
        width: 90px;
        left: 140px;
        border-radius: 10px;
        
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        width: 100px;
        border-radius: 10px;
        right: 90px;
        bottom: 20px;
        
    }
}


@media screen and  (max-width:530px) {
.home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
    font-size: 50px;
}

.home-main-for-intro .home-content-div .smallcontent-two-home-cont{
    bottom: 10px;
}
    .home-main-for-intro .home-content-div .subtit-for-home-content{
        width: 85%;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        height: 42px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        font-size: 13px;
    }  .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home::placeholder{
        font-size: 12px;
    }
    .home-main-for-intro .home-content-div{
        padding-top: 50px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        bottom: 5px;
    }
}


@media screen and  (max-width:480px) {
    .home-main-for-intro{
        height: 105dvh;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 11px;
        line-height: 26px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content{
        width: 90%;
    }
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 45px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont .smallcontent-img, .home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img{
        height: 37px;
        width: 37px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont .smallcontent-img .img-for-small-cont, .home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img .img-for-small-cont{
        height: 22px;
        width: 22px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .p-one-small-cont, .home-main-for-intro .home-content-div .smallcontent-two-home-cont .p-one-small-cont{
        font-size: 13px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .p-two-small-cont, .home-main-for-intro .home-content-div .smallcontent-two-home-cont .p-two-small-cont{
        font-weight: 300;
        font-size: 9px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        width: 80px;
        height: 90px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        width: 90px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        left: 80px;
    }
}


@media screen and  (max-width:424px) {
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 40px;
    }
    .home-main-for-intro .home-content-div .smalldesign-one-home{
        height: 80px;
        width: 80px;
    }
    .home-main-for-intro .home-content-div .smalldesign-three-home{
        height: 50px;
        width: 50px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        width: 70%;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content{
        width: 95%;
    }
}



@media screen and  (max-width:405px) {
     .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        left: 20px;
        top: 60px;
    }
    .home-main-for-intro{
        height: 100dvh;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 10px;
        line-height: 24px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 13px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para .star-span{
        font-size: 14px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        height: 40px;
    }
}


@media screen and  (max-width:380px) {
    .home-main-for-intro .home-content-div .tit-for-home-content{
        gap: 10px;
    }
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 37px;
    }
    .home-main-for-intro .home-content-div{
        gap: 14px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        font-size: 12px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home{
        font-size: 12px;
    }
     .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home::placeholder{
        font-size: 11px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 12px;
    }
}
@media screen and  (max-width:370px) {
.home-main-for-intro .home-content-div .smallcontent-one-home-cont{
    top: 55px;
}
}
@media screen and  (max-width:355px) {
.home-main-for-intro .home-content-div .smallcontent-one-home-cont{
    top: 60px;
}
.home-main-for-intro .home-content-div .smalldesign-one-home{
    height: 75px;
    width: 75px;
    top: 50px;
}
.home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
    font-size: 35px;
}
.home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
    font-size:10px;
    line-height: 24px;
    font-family: 'Inter';
    letter-spacing: 0.5px;
}
.home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
    height: 37px;
}
.home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
    font-size: 11px;
}
.home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para .star-span{
    font-size: 13px;
}
}

@media screen and  (max-width:335px) {
.home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
    font-size: 33px;
}
.home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
    font-size: 10px;
}
.home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home{
    font-size: 11px;
}
 .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home::placeholder{
        font-size: 10px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 10px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para .star-span{
        font-size: 11px;
    }
    .home-main-for-design{
        height:120px;
    }
}


@media screen and  (min-height:700px) and  (max-height:799px) and  (max-width:600px){
.home-main-for-intro{
        height: 90dvh;
    }.home-main-for-intro .home-content-div .smallcontent-one-home-cont{
    top: 70px;
}.home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        bottom: 20px;
    }
}
@media screen and  (min-height:800px) and  (max-height:850px) and  (max-width:600px){
.home-main-for-intro{
        height: 85dvh;
    }.home-main-for-intro .home-content-div .smallcontent-one-home-cont{
    top: 70px;
}.home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        bottom: 20px;
    }
}
@media screen and  (min-height:851px) and  (max-height:900px) and  (max-width:600px){
.home-main-for-intro{
        height: 80dvh;
    }.home-main-for-intro .home-content-div .smallcontent-one-home-cont{
    top: 70px;
}.home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        bottom: 20px;
    }
}


@media screen and  (min-height:901px) and  (max-height:960px) and  (max-width:600px){
    .home-main-for-intro{
        height: 75dvh;
    }
}

@media screen and  (min-height:501px) and  (max-height:600px) and  (max-width:400px){
.home-main-for-intro{
        height: 120dvh;
    }
}


@media screen and  (min-height:990px) and  (max-height:1150px) and  (max-width:990px){
     .home-main-for-intro .man-img-for-home{
        display: none;
    }
    
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        display: flex;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        display: flex;
    }
    .home-main-for-intro{
        height: 75dvh;
    }
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 65px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 17px;
        line-height: 43px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content{
        width: 90%;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        width: 50%;
        height:55px;
    }
    .home-main-for-intro .home-content-div{
        padding-left: 20px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home{
        font-size: 19px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        font-size: 18px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        flex: 1 1 calc(30%);
    }
     .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home::placeholder{
        font-size: 16px;
    }.home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 18px;
    }
    .home-main-for-intro .home-content-div{
        gap: 35px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para .star-span{
        font-size: 22px;
    }
    .home-main-for-intro .home-content-div .smalldesign-one-home{
        height: 120px;
        width: 120px;
    }
    .home-main-for-intro .home-content-div .smalldesign-three-home{
        height:100px;
        width:100px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        width: 180px;
        bottom: 10px;
        right: 150px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        top: 10px;

    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img{
        height: 60px;
        width: 60px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img .img-for-small-cont{
        height: 40px;
        width: 40px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        gap: 8px;
        height: 150px;
        left: 150px;
        
    }.home-main-for-intro .learn-p-in-bottom{
        font-size:140px;
    }
}

@media screen and  (min-height:1151px) and  (max-height:1300px) and  (max-width:990px){
     .home-main-for-intro .man-img-for-home{
        display: none;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        display: flex;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        display: flex;
    }
    .home-main-for-intro{
        height: 70dvh;
    }
    .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-one, .home-main-for-intro .home-content-div .tit-for-home-content .main-cont-home .main-cont-two{
        font-size: 65px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content .para-for-sub-cont{
        font-size: 17px;
        line-height: 43px;
    }
    .home-main-for-intro .home-content-div .subtit-for-home-content{
        width: 90%;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home{
        width: 50%;
        height:55px;
    }
    .home-main-for-intro .home-content-div{
        padding-left: 20px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home{
        font-size: 19px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        font-size: 18px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-search-btn{
        flex: 1 1 calc(30%);
    }
     .home-main-for-intro .home-content-div .search-for-home-content .inpt-box-home .inp-bar-home::placeholder{
        font-size: 16px;
    }.home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para{
        font-size: 18px;
    }
    .home-main-for-intro .home-content-div{
        gap: 35px;
    }
    .home-main-for-intro .home-content-div .search-for-home-content .search-below .home-qual-para .star-span{
        font-size: 22px;
    }
    .home-main-for-intro .home-content-div .smalldesign-one-home{
        height: 120px;
        width: 120px;
    }
    .home-main-for-intro .home-content-div .smalldesign-three-home{
        height:100px;
        width:100px;
    }
    .home-main-for-intro .home-content-div .smallcontent-two-home-cont{
        width: 180px;
        bottom: 10px;
        right: 190px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        top: 10px;

    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img{
        height: 60px;
        width: 60px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont .smallcontent-img .img-for-small-cont{
        height: 40px;
        width: 40px;
    }
    .home-main-for-intro .home-content-div .smallcontent-one-home-cont{
        gap: 8px;
        height: 150px;
        left: 150px;
        
    }.home-main-for-intro .learn-p-in-bottom{
        font-size:140px;
    }
    
}