@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
.student-join-container {
  height: 100dvh;
  width: 100%;
  padding: 60px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.student-join-container .student-join-image-container {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}
.student-join-container .student-join-image-container .small-box-about-review-design {
  position: absolute;
  height: 170px;
  width: 190px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fec300;
  gap: 15px;
  padding: 20px 20px;
  z-index: 1;
  transform: scale(0);
  transition-duration: 0.6s;
  transition-delay: 0s;
}
.student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews {
  height: 35px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews .design-box-stud-rev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews .design-box-stud-rev .star-for-design-in-stug-join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: rgb(255, 196, 0);
}
.student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews .design-box-stud-rev .stud-join-design-para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.student-join-container .student-join-image-container .small-box-about-review-design .number-of-student-reviewed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.student-join-container .student-join-image-container .small-box-about-review-design .number-of-student-reviewed .student-reviewed-number-para-one {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 800;
  color: rgb(24, 24, 24);
}
.student-join-container .student-join-image-container .small-box-about-review-design .number-of-student-reviewed .student-reviewed-number-para-two {
  font-size: 35px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 42, 42);
}
.student-join-container .student-join-image-container .design-no-scale {
  transform: scale(1);
  transition-duration: 0.6s;
  transition-delay: 0.6s;
}
.student-join-container .student-join-image-container .student-join-image-container-one {
  height: 100%;
  width: 100%;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}
.student-join-container .student-join-image-container .student-join-image-container-one .student-join-image-one-insider-one {
  height: 100%;
  width: 100%;
  flex: 1 1 60%;
  background-image: url("/StudentJoin/img-side-one-stud-join.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  transform: translateY(-280px);
  transition-duration: 0.5s;
}
.student-join-container .student-join-image-container .student-join-image-container-one .student-join-image-one-insider-one-no-animation {
  transform: translateY(0px);
  transition-duration: 0.5s;
}
.student-join-container .student-join-image-container .student-join-image-container-one .student-join-image-one-insider-two {
  height: 100%;
  width: 100%;
  flex: 1 1 40%;
  background-image: url("/StudentJoin/img-side-two-stud-join.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  clip-path: inset(90% 90% 0% 0%);
  transition-duration: 0.5s;
}
.student-join-container .student-join-image-container .student-join-image-container-one .student-join-image-one-insider-two-no-animation {
  clip-path: inset(0% 0% 0% 0%);
  transition-duration: 0.5s;
}
.student-join-container .student-join-image-container .student-join-image-container-two {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}
.student-join-container .student-join-image-container .student-join-image-container-two .student-join-image-two-insider-one {
  height: 100%;
  width: 100%;
  flex: 1 1 40%;
  background-image: url("/StudentJoin/img-side-three-stud-join.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  clip-path: inset(0% 0% 90% 90%);
  transition-duration: 0.5s;
}
.student-join-container .student-join-image-container .student-join-image-container-two .student-join-image-two-insider-one-no-animation {
  clip-path: inset(0% 0% 0% 0%);
  transition-duration: 0.5s;
}
.student-join-container .student-join-image-container .student-join-image-container-two .student-join-image-two-insider-two {
  height: 100%;
  width: 100%;
  flex: 1 1 60%;
  background-image: url("/StudentJoin/img-side-four-stud-join.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  transform: translateX(300px);
  transition-duration: 0.5s;
}
.student-join-container .student-join-image-container .student-join-image-container-two .student-join-image-two-insider-two-no-animation {
  transform: translateX(0px);
  transition-duration: 0.5s;
}
.student-join-container .student-join-content-container {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-items: flex-start;
  position: relative;
}
.student-join-container .student-join-content-container .box-animation {
  position: absolute;
  height: 50px;
  width: 50px;
  border: 4px solid rgb(255, 137, 137);
  top: 15%;
  right: 10%;
  transform: rotate(-10deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.student-join-container .student-join-content-container .box-animation .inner-box-animation {
  height: 80%;
  width: 80%;
  border-radius: 5px;
  background-color: rgb(255, 61, 61);
}
.student-join-container .student-join-content-container .hand-shake-animation {
  position: absolute;
  height: 120px;
  width: 120px;
  right: 0%;
  bottom: 10%;
  background-image: url("./StudentJoin/hand-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.student-join-container .student-join-content-container .main-title-in-student-join {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
}
.student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
  font-size: 26px;
  font-family: "WindSong";
  font-weight: 600;
  color: rgb(255, 89, 100);
}
.student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join {
  font-size: 45px;
  font-family: "Averia Libre";
  font-weight: 600;
  color: rgb(52, 52, 52);
}
.student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join .student-joinin-number {
  font-family: "Style Script";
  color: rgb(255, 68, 81);
  position: relative;
}
.student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
  font-size: 45px;
  font-family: "Averia Libre";
  font-weight: 600;
  color: rgb(52, 52, 52);
}
.student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}
.student-join-container .student-join-content-container .information-boxes-student-join {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  justify-content: flex-start;
  padding-left: 20px;
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
  height: 150px;
  width: 170px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fec300;
  gap: 15px;
  padding: 20px 20px;
  z-index: 1;
  display: none;
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews {
  height: 35px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .star-for-design-in-stug-join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: rgb(255, 196, 0);
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .stud-join-design-para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-one {
  font-size: 14px;
  font-family: "Delius";
  font-weight: 800;
  color: rgb(24, 24, 24);
}
.student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-two {
  font-size: 35px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 42, 42);
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two {
  height: 160px;
  width: 180px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
  height: 33px;
  width: 100%;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(44, 44, 44);
  font-family: "Sniglet";
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-stud-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-stud-one {
  background-color: rgb(255, 98, 77);
  color: white;
  border: none;
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-stud-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-stud-two {
  background-color: rgb(255, 216, 75);
  color: rgb(14, 14, 14);
  border: none;
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one {
  font-size: 14px;
  font-family: "Delius";
  font-weight: 800;
  color: rgb(55, 55, 55);
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two {
  font-size: 35px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(42, 42, 42);
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-two {
  background-color: rgb(215, 147, 255);
  position: relative;
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .break-circle-two {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  right: -25px;
  background-image: url("./StudentJoin/break-cirlce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotatedesign-student-join 8s linear infinite;
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one {
  background-color: rgb(255, 240, 108);
  position: relative;
}
.student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .break-circle-one {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  right: -25px;
  background-image: url("./StudentJoin/break-cirlce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotatedesign-student-join 8s linear infinite;
}
@keyframes rotatedesign-student-join {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.student-join-container .student-join-content-container .stud-join-main-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
  border: none;
  height: 55px;
  width: 190px;
  border-radius: 30px;
  background-color: rgb(255, 74, 74);
  font-size: 15px;
  font-weight: 500;
  font-family: "Anta";
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  cursor: pointer;
  gap: 10px;
  overflow: hidden;
  position: relative;
  transition-duration: 0.4s;
  z-index: 1;
}
.student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn .span-for-btn-stud-join {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #fec300;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  transition-duration: 0.4s;
}
.student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn .design-div-for-tud-btn-join-stud {
  position: absolute;
  height: 0px;
  width: 0px;
  border-radius: 100%;
  z-index: -1;
  background-color: #fec300;
  right: 25px;
  transition-duration: 0.6s;
}
.student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn:hover .design-div-for-tud-btn-join-stud {
  height: 110px;
  width: 220px;
  transition-duration: 0.6s;
}
.student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn:hover {
  color: black;
  transition-duration: 0.4s;
}
.student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn:hover .span-for-btn-stud-join {
  color: rgb(255, 56, 56);
  transition-duration: 0.4s;
}

@media screen and (max-width: 1343px) {
  .student-join-container .student-join-content-container .box-animation {
    right: 0%;
  }
}
@media screen and (max-width: 1280px) {
  .student-join-container {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 1150px) {
  .student-join-container {
    gap: 15px;
  }
  .student-join-container .student-join-content-container .box-animation {
    top: 10%;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    bottom: 5%;
  }
}
@media screen and (max-width: 1100px) {
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 40px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
    font-size: 22px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 13px;
    line-height: 28px;
    width: 90%;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two {
    height: 140px;
    width: 160px;
    padding: 20px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design {
    height: 150px;
    width: 170px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .number-of-student-reviewed .student-reviewed-number-para-one {
    font-size: 12px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .number-of-student-reviewed .student-reviewed-number-para-two {
    font-size: 30px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews .design-box-stud-rev {
    font-size: 11px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews .design-box-stud-rev .stud-join-design-para {
    font-size: 13px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews {
    height: 30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one {
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two {
    font-size: 28px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    height: 30px;
    font-size: 13px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    gap: 50px;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    height: 100px;
    width: 100px;
    bottom: 0%;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    height: 43px;
    width: 180px;
    font-size: 13px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn .span-for-btn-stud-join {
    height: 20px;
    width: 20px;
    font-size: 11px;
  }
  .student-join-container {
    padding: 20px;
  }
  .student-join-container .student-join-content-container .box-animation {
    top: 0%;
  }
}
@media screen and (max-width: 940px) {
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 36px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
    font-size: 20px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 12px;
    line-height: 26px;
    width: 95%;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two {
    height: 130px;
    width: 145px;
    border-radius: 14px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .break-circle-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .break-circle-two {
    height: 45px;
    width: 45px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one {
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two {
    font-size: 26px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    width: 160px;
  }
  .student-join-container .student-join-content-container .box-animation {
    height: 45px;
    width: 45px;
    top: 5%;
    right: 4%;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design {
    height: 140px;
    width: 160px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .number-of-student-reviewed .student-reviewed-number-para-two {
    font-size: 28px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews .design-box-stud-rev {
    font-size: 10px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews {
    height: 26px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 840px) {
  .student-join-container {
    height: 90dvh;
    padding: 10px;
  }
  .student-join-container .student-join-image-container {
    padding: 20px 0px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
    font-size: 19px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 33px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 11px;
    line-height: 22px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    gap: 40px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    font-size: 11px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .break-circle-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .break-circle-two {
    height: 40px;
    width: 40px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design {
    height: 130px;
    width: 150px;
    border-radius: 10px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    height: 40px;
    width: 170px;
  }
}
@media screen and (max-width: 790px) {
  .student-join-container .student-join-image-container {
    padding: 30px 0px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
    font-size: 17px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 31px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 10.5px;
  }
  .student-join-container .student-join-content-container {
    gap: 30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two {
    width: 135px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    padding-left: 5px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one {
    font-size: 11.5px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two {
    font-size: 25px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    height: 22px;
    border-radius: 5px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    height: 35px;
    width: 150px;
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn .span-for-btn-stud-join {
    height: 16px;
    width: 16px;
    font-size: 9.5px;
  }
  .student-join-container .student-join-image-container .student-join-image-container-one .student-join-image-one-insider-one, .student-join-container .student-join-image-container .student-join-image-container-two .student-join-image-two-insider-one, .student-join-container .student-join-image-container .student-join-image-container-two .student-join-image-two-insider-two, .student-join-container .student-join-image-container .student-join-image-container-one .student-join-image-one-insider-two {
    border-radius: 10px;
  }
  .student-join-container {
    height: 85dvh;
  }
}
@media screen and (max-width: 740px) {
  .student-join-container .student-join-image-container .small-box-about-review-design {
    height: 125px;
    width: 140px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design .design-box-stud-reviews {
    height: 25px;
  }
  .student-join-container .student-join-image-container .small-box-about-review-design {
    padding: 15px;
  }
}
@media screen and (max-width: 710px) {
  .student-join-container .student-join-image-container {
    display: none;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    padding-left: 0px;
  }
  .student-join-container {
    height: auto;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
    font-size: 22px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 45px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 13px;
    line-height: 33px;
    width: 90%;
  }
  .student-join-container .student-join-content-container .box-animation {
    height: 55px;
    width: 55px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two {
    height: 150px;
    width: 170px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    height: 28px;
    border-radius: 15px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    font-size: 13px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-one {
    font-size: 13px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed {
    gap: 6px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev {
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews {
    height: 30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .stud-join-design-para {
    font-size: 13px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-two {
    font-size: 30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .break-circle-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .break-circle-two {
    height: 50px;
    width: 50px;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    height: 120px;
    width: 120px;
    right: 10%;
    top: 40%;
    z-index: -1;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    height: 43px;
    font-size: 13px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    display: flex;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two {
    border-radius: 20px;
  }
}
@media screen and (max-width: 600px) {
  .student-join-container .student-join-content-container .box-animation {
    height: 46px;
    width: 46px;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    height: 100px;
    width: 100px;
    right: 15%;
    top: auto;
    bottom: -5%;
    z-index: -1;
  }
}
@media screen and (max-width: 550px) {
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 40px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 12px;
    line-height: 24px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    gap: 30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    height: 140px;
    width: 150px;
    padding: 15px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-one {
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-two {
    font-size: 28px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews {
    height: 28px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .star-for-design-in-stug-join {
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .break-circle-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .break-circle-two {
    height: 40px;
    width: 40px;
    right: -20px;
    top: -20px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    gap: 20px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    border-radius: 15px;
  }
}
@media screen and (max-width: 480px) {
  .student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
    font-size: 20px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 35px;
  }
  .student-join-container .student-join-content-container .box-animation {
    height: 40px;
    width: 40px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    width: 95%;
    font-size: 11px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    height: 40px;
  }
}
@media screen and (max-width: 460px) {
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    font-size: 11px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews {
    height: 25px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .star-for-design-in-stug-join {
    font-size: 10px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .stud-join-design-para {
    font-size: 10px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev {
    gap: 6px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    height: 130px;
    border-radius: 10px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-one {
    font-size: 11px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-two {
    font-size: 26px;
  }
  .student-join-container .student-join-content-container .box-animation {
    top: 0%;
    border-width: 3.5px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    height: 38px;
    width: 140px;
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    bottom: -6%;
  }
}
@media screen and (max-width: 420px) {
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 32px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 10px;
    line-height: 23px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    gap: 12px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    height: 120px;
  }
}
@media screen and (max-width: 390px) {
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    padding: 15px;
    height: 130px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one {
    display: none;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    gap: 30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-one {
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .star-for-design-in-stug-join {
    font-size: 11px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .stud-join-design-para {
    font-size: 12px;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    bottom: -6%;
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 360px) {
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 28px;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    bottom: -6%;
    right: 0%;
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-height: 990px) and (max-height: 1300px) and (max-width: 990px) {
  .student-join-container .student-join-image-container {
    display: none;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join {
    padding-left: 0px;
  }
  .student-join-container {
    height: auto;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-one-stud-join, .student-join-container .student-join-content-container .main-title-in-student-join .main-title-div-for-head-stud-join .main-tit-two-stud-join {
    font-size: 55px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .small-tit-in-student-join {
    font-size: 30px;
  }
  .student-join-container .student-join-content-container .main-title-in-student-join .sub-tit-in-stud-join {
    font-size: 17.5px;
    line-height: 34px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    display: flex;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont {
    height: 180px;
    width: 200px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews {
    height: 38px;
    border-radius: 20px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .break-circle-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .break-circle-two {
    height: 65px;
    width: 65px;
    top: -30px;
    right: -30px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .star-for-design-in-stug-join {
    font-size: 16px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one {
    gap: 10px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .design-box-stud-reviews .design-box-stud-rev .stud-join-design-para {
    font-size: 18px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .mode-of-student-join-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .mode-of-student-join-one {
    font-size: 18px;
  }
  .student-join-container .student-join-content-container .box-animation {
    height: 65px;
    width: 65px;
  }
  .student-join-container .student-join-content-container .hand-shake-animation {
    height: 160px;
    width: 160px;
    bottom: -8%;
    right: 10%;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn {
    height: 58px;
    width: 190px;
    font-size: 18px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn .span-for-btn-stud-join {
    height: 22px;
    width: 22px;
  }
  .student-join-container .student-join-content-container .stud-join-main-btn .stud-join-btn .span-for-btn-stud-join {
    font-size: 13px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-one, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-one {
    font-size: 19px;
  }
  .student-join-container .student-join-content-container .information-boxes-student-join .information-box-one .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .information-box-two .number-of-student-join-one .student-number-para-two, .student-join-container .student-join-content-container .information-boxes-student-join .small-box-about-review-design-cont .number-of-student-reviewed .student-reviewed-number-para-two {
    font-size: 38px;
  }
}

/*# sourceMappingURL=StudentJoin.css.map */
