@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.prog-advantage-main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
  padding-bottom: 60px;
  gap: 40px;
  overflow: hidden;
  position: relative;
}
.prog-advantage-main-container .dotted-animation {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 0px;
  background-image: url("/ProgAdvan/dot-advantage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.prog-advantage-main-container .prog-advantage-image-container {
  height: 100%;
  width: 100%;
  flex: 1 1 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.prog-advantage-main-container .prog-advantage-image-container .image-tag-prog-advantage {
  height: 360px;
  width: 400px;
  border-radius: 15px;
  position: relative;
  background-image: url("/ProgAdvan/service-filler-img-6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.prog-advantage-main-container .prog-advantage-image-container .image-tag-prog-advantage .prog-advantage-image-one {
  position: absolute;
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  right: -40px;
  top: -50px;
}
.prog-advantage-main-container .prog-advantage-image-container .image-tag-prog-advantage .prog-advantage-image-two {
  position: absolute;
  height: 220px;
  width: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  left: -120px;
  bottom: 20px;
}
.prog-advantage-main-container .prog-advantage-image-container .image-tag-prog-advantage .prog-advantage-image-three {
  position: absolute;
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  right: -80px;
  bottom: -80px;
  z-index: -1;
}
.prog-advantage-main-container .prog-advantage-content-container {
  height: 100%;
  width: 100%;
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-title-bar {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-items: flex-start;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-title-bar .prog-advantage-tit-image {
  height: 20px;
  width: 100px;
  background-image: url("/ProgAdvan/tit-line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-title-bar .prog-advantage-tit-cont {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-title-bar .prog-advantage-tit-cont .advan-tit-para-one {
  font-size: 45px;
  font-family: "Averia Libre";
  font-weight: 600;
  color: rgb(52, 52, 52);
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-title-bar .prog-advantage-tit-cont .advan-tit-para-one .span-tit-in-prog-advantage {
  font-size: 45px;
  font-family: "Rochester";
  background: #c757b6;
  background: linear-gradient(32deg, rgb(199, 87, 182) 14%, rgb(218, 87, 133) 53%, rgb(237, 86, 83) 91%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-title-bar .prog-advantage-tit-cont .advan-tit-para-two {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-items: flex-start;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-one, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-two, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-three {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-items: flex-start;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-one .progress-para, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-two .progress-para, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-three .progress-para {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
  color: rgb(52, 52, 52);
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-one .progress-para .percentage-progress, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-two .progress-para .percentage-progress, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-three .progress-para .percentage-progress {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  color: rgb(73, 73, 73);
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-one .progress-line, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-two .progress-line, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-three .progress-line {
  height: 8px;
  width: 100%;
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
  overflow: hidden;
}
.prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-one .progress-line .progress-inner-line, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-two .progress-line .progress-inner-line, .prog-advantage-main-container .prog-advantage-content-container .prog-advantage-progress-bar .progress-three .progress-line .progress-inner-line {
  height: 100%;
  border-radius: 15px;
  width: 80%;
  background-color: rgb(255, 68, 81);
}
.prog-advantage-main-container .prog-advantage-btn {
  height: auto;
  width: auto;
  padding: 14px 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 74, 74);
  border: none;
  border-radius: 20px;
  letter-spacing: 1px;
  font-family: "Electrolize";
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
  margin-top: 30px;
}
.prog-advantage-main-container .prog-advantage-btn .btn-design-in-prog-advantage-by-one {
  position: absolute;
  height: 50%;
  width: 0%;
  top: 0px;
  left: 0px;
  background-color: #fec300;
  z-index: -1;
  transition-duration: 0.5s;
}
.prog-advantage-main-container .prog-advantage-btn .btn-design-in-prog-advantage-by-two {
  position: absolute;
  height: 50%;
  width: 0%;
  bottom: 0px;
  right: 0px;
  background-color: #fec300;
  z-index: -1;
  transition-duration: 0.5s;
}
.prog-advantage-main-container .prog-advantage-btn .arrow-btn-prog-advantage-by {
  transform: translateX(0px) rotate(0deg);
  transition-duration: 0.4s;
}
.prog-advantage-main-container .prog-advantage-btn:hover .btn-design-in-prog-advantage-by-one {
  width: 100%;
  transition-duration: 0.5s;
}
.prog-advantage-main-container .prog-advantage-btn:hover .btn-design-in-prog-advantage-by-two {
  width: 100%;
  transition-duration: 0.5s;
}
.prog-advantage-main-container .prog-advantage-btn:hover {
  color: rgb(43, 43, 43);
  transition-duration: 0.4s;
  font-weight: 800;
}
.prog-advantage-main-container .prog-advantage-btn:hover .arrow-btn-prog-advantage-by {
  transform: translateX(10px) rotate(-10deg);
  transition-duration: 0.4s;
}

/*# sourceMappingURL=ProgAdvantage.css.map */
