
@use '../main-color';
@use '../Column-center';
@use '../Row-center';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@mixin number-analysis-main{
height: 100%;
                width: 100%;
                flex: 1 1 calc(50%);
                @include Column-center.column-center;
                gap: 55px;
}

@mixin number-analysis--boxes{
                height: 100%;
                    width: 100%;
                    flex: 1 1 calc(50%);
                    
                    @include Row-center.row-center;
                    gap: 0px;
}
@mixin img-tag{
     height: 100%;
                        width: 100%;
                        flex: 1 1 calc(30%);
                        @include Column-center.column-center;
                        justify-content: flex-start;
                        padding-top: 10px;
}

@mixin analysis-content{
    height: 100%;
                        width: 100%;
                        flex: 1 1 calc(70%);
                        @include Column-center.column-center;
                        gap: 10px;
                        align-items: flex-start;
                        justify-content: flex-start;
}
.staff-page-container{
    height: 110dvh;
    width: 100%;
    padding: 10px 30px;
    @include Row-center.row-center;
    
    .staff-page-image-container{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(47%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .staff-page-image-box-one{
            height: 100%;
            width: 100%;
            flex: 1 1 calc(50%);
           
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:20px;

            .image-box-one-image{
                height: 360px;
                width: 100%;
             
                border-radius: 10px;
                background-image: url('https://lizza.wpengine.com/lms/wp-content/uploads/sites/12/2024/03/New-Rectangle-2.webp');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .image-box-one-totors{
                 height: 100px;
                width: 100%;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 10px;
                @include Row-center.row-center;
                

                .tutors-img-tag{
                    height: 100%;
                    width: 100%;
                    flex:  1 1 calc(65%);
                    @include Row-center.row-center;
                    position: relative;
                    
                    .tutor-round{
                        position: absolute;
                        height: 50px;
                        width:50px;
                        border: 5px solid white;
                        background-color: #811d1d;
                        border-radius: 100%;
                    }
                    .tutor-two,.tutor-three,.tutor-four,.tutor-five{
                        @extend .tutor-round
                    }
                    .tutor-three{
                        z-index: 3;
                        background-image: url('https://images.unsplash.com/photo-1557555187-23d685287bc3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZlbWFsZXxlbnwwfHwwfHx8MA%3D%3D');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                       
                    }.tutor-two{
                        z-index: 2;
                      
                         left: 55px;
                          background-image: url('https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWFufGVufDB8fDB8fHww');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .tutor-one{
                        z-index: 1;  left: 25px;
                         background-image: url('https://plus.unsplash.com/premium_photo-1681210062532-ff531e87e41f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGZlbWFsZXxlbnwwfHwwfHx8MA%3D%3D');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .tutor-four{
                        z-index: 4;
                        right: 55px;
                         background-image: url('https://images.unsplash.com/photo-1557862921-37829c790f19?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWFufGVufDB8fDB8fHww');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .tutor-five{
                        z-index: 5;
                        right: 25px;
                        background-color: rgb(0, 68, 47);
                        @include Row-center.row-center;
                        font-size: 16px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        color: white;
                        font-weight: 500;
                    }
                }
                .tutor-cont{
                     height: 100%;
                    width: 100%;
                    flex:  1 1 calc(35%);
                    @include Column-center.column-center;
                    gap: 6px;
                    align-items: flex-start;
                    .top-mentor{
                        font-size: 15px;
                        font-family: 'Delius';
                        font-weight: 600;
                    }
                    .top-mentor-sub{
                        font-size: 11px;
                        font-family: 'Roboto Flex';
                        color: rgb(143, 143, 143);
                    }
                }
            }
        }
        .staff-page-image-box-two{
             height: 100%;
            width: 100%;
            flex: 1 1 calc(50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .image-box-two-imageone{
                height: 100%;
                width: 100%;
                flex: 1 1 calc(45%);
             
                border-radius: 10px;
                
              
                position: relative;
               
                overflow: hidden;
                .video-tag{
                     height: 100%;
                width: 100%;
                  background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                object-fit: cover;
                position: absolute;
                }
                .vid-cont-img-one{
                    
                    position: absolute;
                    height: 100%;
                    width: 100%;
                   background: #ffffff;
                background: linear-gradient(0deg, rgba(31, 31, 31, 0.69) 0%, rgba(255, 255, 255, 0) 100%);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding-bottom:20px;
                padding-left: 20px;
                .our-story{
                    font-size: 20px;
                    font-family: 'Henny Penny';
                    color: white;
                    font-weight: 600;
                }
            
            }
            }
            .image-box-two-imagetwo{
                height: 100%;
                width: 100%;
                flex: 1 1 calc(55%);
                
                border-radius: 10px;
                background-image: url('https://lizza.wpengine.com/lms/wp-content/uploads/sites/12/2024/03/New-Rectangle-4.webp');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

    }
    .staff-page-content-container{
        height: 100%;
        width: 100%;
        flex: 1 1 calc(53%);
        @include Column-center.column-center;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 0px;
        padding-left: 60px;
        gap: 25px;
        .short-title-staff-page{

            @include Row-center.row-center;
            width: 100%;
            justify-content: flex-start;
            gap: 10px;
            .line-img-tag{
                height: 3px;
                width: 50px;
                border-radius: 10px;
                 @include main-color.letter-color-main;
            }

            .flexible-short-tit{
            font-size: 13px;
            font-weight: 500;
            font-family: 'Merriweather Sans';
            color: #320009;
            letter-spacing: 1px;


            }
        }

        .tutor-title-content{
            @include Column-center.column-center;
            align-items: flex-start;
            gap: 15px;
            width: 100%;
            
            .heading-tutor{
                height: auto;
                width: 100%;
                @include Column-center.column-center;
                align-items: flex-start;
                gap: 3px;
                .heading-tutor-p-one{
                    font-size: 60px;
                    font-family: 'Merriweather Sans';
                     color:main-color.$font-main-color;
                     .span-in-analysis{
                        font-size: 60px;
                        color: main-color.$main-color-for-app-little-darker;
                        font-family: 'Imperial Script';
                        text-decoration: underline;
                        text-underline-offset: 12px;
                        text-decoration-thickness: 2px;
                        text-decoration-style: dashed;
                     }
                }
                .heading-tutor-p-two{
                    font-size: 60px;
                    font-family: 'Lobster';
                     @include main-color.letter-color-main;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    
                        
                }
            }

            .sub-heading-tutor{
                   height: auto;
                width: 90%;
                @include Column-center.column-center;
                align-items: flex-start;
                .sub-heading-tutor-p-one{
                    font-size: 15px;
                    color: #868686;
                    font-family:'Delius';
                    letter-spacing: 1px;
                    line-height: 20px;
                }
            }

        }

        .total-number-in-staff-achievements{
            height:auto;
            padding: 15px 0px;
            width: 100%;
            @include Row-center.row-center;
            gap: 20px;

            .analysis-num{
                font-size: 45px;
                font-family:'Kirang Haerang';
                font-weight: 600;
                color: main-color.$main-color-for-app-little-darker;
            }
            .analysis-cont{
                 font-size: 14px;
                font-family: 'Play';
                color: rgb(132, 119, 119);
            }

            
            
            .number-analysis-box-one{
                @include number-analysis-main;

                .number-analysis-one{
                    @include number-analysis--boxes;
                    .analysis-tag-img-one{
                        @include img-tag;

                        .img-for-analysis{
                            height: 50%;
                            width: 50%;
                            background-image: url('./StaffPage/stack-of-books (3).png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .analysis-tag-content-one{
                        @include analysis-content;
                    }

                }
                .number-analysis-two{
                      @include number-analysis--boxes;
                    .analysis-tag-img-two{
                          @include img-tag;

                        .img-for-analysis{
                            height: 50%;
                            width: 50%;
                            background-image: url('./StaffPage/online-course (3).png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .analysis-tag-content-two{
                        @include analysis-content;
                    }
                }
            }
            .number-analysis-box-two{
                @include number-analysis-main;
                   .number-analysis-three{
                      @include number-analysis--boxes;
                    .analysis-tag-img-three{
                         @include img-tag;
;
                        .img-for-analysis{
                            height: 50%;
                            width: 50%;
                            background-image: url('./StaffPage/online-education (1).png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .analysis-tag-content-three{
                        @include analysis-content;
                    }
                }
                .number-analysis-four{
                     @include number-analysis--boxes;

                    .analysis-tag-img-four{
                          @include img-tag;

                        .img-for-analysis{
                            height: 50%;
                            width: 50%;
                            background-image: url('./StaffPage/online-certificate (1).png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .analysis-tag-content-four{
                       @include analysis-content;
                    }
                }
            }
        }


        .btn-in-tutor-analysis{
            height: 40px;
            width: 150px;
            border: none;
            background-color: rgb(237, 170, 0);
            border-radius: 5px;
            font-size: 15px;
            font-weight: 600;
            color: rgb(38, 38, 38);
            font-family: 'Kumbh Sans';
            
            cursor: pointer;
            position: relative;
            @include Row-center.row-center;
          z-index: 1;
          overflow: hidden;
          transition-duration: 0.3s;
        }
        .btn-animation-in-staff-page{
            position: absolute;
            width: 100%;
            height: 0%;
            @include main-color.letter-color-main;
            z-index: -1;
 transition-duration: 0.3s;
         
        }
        .btn-in-tutor-analysis:hover .btn-animation-in-staff-page{
            height: 100%;
 transition-duration: 0.3s;
        }
        .btn-in-tutor-analysis:hover {
            color: white;
            transition-duration: 0.3s;
        }
        
    }
}

