@use'../Column-center';
@use'../Row-center';
@use'../main-color';
@use'../Main-Title';
@use'../WebSubContent';
@use'../bg-img-center';


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

.top-short-course-page-container{
    height: 350dvh;
    width: 100%;
    @include Row-center.row-center;
    align-items: flex-start;
    position: relative;
   

    .top-short-course-title-container{
        height: 100dvh;
        width: 100%;
        flex: 1 1 calc(50%);
        position: sticky;
        top: 0px;
        padding: 20px 60px;
        padding-left: 100px;
        @include Column-center.column-center;
        align-items: flex-start;
        gap: 25px;
        overflow: hidden;
        .top-short-title-design{
            position: absolute;
            height: 130px;
            width: 130px;
            right:20%;
            bottom: 10%;
            @include bg-img-center.bg-img-center('./HomeImg/Untitled (5).png')
        }
        .top-short-title-design-two{
             position: absolute;
            height: 280px;
            width: 280px;
            border-radius: 100%;
            top:10%;
            left: -10%;
            opacity: 0.8;
            @include bg-img-center.bg-img-center('./Testimonial/dot-testi.png');
            z-index: -1;
        }
        
        .course-page-top-course-title{
            height: auto;
            width: 100%;
            @include Column-center.column-center;
            align-items: flex-start;
            @include Main-Title.MainTitleCont;
            font-size: 55px;
            font-weight: 900;
            gap: 10px;

            .course-page-title-span{
               
                font-family: "Bonbon";
                color: main-color.$main-color-for-app;
            }
            .course-page-title-line-span{
                color: main-color.$main-color-yellow-for-btn;
            }
            .course-page-title-span-two{
                color: main-color.$main-color-yellow-for-btn; 
                font-family: 'Lavishly Yours';
                font-size: 50px
            }
            .course-page-title-span-name{
                position: relative;
                .course-page-title-design{
                    position: absolute;
                    height: 32px;
                    width: 160px;
                    left: 0px;
                    bottom: -20px;
                    @include bg-img-center.bg-img-center('./underline.png');
                    background-position: 0%;
                    background-size: auto;
                    animation:underlinemove-about-us 6s linear infinite forwards ;
                }
                @keyframes underlinemove-about-us {
                    0%{
                        width: 0px;
                    }
                    20%{
                         width: 80px;
                    }
                    40%{
                        width: 160px;
                    }
                    60%{
                        width: 160px;
                    }
                    80%{
                        width: 80px;
                    }
                    100%{
                        width: 0px;
                    }

                
                }
            }
        }
        .para-in-course-page{
            
            @include WebSubContent.SubContent;
            width:90%;

        }
        .btn-in-course-page-title{
            height: 40px;
            width: 200px;
            border-radius: 5px;
            background-color: main-color.$main-color-red-for-btn;
            font-family:'Roboto';
            font-weight: 600;
            color: white;
            border: none;
            position: relative;
            @include Row-center.row-center;
            overflow: hidden;
            gap: 20px;
            z-index: 1;
            transition-duration: 0.4s;

            .btn-in-course-page-design-one{
                position: absolute;
                height: 0%;
                width: 25%;
                background-color:  main-color.$main-color-yellow-for-btn;
                left: 0px;
                top: 0px;
                z-index: -1;
                transition-duration: 0.4s;
             

            }
            .btn-in-course-page-design-two{
                position: absolute;
                height:0%;
                width: 25%;
                background-color:  main-color.$main-color-yellow-for-btn;
                left: 25%;
                bottom: 0px;
                z-index: -1;
                transition-duration: 0.4s;

            }
            .btn-in-course-page-design-three{
                position: absolute;
                height: 0%;
                width: 25%;
                right: 25%;
                background-color:  main-color.$main-color-yellow-for-btn;
                top: 0px;
                z-index: -1;
                transition-duration: 0.4s;
            }
            .btn-in-course-page-design-four{
                position: absolute;
                height: 0%;
                width: 25%;
                right: 0%;
                bottom: 0px;
               background-color:  main-color.$main-color-yellow-for-btn;
                z-index: -1;
                transition-duration: 0.4s;
            }
        }
         .btn-in-course-page-title:hover{

            color: black;
            transition-duration: 0.4s;

            .btn-in-course-page-design-one{
                transition-duration: 0.4s;
                height: 100%;
                
                top: auto;
                bottom: 0px;
                
             

            }
            .btn-in-course-page-design-two{
                height: 100%;
                transition-duration: 0.4s;
                bottom: auto;
                top: 0px;
               

            }
            .btn-in-course-page-design-three{
                height: 100%;
                transition-duration: 0.4s;
                top: auto;
                bottom: 0px;
                

            }
            .btn-in-course-page-design-four{
               
                height: 100%;
                transition-duration: 0.4s;
                bottom: auto;
                top: 0px;
               
            }
         }
    }
    .top-short-course-content-container{
        height: 100dvh;
        width: 100%;
        flex: 1 1 calc(50%);
        position: sticky;
        top: 0px;
        @include Row-center.row-center;
        .ball-move-animation-top-course{
            position: absolute;
            height: auto;
            width: 100%;
            right: 0px;
            bottom: 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;
            align-items: flex-start;
            padding-bottom: 10px;
            .ball-div{
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background-color: main-color.$main-color-for-app;
            animation: ball-move-aniamtion-top-course 3s linear infinite forwards;

                @keyframes ball-move-aniamtion-top-course {
                    0%{
                        transform: translateY(0px) scaleY(1);
                    }25%{
                        transform: translateY(-11px);

                    }
                    50%{
                        transform: translateY(-22px) ;
                    }
                    75%{
                        transform: translateY(-11px ) scaleY(1) ; 
                    }
                    99%{
                        transform: translateY(0px) scaleY(0.9);
                    }
                    100%{
                        transform: translateY(0px);
                    }
                }

                
            }
            .ball-arrow-one{
                animation-delay: 0.1s;
                
            }
            .ball-arrow-two{
                animation-delay: 0.2s;
            }
            .ball-arrow-three{
                animation-delay: 0.4s;
            }
            .ball-arrow-four{
                animation-delay: 0.6s;
            }
            .ball-arrow-five{
                animation-delay: 0.8s;
            }
        }

        .top-short-cont-design{
            position: absolute;
            height: 520px;
            width: 490px;
            left: 0px;
            opacity: 0.5;
            @include bg-img-center.bg-img-center('./Aboutus/circle.png');
           
        }

        .top-short-cont-stud-img-design{
            position: absolute;
            padding: 10px 0px;
            height: auto;
            width: 220px;
            border: 2px solid rgb(255, 68, 81);
            background-color: white;
            border-radius: 15px;
            top: 130px;
            left: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            display: none;
            /* transform: translateX(120px);
            opacity: 0; */
            transition-duration: 0.4s;
            transition-timing-function: linear;


            .top-course-scroll-info-img{
                height: 60px;
                width: 60px;
                background-color: rgb(255, 41, 56);
                border-radius: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img-for-small-cont-short-course{
                    height: 35px;
                    width: 35px;
                }
            }
             .top-course-scroll-info-cont{
                 width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;
                .p-one-small-cont-short-course{
                        font-family: "Balsamiq Sans";
                            font-size: 26px;
                            font-weight: 900;
                            color: rgb(47, 47, 47);
                }
                .p-two-small-cont-short-course{
                    font-family: "Balsamiq Sans";
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(90, 90, 90);
                }
            }
               
            
        }
        .top-short-title-design-three{
            position: absolute;
            height: 70px;
            width: 70px;
             @include bg-img-center.bg-img-center('./AboutPageImage/Ellipse 1.png');
             top:10%;
             right: 10%;
               @include Column-center.column-center;
               animation: outer-rotate 4s linear infinite forwards;
             .top-short-title-design-three-inner{
                 height: 30px;
                width: 30px;
             @include bg-img-center.bg-img-center('./AboutPageImage/Star 1.png');
             animation: inner-rotate 4s linear infinite forwards;
             @keyframes inner-rotate {
                0%{
                    transform: rotate3d(0);
                }
                100%{
                   transform: rotate3d(2, -1, -1,360deg);
                }
             }
             

             }
             @keyframes outer-rotate {
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
             }

        }

        .course-box{
            height:380px;
            width:380px;
            background-color: antiquewhite;
            border-radius:25px;
            transition: 0.5s ease-in-out;
            @include Column-center.column-center;
            align-items: flex-start;
           padding-left: 20px;
           gap: 20px;
           .course-box-head-div{
             @include Column-center.column-center;
            align-items: flex-start;
            gap: 4px;
            font-size: 50px;
            font-family: 'Tagesschrift';
            letter-spacing: 1px;
            font-weight: 600;
            color: rgb(0, 42, 52);
           }
           .home-para-small{
             font-size: 45px;
           }
           .advantage-progress-line-div{
                height: auto;
                width: 100%;
                @include Column-center.column-center;
                gap: 25px;
                margin-top: 15px;
                align-items: flex-start;
                .progress-para{
                    height: auto;
                                width: 90%;
                                @include Row-center.row-center;
                                justify-content: space-between;
                                font-size: 16px;
                                font-family:'Open Sans';
                                font-weight: 600;
                                color: main-color.$font-main-color;

                                .percentage-progress{
                                    font-size: 16px;
                                    font-family:'Open Sans';
                                    font-weight: 600;
                                    color: rgb(73, 73, 73);
                                }
                }
                .progress-line{
                                height: 12px;
                                width: 90%;
                                background-color: rgb(224, 224, 224);
                                border-radius: 15px;
                                overflow: hidden;
                                .progress-inner-line{                 
                                    height: 100%;
                                    border-radius: 15px;
                                   
                                    background-color: main-color.$main-color-for-app;
                                }
                }
           }
           
           .course-box-course-info-div{
             @include Column-center.column-center;
            align-items: flex-start;
            gap: 10px;
            
            .para-in-box-time{
                @include Row-center.row-center;
                gap: 10px;
                font-size: 17px;
                font-family: 'Exo 2';
                font-weight: 500;
                color: rgb(225, 225, 225);
                
            }.para-in-box-lesson{
                @include Row-center.row-center;
                gap: 10px;
                font-size: 17px;
                font-family: 'Exo 2';
                font-weight: 500;
                color: rgb(225, 225, 225);
            }
           }
           .course-box-btn-div{
              @include Row-center.row-center;
            justify-content: flex-start;
            gap: 30px;
            font-size: 20px;
            margin-top: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 500;
            .apply-btn-course-box{
                height: 35px;
                width: 130px;
                background-color: main-color.$main-color-red-for-btn;
                border: none;
                color: white;
                border-radius: 5px;
                font-size: 16px;
                font-family: 'Roboto';
                position: relative;
                @include Column-center.column-center;
                z-index: 1;
                transition-duration: 0.4s;
                cursor: pointer;
                overflow: hidden;
                .top-course-apply-btn-one{
                    position: absolute;
                    width: 0%;
                    height: 25%;
                    left: 0px;
                    top: 0px;
                    background-color:main-color.$main-color-yellow-for-btn;
                    z-index: -1;
                    transition-duration: 0.4s;
                }
                .top-course-apply-btn-two{
                    position: absolute;
                    width: 0%;
                    height: 25%;
                    right: 0px;
                    top: 25%;
                     background-color:main-color.$main-color-yellow-for-btn;
                    z-index: -1;
transition-duration: 0.4s;
                }
                .top-course-apply-btn-three{
                    position: absolute;
                    width: 0%;
                    height: 25%;
                    left: 0px;
                    bottom: 25%;
                     background-color:main-color.$main-color-yellow-for-btn;
                    z-index: -1;
                    transition-duration: 0.4s;

                }
                .top-course-apply-btn-four{
                    position: absolute;
                    width: 0%;
                    height: 25%;
                    right: 0px;
                    bottom: 0%;
                     background-color:main-color.$main-color-yellow-for-btn;
                    z-index: -1;
                    transition-duration: 0.4s;

                }
            }
            .apply-btn-course-box:hover{
                color: black;
                transition-duration: 0.4s;
                .top-course-apply-btn-one{
                    width: 100%;
                    
                    transition-duration: 0.4s;
                    
                }
                .top-course-apply-btn-two{
                    width: 100%;
                    
                    transition-duration: 0.4s;
                  
                    

                }
                .top-course-apply-btn-three{
                    width: 100%;                   
                    
                    transition-duration: 0.4s;
                    
                }
                .top-course-apply-btn-four{
                    width: 100%;
                    
                    transition-duration: 0.4s;
                }
            }
            .like-btn-course-box{
                height: 35px;
                width: 35px;
                background-color: white;
                border-radius: 100%;
                border: none;
                transition-duration: 0.4s;
              @include Row-center.row-center;
              font-size: 14px;
                position: relative;
                z-index: 1;
                transition-duration: 0.4s;
                .like-btn-mess-course-page{
                    position: absolute;
                    top: -25px;
                    height: 20px;
                    width: 80px;
                     @include Row-center.row-center;
                    font-size: 9px;
                    font-weight: 600;
                    font-family: 'Exo 2';
                    border-radius: 3px;
                    background-color: white;
                    border: 1px solid main-color.$border-light-color;
                    z-index: -1;
                     transform:translateY(20px) scale(0.2);
                     opacity: 0;
                    transition-duration: 0.4s;
                    .arrow-desing-like-course-page{
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid main-color.$border-light-color;
                        border-left: none;
                        border-top: none;
                        bottom:-4px;
                        rotate:45deg;
                       
                        
                    }

                }

            }
            .like-btn-course-box:hover{
                 .like-btn-mess-course-page{
                    transform: translateY(0px) scale(1);
                    opacity: 1;
                    transition-duration: 0.4s;
                 }
            }
           }
        }
        .course-box-one,.course-box-two,.course-box-three,.course-box-four,.course-box-five{
            position: absolute;
        }
        .course-box-one{
           
            
       background: rgb(247, 92, 208);
        }
        .course-box-two{
           background: rgb(191, 139, 234);
        }
        .course-box-three{
            
          background: rgb(104, 223, 149);
        }
        .course-box-four{
          
               background: rgb(121, 153, 228);
        }
        .course-box-five{
          
               background: rgb(236, 211, 84);
        }
    }
}

.for-mobile-short-course-page{
    height: 100dvh;
    @include Row-center.row-center;
    display: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    .student-design-mobile-course{
        position: absolute;
        background-color: aqua;
        height:550px;
        width:550px;
        z-index: -1;
        
      
        background-image: url('./AboutPageImage/ABOUT-TOP/ab13.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.09;
         clip-path: polygon(2.267% 34.33%, 0.648% 34.33%, 0.648% 35.688%, 1.368% 36.594%, 2.087% 39.312%, 3.346% 42.029%, 2.896% 43.388%, 3.885% 45.501%, 2.087% 45.501%, 1.637% 46.86%, 5.504% 59.692%, 9.1% 65.127%, 18.091% 76.298%, 33.196% 90.338%, 39.13% 96.528%, 40.929% 97.283%, 41.378% 100%, 42.457% 98.49%, 43.806% 99.396%, 49.38% 99.396%, 52.887% 99.396%, 54.955% 100%, 57.382% 99.396%, 59.36% 97.283%, 61.069% 97.283%, 63.766% 93.961%, 65.564% 93.81%, 67.093% 91.093%, 67.722% 88.829%, 68.261% 88.527%, 69.25% 87.47%, 70.509% 88.527%, 71.858% 88.527%, 72.667% 85.809%, 73.206% 85.205%, 73.746% 85.507%, 74.285% 85.658%, 74.555% 85.054%, 75.364% 85.658%, 76.264% 85.507%, 76.353% 84.149%, 76.713% 83.092%, 78.421% 81.431%, 81.838% 81.28%, 83.456% 81.733%, 84.625% 82.941%, 86.244% 82.488%, 86.244% 80.827%, 86.334% 78.412%, 86.603% 77.355%, 87.412% 77.204%, 87.862% 77.808%, 89.75% 77.808%, 89.75% 73.581%, 90.649% 73.581%, 91.189% 71.165%, 92.088% 71.165%, 92.178% 69.958%, 92.717% 69.203%, 92.717% 66.486%, 93.886% 65.278%, 93.706% 62.862%, 93.886% 61.655%, 95.325% 60.145%, 95.325% 58.635%, 95.774% 58.333%, 95.774% 55.616%, 96.583% 54.559%, 98.831% 54.559%, 100% 53.653%, 100% 52.899%, 93.167% 39.312%, 92.897% 38.104%, 90.739% 34.179%, 85.974% 28.14%, 85.704% 26.781%, 84.715% 26.329%, 80.31% 21.8%, 70.959% 11.534%, 62.237% 3.231%, 61.159% 2.023%, 59.001% 2.023%, 56.483% 0.815%, 54.325% 0.815%, 53.426% 3.684%, 49.92% 3.684%, 46.683% 0.815%, 44.525% 0.815%, 43.536% 2.325%, 42.457% 1.419%, 40.479% 1.419%, 40.479% 2.174%, 39.31% 2.778%, 40.479% 5.193%, 39.22% 7.156%, 38.86% 9.269%, 38.86% 12.591%, 39.31% 15.157%, 39.31% 16.063%, 38.411% 16.214%, 37.152% 14.855%, 34.904% 20.743%, 32.836% 19.686%, 32.747% 20.743%, 31.218% 20.743%, 30.679% 22.705%, 27.981% 23.309%, 26.003% 24.97%, 24.385% 23.762%, 23.306% 27.838%, 20.878% 30.254%, 18.361% 26.63%, 17.911% 27.838%, 17.192% 27.989%, 15.663% 30.707%, 15.574% 32.971%, 13.595% 33.877%, 12.247% 33.877%, 10.359% 32.065%, 9.729% 31.008%, 9.46% 33.424%, 7.931% 32.669%, 5.504% 31.763%, 5.324% 32.669%, 3.885% 32.669%, 2.267% 34.33%);
    }
     .student-design-mobile-course-two{
        position: absolute;
        background-color: transparent;
        height:130px;
        width:130px;
        z-index: -1;
        right: 30px;
        bottom: 10px;
      
        background-image: url('./book (3).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
        transform: rotate(45deg);
        
    }
    .for-mobile-course-title{
    
        height: auto;
        width: 100%;
       
        position: relative;
    
    
        @include Column-center.column-center;
        align-items: flex-start;
        gap: 25px;
        position: relative;
        
        .top-short-title-design{
            position: absolute;
            height: 130px;
            width: 130px;
            right:20%;
            bottom: 10%;
            @include bg-img-center.bg-img-center('./HomeImg/Untitled (5).png')
        }
        .top-short-title-design-two{
             position: absolute;
            height: 280px;
            width: 280px;
            border-radius: 100%;
            top:10%;
            left: -10%;
            opacity: 0.8;
            @include bg-img-center.bg-img-center('./Testimonial/dot-testi.png');
            z-index: -1;
        }
        
        .course-page-top-course-title{
            height: auto;
            width: 100%;
            @include Column-center.column-center;
            align-items: flex-start;
            @include Main-Title.MainTitleCont;
            font-size: 55px;
            font-weight: 900;
            gap: 10px;

            .course-page-title-span{
               
                font-family: "Bonbon";
                color: main-color.$main-color-for-app;
            }
            .course-page-title-line-span{
                color: main-color.$main-color-yellow-for-btn;
            }
            .course-page-title-span-two{
                color: main-color.$main-color-yellow-for-btn; 
                font-family: 'Lavishly Yours';
                font-size: 50px
            }
            .course-page-title-span-name{
                position: relative;
                .course-page-title-design{
                    position: absolute;
                    height: 32px;
                    width: 160px;
                    left: 0px;
                    bottom: -20px;
                    @include bg-img-center.bg-img-center('./underline.png');
                    background-position: 0%;
                    background-size: auto;
                    animation:underlinemove-about-us 6s linear infinite forwards ;
                }
                @keyframes underlinemove-about-us {
                    0%{
                        width: 0px;
                    }
                    20%{
                         width: 80px;
                    }
                    40%{
                        width: 160px;
                    }
                    60%{
                        width: 160px;
                    }
                    80%{
                        width: 80px;
                    }
                    100%{
                        width: 0px;
                    }

                
                }
            }
        }
        .para-in-course-page{
            
            @include WebSubContent.SubContent;
            width:90%;

        }
        .btn-in-course-page-title{
            height: 40px;
            width: 200px;
            border-radius: 5px;
            background-color: main-color.$main-color-red-for-btn;
            font-family:'Roboto';
            font-weight: 600;
            color: white;
            border: none;
            position: relative;
            @include Row-center.row-center;
            overflow: hidden;
            gap: 20px;
            z-index: 1;
            transition-duration: 0.4s;

            .btn-in-course-page-design-one{
                position: absolute;
                height: 0%;
                width: 25%;
                background-color:  main-color.$main-color-yellow-for-btn;
                left: 0px;
                top: 0px;
                z-index: -1;
                transition-duration: 0.4s;
             

            }
            .btn-in-course-page-design-two{
                position: absolute;
                height:0%;
                width: 25%;
                background-color:  main-color.$main-color-yellow-for-btn;
                left: 25%;
                bottom: 0px;
                z-index: -1;
                transition-duration: 0.4s;

            }
            .btn-in-course-page-design-three{
                position: absolute;
                height: 0%;
                width: 25%;
                right: 25%;
                background-color:  main-color.$main-color-yellow-for-btn;
                top: 0px;
                z-index: -1;
                transition-duration: 0.4s;
            }
            .btn-in-course-page-design-four{
                position: absolute;
                height: 0%;
                width: 25%;
                right: 0%;
                bottom: 0px;
               background-color:  main-color.$main-color-yellow-for-btn;
                z-index: -1;
                transition-duration: 0.4s;
            }
        }
         .btn-in-course-page-title:hover{

            color: black;
            transition-duration: 0.4s;

            .btn-in-course-page-design-one{
                transition-duration: 0.4s;
                height: 100%;
                
                top: auto;
                bottom: 0px;
                
             

            }
            .btn-in-course-page-design-two{
                height: 100%;
                transition-duration: 0.4s;
                bottom: auto;
                top: 0px;
               

            }
            .btn-in-course-page-design-three{
                height: 100%;
                transition-duration: 0.4s;
                top: auto;
                bottom: 0px;
                

            }
            .btn-in-course-page-design-four{
               
                height: 100%;
                transition-duration: 0.4s;
                bottom: auto;
                top: 0px;
               
            }
         }
        
}
   
}




@media screen and  (max-width:1350px) {
    .top-short-course-page-container .top-short-course-title-container .top-short-title-design{
        right: 15%;
        bottom: 8%;
    }
    .top-short-course-page-container .top-short-course-title-container{
        gap: 30px;
    }
    .top-short-course-page-container .top-short-course-title-container{
        padding-left: 50px;
        padding-right: 50px;
    }
}



@media screen and  (max-width:1240px) {
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 350px;
        width: 350px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 45px;
    }
    .top-short-course-page-container .top-short-course-title-container{
        padding-right: 0px;
    }

    .top-short-course-page-container .top-short-course-title-container .para-in-course-page{
        width: 85%;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        left: -20px;
    }
}



@media screen and  (max-width:1175px) {
    .top-short-course-page-container .top-short-course-title-container .para-in-course-page{
        font-size: 14px;
        width: 90%;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        font-size: 50px;
    }
}



@media screen and  (max-width:1090px) {
    .top-short-course-page-container .top-short-course-content-container .ball-move-animation-top-course{
        gap: 30px;
    }
    .top-short-course-page-container .top-short-course-content-container .ball-move-animation-top-course .ball-div{
        height: 37px;
        width: 37px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 300px;
        width: 300px;

    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 35px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time,.top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
        font-size: 15px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box{
        height: 32px;
        width: 120px;
        font-size: 14px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
        height: 32px;
        width: 32px;
        font-size: 12px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        height: 430px;
        width: 400px;
        left: -10px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three{
        height: 60px;
        width: 60px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three .top-short-title-design-three-inner{
        height: 25px;
        width: 25px;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        font-size: 41px;
    }
    .top-short-course-page-container .top-short-course-title-container .para-in-course-page{
        font-size: 12px;
        line-height: 23px;
    }
    .top-short-course-page-container .top-short-course-title-container .top-short-title-design{
        height: 100px;
        width: 100px;
    }
    .top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title{
        height: 36px;
        width: 180px;
        font-size: 13px;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span-name .course-page-title-design{
      width: 130px;
    }
}



@media screen and  (max-width:1000px) {
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        gap: 5px;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        font-size: 41px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 280px;
        width: 280px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 32px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
        font-size: 14px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box {

        height: 30px;
        width: 110px;
        font-size: 13px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
        height: 30px;
        width: 30px;
    }
}



@media screen and  (max-width:880px) {
    .top-short-course-page-container .top-short-course-title-container{
        padding-left: 30px;
    }
    .top-short-course-page-container .top-short-course-title-container .para-in-course-page{
        font-size:11px;
        font-family: 'Inter';
    }
    .top-short-course-page-container .top-short-course-title-container .top-short-title-design-two{
        height: 260px;
        width: 260px;
        top: 5%;
        left: -5%;
    }
}


@media screen and  (max-width:845px) {
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        font-size: 38px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 270px;
        width: 270px;
        
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 30px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
        font-size: 13px;
    }
    .top-short-course-page-container .top-short-course-title-container .para-in-course-page{
        font-size: 10px;

    }
    .top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title{
        height: 36px;
        width: 160px;
        font-size: 12px;
    }
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
    height: 400px;
    width:370px;
   }
   .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span-name .course-page-title-design{
    height: 25px;
    width: 140px;
    
   }

    .top-short-course-page-container .top-short-course-content-container .ball-move-animation-top-course{
        gap: 25px;
    }
    .top-short-course-page-container .top-short-course-content-container .ball-move-animation-top-course .ball-div{
        height: 33px;
        width: 33px;
    }

}




@media screen and  (max-width:785px) {
    .top-short-course-page-container .top-short-course-title-container .top-short-title-design-two{
        z-index: -1;
        height: 240px;
        width: 240px;;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        z-index: 1;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        font-size: 36px;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span-two{
        font-size: 40px;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        gap: 10px;
    }
    .top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title{
        height: 34px;
        width: 140px;
        font-size: 11px;
    }
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span-name .course-page-title-design{
        
        height: 22px;
        width: 120px;
        background-image: url('./underline1.png');
    }
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 270px;
        width: 240px;
        border-radius: 15px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        height: 350px;
        width: 330px;
    }
     
}

@media screen and  (max-width:750px) {
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        font-size: 37px;
    }
    .top-short-course-page-container .top-short-course-title-container .para-in-course-page{
        font-size: 9.5px;
        line-height: 18px;
    }
    .top-short-course-page-container .top-short-course-title-container{
        padding-left: 20px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box{
        padding-left: 15px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 260px;
        width: 230px;
    }
   
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 28px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
        font-size: 12px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div{
        gap: 8px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box{
        height: 28px;
        width: 100px;
        font-size: 10px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
        height: 28px;
        width: 28px;
        font-size: 11px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        height: 380px;
        width: 360px;
        left: -5%;
    }
}


@media screen and  (max-width:730px) {
    .top-short-course-page-container .top-short-course-title-container .course-page-top-course-title{
        font-size: 35px;
    }
}



@media screen and  (max-width:700px) {
    .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title .course-page-title-span-name .course-page-title-design{
        background-image: url('./underline1.png');
    }
   .top-short-course-page-container .top-short-course-title-container{
    display: none;
   }
   .for-mobile-short-course-page{
    display: flex;
   }
   

    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design-two{
        height: 240px;
        width: 240px;
        top: auto;
        bottom: -80px;
    }
   .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
    height: 110px;
    width: 110px;
    top: -10%;
    right: 5%;
   }
   .for-mobile-short-course-page .for-mobile-course-title{
   
    padding-left: 50px;
    padding-right: 0px;

   }

   .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title{
    font-size: 40px;
   }
   .for-mobile-short-course-page .for-mobile-course-title .para-in-course-page{
    font-size: 12px;
    width: 80%;
   }
   .for-mobile-short-course-page .for-mobile-course-title {
    gap: 45px;
    }
    
    .for-mobile-short-course-page .for-mobile-course-title .btn-in-course-page-title{
        height: 38px;
        width: 180px;
        font-size: 14px;
    }
   .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 320px;
        width: 320px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 39px;
    }
     .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
        font-size: 15px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box{
        padding-left: 20px;
    }
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div{
        gap: 30px;
    }
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box{
        height: 34px;
        width: 140px;
        font-size: 14px;
    }
 .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div{
        margin-top: 20px;
    }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
        height: 33px;
        width: 33px;
        font-size: 14px;
    }
  .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three{
        height: 70px;
        width: 70px;

    }
   .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three .top-short-title-design-three-inner{
        height: 30px;
        width: 30px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        height: 450px;
        width: 400px;
        left: 0px;
    }

    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
        top: -15%;
        height: 100px;
        width: 100px;
    }
}

@media screen and  (max-width:590px) {
.for-mobile-short-course-page .student-design-mobile-course-two {
    height: 110px;
    width: 110px;
}
.for-mobile-short-course-page .student-design-mobile-course{
    height: 500px;
    width: 500px;
}
}



@media screen and  (max-width:540px) {
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
        top: -25%;
    }
    .for-mobile-short-course-page .for-mobile-course-title{
        padding-left: 40px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title{
        font-size: 38px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .para-in-course-page{
        font-size: 10px;
        line-height: 22px;
    }

}


@media screen and  (max-width:500px) {
  .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title{
        font-size: 37px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .btn-in-course-page-title{
        height: 36px;
        width: 170px;
        font-size: 13px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title .course-page-title-span-two{
        font-size: 40px;
    }
    .for-mobile-short-course-page .for-mobile-course-title{
        padding-left: 25px;
    }
}


@media screen and  (max-width:476px) {
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 300px;
        width: 300px;
    }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 36px;
    }
 .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
        font-size: 14px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        height: 420px;
        width: 380px;
    }
   .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three{
        height: 60px;
        width: 60px;
        top: 5%;
    }
  .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three .top-short-title-design-three-inner{
        height: 26px;
        width: 26px;
    }
}

@media screen and  (max-width:450px) {

    .for-mobile-short-course-page .student-design-mobile-course-two {
    height: 90px;
    width: 90px;
}
.for-mobile-short-course-page .student-design-mobile-course{
    height: 510px;
    width: 460px;
}

    
    .for-mobile-short-course-page .for-mobile-course-title .para-in-course-page{
        width: 85%;
    }
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
        bottom: -6%;
        right: 10%;
        height: 100px;
        width: 100px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design-two
    {
        height: 200px;
        width: 200px;
        top: -30%;
        z-index: -10;
    }
    
    .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 300px;
        width: 280px;
    }
.top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        width: 400px;
    }
}

@media screen and  (max-width:435px) {
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
        top: -10%;
        right: 10px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design-two{
        top: -14%;
    }
    .for-mobile-short-course-page .student-design-mobile-course{
        height: 460px;
        width: 400px;
    }

}
@media screen and  (max-width:405px) {
   
 .top-short-course-page-container .top-short-course-content-container .course-box{
        height: 300px;
        width: 250px;
    }
     .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        width: 360px;
        height: 380px;
        bottom: 10%;
    }
    .for-mobile-short-course-page .for-mobile-short-course-page{
        overflow: hidden;
    }
 .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
        font-size: 32px;
    }
  .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
        font-size: 13px;
    }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box{
        height: 30px;
        width: 120px;
        font-size: 11px;
    }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
        height: 30px;
        width: 30px;
        font-size: 12px;
    }
    .top-short-course-page-container{
        display: none;
    }
}

@media screen and  (max-width:375px) {
    .for-mobile-short-course-page .for-mobile-course-title{
        padding-left: 10px;
    }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        width: 340px;
        height: 370px;
        bottom: 10%;
        left: 10px;
    }
}


@media screen and  (max-width:365px) {
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design-two{
        display: none;
    }
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
        height: 90px;
        width: 90px;
    }
    .for-mobile-short-course-page .student-design-mobile-course{
        height: 500px;
        width: 340px;
    }
    
.for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title{
    font-size: 35px;
}.for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title .course-page-title-span-two{
    font-size: 36px;
}
.for-mobile-short-course-page .for-mobile-course-title{
    gap: 40px;
}.for-mobile-short-course-page .for-mobile-course-title .btn-in-course-page-title{
    height: 34px;
    width: 160px;
    font-size: 11px;
}
.top-short-course-page-container .top-short-course-content-container .course-box{
    height: 300px;
    width: 230px;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
    font-size: 30px;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box{
    height: 28px;
    width: 110px;
    font-size: 9.5px;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
    height: 28px;
    width: 28px;
    font-size: 10px;
}
}




@media screen and  (max-width:350px) {
    .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title{
        font-size: 30px;
    }
    .for-mobile-short-course-page .for-mobile-course-title{
        gap: 30px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .para-in-course-page{
        width: 90%;
        font-size: 9.5px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design-two{
        height: 230px;
        width: 230px;
    }
    .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
        height: 90px;
        width: 90px;
        bottom: -15%;
    }
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
        height: 330px;
        width: 300px;
    }
   .top-short-course-page-container .top-short-course-content-container .course-box{
        width: 215px;

    }
}


@media screen and  (min-height:750px) {
.for-mobile-short-course-page{
    height: 80dvh;
}
}
@media screen and  (min-height:870px) {
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-stud-img-design{
        display: flex;
    }
}
@media screen and  (min-height:880px) and (max-height:980px) and (min-width:405px) {
.for-mobile-short-course-page{
    height: 60dvh;
}
}
@media screen and  (min-height:880px) and (max-height:980px) {
 .top-short-course-page-container .top-short-course-content-container .course-box{
    height: 380px;
    width: 300px;
    border-radius: 30px;
   }
    .top-short-course-page-container .top-short-course-content-container .top-short-cont-stud-img-design{
       top: 5%;
    }
   
    .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
    font-size:45px;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
    font-size: 17px;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box{
    height: 42px;
    width: 150px;
    font-size: 18px;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
    height: 42px;
    width: 42px;
    font-size: 16px;
   }
}

@media screen and  (min-height:870px) and (max-height:980px) and (max-width:600px){
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-stud-img-design{
    width: 170px;
    left: 20px;
   }
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-stud-img-design .top-course-scroll-info-img{
    height: 40px;
    width: 40px;
   }
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-stud-img-design .top-course-scroll-info-img .img-for-small-cont-short-course{
    height: 20px;
    width: 20px;
   }
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-stud-img-design .top-course-scroll-info-cont .p-one-small-cont-short-course{
    font-size: 20px;
   }
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-stud-img-design .top-course-scroll-info-cont .p-two-small-cont-short-course{
    font-size: 12px;
   }
}

@media screen and  (min-height:990px)  and (max-height:1300px) and (max-width:990px) {
  
 .top-short-course-page-container .top-short-course-title-container{
    display: none;
   }
   .for-mobile-short-course-page{
    display: flex;
    height: auto;
    padding: 120px 0px;
    padding-left: 30px;
   }
   .for-mobile-short-course-page .for-mobile-course-title .para-in-course-page{
    font-size: 15px;
    line-height: 35px;
   }
   .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title{
    font-size: 60px;
   }
   .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title .course-page-title-span-two{
    font-size: 55px;
   }.for-mobile-short-course-page .for-mobile-course-title{
    gap: 35px;
   }
   .for-mobile-short-course-page .for-mobile-course-title .btn-in-course-page-title{
    height: 48px;
    font-size: 18px;
   }
   .for-mobile-short-course-page .student-design-mobile-course{
    height: 650px;
    width: 680px;
    background-position: top;
    background-size: contain;
   }
   .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design{
    height: 140px;
    width: 140px;
    top: -25%;
    right: 5%;
   }
   .for-mobile-short-course-page .for-mobile-course-title .top-short-title-design-two{
    height: 350px;
    width: 350px;
    top: auto;
    bottom: -60%;
   }
   .top-short-course-page-container .top-short-course-content-container{
    height: 100dvh;
   }
   .top-short-course-page-container{
    height: 350dvh;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box{
    height: 500px;
    width: 500px;
    border-radius: 30px;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div{
    font-size:70px;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time, .top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson{
    font-size: 26px;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box{
    height: 50px;
    width: 180px;
    font-size: 21px;
   }
   .top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box{
    height: 50px;
    width: 50px;
    font-size: 20px;
   }.top-short-course-page-container .top-short-course-content-container .course-box{
    gap: 25px;
   }
   .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three{
    height: 130px;
    width: 130px;
    top: 5%;
    right: 4%;
   }
   .top-short-course-page-container .top-short-course-content-container .top-short-title-design-three .top-short-title-design-three-inner{
    height: 60px;
    width: 60px;
   }
   .top-short-course-page-container .top-short-course-content-container .top-short-cont-design{
    height: 650px;
    width: 600px;
    bottom: 10%;
    left: 4%;

   }
   .top-short-course-page-container .top-short-course-content-container .ball-move-animation-top-course{
    gap: 65px;
   }
   .top-short-course-page-container .top-short-course-content-container .ball-move-animation-top-course .ball-div{
    height: 55px;
    width: 55px;
   }
}


@media screen and  (min-height:1200px)  and (max-height:1300px) and (max-width:990px){
 .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title{
    font-size: 65px;
   }
   .for-mobile-short-course-page .for-mobile-course-title .course-page-top-course-title .course-page-title-span-two{
    font-size: 60px;
   }.for-mobile-short-course-page .for-mobile-course-title{
    gap: 40px;
   }
    .for-mobile-short-course-page .for-mobile-course-title .para-in-course-page{
    font-size: 16px;
    line-height: 35px;
   }
}