
.website-main-container{
   width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.edu-main-page{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
  gap: 60px;
}


@media screen and  (max-width:450px) {
  .edu-main-page{
    gap: 40px;
  }
}

@media screen and  (max-width:370px) {
  .edu-main-page{
    gap: 30px;
  }
}


.chat-bot-opener{
  height: 65px;
  width: 65px;
  position: fixed;
  bottom: 40px;
  cursor: pointer;
  right: 40px;
  border-radius: 100%;
  z-index: 250;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./chatbot (1).png');
}