@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.about-page-course-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-page-course-container .about-page-course-box {
  height: 100dvh;
  margin-top: -100px;
  width: 100%;
  background-color: #103B43;
  clip-path: polygon(0% 1.112%, 0% 100%, 100% 100%, 100% 20.853%, 97.161% 23.031%, 97.161% 23.031%, 97.009% 22.842%, 96.82% 22.627%, 96.6% 22.393%, 96.354% 22.152%, 96.087% 21.913%, 95.803% 21.685%, 95.509% 21.479%, 95.208% 21.303%, 94.907% 21.169%, 94.609% 21.084%, 94.609% 21.084%, 94.555% 21.075%, 94.5% 21.065%, 94.445% 21.057%, 94.389% 21.048%, 94.332% 21.04%, 94.274% 21.033%, 94.216% 21.025%, 94.157% 21.018%, 94.098% 21.011%, 94.038% 21.003%, 94.038% 21.003%, 94.038% 21.003%, 93.674% 20.957%, 93.29% 20.894%, 92.886% 20.799%, 92.464% 20.657%, 92.024% 20.455%, 91.569% 20.178%, 91.098% 19.811%, 90.614% 19.34%, 90.117% 18.75%, 89.609% 18.026%, 89.609% 18.026%, 89.157% 17.325%, 88.76% 16.709%, 88.417% 16.175%, 88.124% 15.718%, 87.878% 15.334%, 87.677% 15.019%, 87.519% 14.768%, 87.399% 14.579%, 87.315% 14.446%, 87.266% 14.365%, 87.266% 14.365%, 87.134% 14.363%, 86.985% 14.378%, 86.824% 14.413%, 86.659% 14.471%, 86.496% 14.558%, 86.343% 14.675%, 86.206% 14.826%, 86.093% 15.016%, 86.009% 15.247%, 85.964% 15.524%, 85.964% 15.524%, 85.906% 15.803%, 85.791% 16.042%, 85.629% 16.242%, 85.431% 16.408%, 85.206% 16.542%, 84.966% 16.646%, 84.722% 16.723%, 84.482% 16.776%, 84.259% 16.808%, 84.063% 16.821%, 82.943% 14.365%, 81.328% 14.365%, 73.828% 16.821%, 72.891% 14.365%, 70.13% 14.365%, 68.073% 11.122%, 66.198% 11.122%, 62.344% 3.476%, 62.344% 3.476%, 61.817% 3.376%, 61.19% 3.279%, 60.485% 3.191%, 59.724% 3.122%, 58.93% 3.08%, 58.124% 3.074%, 57.329% 3.111%, 56.568% 3.2%, 55.862% 3.35%, 55.234% 3.568%, 55.234% 3.568%, 55.073% 3.64%, 54.906% 3.714%, 54.734% 3.791%, 54.557% 3.871%, 54.375% 3.953%, 54.189% 4.037%, 54% 4.124%, 53.806% 4.212%, 53.61% 4.301%, 53.41% 4.393%, 53.409% 4.393%, 53.409% 4.393%, 52.674% 4.728%, 51.917% 5.071%, 51.154% 5.412%, 50.399% 5.742%, 49.666% 6.052%, 48.968% 6.334%, 48.321% 6.578%, 47.739% 6.776%, 47.234% 6.919%, 46.823% 6.997%, 46.823% 6.997%, 46.45% 7.045%, 46.071% 7.097%, 45.694% 7.152%, 45.324% 7.21%, 44.969% 7.267%, 44.633% 7.324%, 44.324% 7.377%, 44.048% 7.427%, 43.811% 7.47%, 43.62% 7.507%, 40.781% 8.665%, 40.781% 8.665%, 40.408% 8.493%, 39.971% 8.308%, 39.488% 8.122%, 38.976% 7.946%, 38.452% 7.791%, 37.935% 7.669%, 37.442% 7.591%, 36.989% 7.57%, 36.595% 7.615%, 36.276% 7.739%, 36.276% 7.739%, 36.009% 7.898%, 35.758% 8.041%, 35.525% 8.169%, 35.31% 8.283%, 35.115% 8.382%, 34.941% 8.466%, 34.79% 8.536%, 34.661% 8.593%, 34.557% 8.636%, 34.479% 8.665%, 24.479% 2.178%, 23.568% 4.634%, 19.818% 3.197%, 19.818% 3.197%, 19.77% 3.061%, 19.706% 2.918%, 19.625% 2.777%, 19.529% 2.65%, 19.417% 2.544%, 19.291% 2.47%, 19.15% 2.438%, 18.995% 2.457%, 18.827% 2.537%, 18.646% 2.688%, 18.646% 2.688%, 18.353% 2.945%, 17.95% 3.233%, 17.442% 3.534%, 16.838% 3.833%, 16.146% 4.113%, 15.372% 4.356%, 14.525% 4.546%, 13.611% 4.667%, 12.638% 4.702%, 11.615% 4.634%, 11.615% 4.634%, 11.389% 4.567%, 11.124% 4.468%, 10.832% 4.335%, 10.522% 4.167%, 10.204% 3.963%, 9.891% 3.722%, 9.591% 3.443%, 9.316% 3.124%, 9.075% 2.765%, 8.88% 2.363%, 8.88% 2.363%, 8.881% 2.151%, 8.872% 1.912%, 8.852% 1.657%, 8.817% 1.398%, 8.767% 1.147%, 8.698% 0.915%, 8.61% 0.715%, 8.499% 0.557%, 8.364% 0.454%, 8.203% 0.417%, 8.203% 0.417%, 8.017% 0.414%, 7.813% 0.407%, 7.597% 0.396%, 7.374% 0.381%, 7.151% 0.365%, 6.933% 0.347%, 6.725% 0.328%, 6.534% 0.31%, 6.365% 0.293%, 6.224% 0.278%, 6.042% 0%, 4.531% 1.622%, 4.531% 1.622%, 4.159% 1.641%, 3.732% 1.66%, 3.27% 1.677%, 2.792% 1.691%, 2.316% 1.701%, 1.863% 1.704%, 1.45% 1.699%, 1.098% 1.685%, 0.825% 1.66%, 0.651% 1.622%, 0.651% 1.622%, 0.538% 1.574%, 0.436% 1.522%, 0.346% 1.467%, 0.266% 1.41%, 0.197% 1.352%, 0.138% 1.296%, 0.089% 1.242%, 0.05% 1.192%, 0.02% 1.149%, 0% 1.112%);
}
.about-page-course-container .about-page-analysis-box {
  height: 160dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content {
  height: 100%;
  width: 40%;
  background-color: #eefcff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  position: relative;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-content-showing {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-content-showing .about-page-analysis-head {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-content-showing .about-page-analysis-head .about-analysis-head-para-one {
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-content-showing .about-page-analysis-head .about-analysis-head-para-two {
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-content-showing .about-analysis-sub-head-para {
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-content-showing .about-page-analysis-btn {
  height: 45px;
  width: 180px;
  border-radius: 6px;
  background-color: rgb(255, 203, 30);
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-imgae-design {
  height: 800px;
  width: 950px;
  position: absolute;
  bottom: -40px;
  background-image: url("https://themexriver.com/wp/edrio/wp-content/uploads/2025/04/cta6.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(400px);
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 0.2;
}
.about-page-course-container .about-page-analysis-box .about-page-analysis-content .about-page-analysis-imgae-design-no-move {
  transform: translateY(0px);
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.about-page-course-container .about-page-analysis-box .analysis-about-page-one-para-one {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-page-course-container .about-page-analysis-box .analysis-about-page-one-para-one .span-for-analysisi-one-para-one {
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
.about-page-course-container .about-page-analysis-box .analysis-about-page-one-para-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 20px;
  text-align: start;
  align-items: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-page-course-container .about-page-analysis-box .analysis-design-one-about-page, .about-page-course-container .about-page-analysis-box .analysis-design-two-about-page, .about-page-course-container .about-page-analysis-box .analysis-design-three-about-page {
  position: absolute;
  height: 200px;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about-page-course-container .about-page-analysis-box .analysis-design-one-about-page {
  background-color: rgb(255, 185, 253);
  top: 20%;
  left: 5%;
  transform: translateY(200px) translateX(-100px) scale(0);
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 0.2;
}
.about-page-course-container .about-page-analysis-box .analysis-design-two-about-page {
  background-color: rgb(185, 255, 222);
  bottom: 5%;
  left: 15%;
  transform: translateY(200px) translateX(-100px) scale(0);
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 0.2;
}
.about-page-course-container .about-page-analysis-box .analysis-design-three-about-page {
  background-color: rgb(255, 222, 185);
  top: 30%;
  right: 5%;
  transform: translateY(200px) translateX(-100px) scale(0);
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 0.2;
  clip-path: polygon(100% 0%, 0% 0%, 0% 52.885%, 0% 77.26%, 0% 77.26%, 0.02% 77.298%, 0.05% 77.343%, 0.089% 77.394%, 0.138% 77.45%, 0.197% 77.508%, 0.266% 77.568%, 0.346% 77.628%, 0.436% 77.685%, 0.538% 77.739%, 0.651% 77.788%, 0.651% 77.788%, 0.825% 77.828%, 1.098% 77.854%, 1.45% 77.868%, 1.863% 77.873%, 2.316% 77.87%, 2.792% 77.86%, 3.27% 77.846%, 3.732% 77.828%, 4.159% 77.808%, 4.531% 77.788%, 6.042% 76.106%, 6.224% 76.394%, 6.224% 76.394%, 6.365% 76.41%, 6.534% 76.428%, 6.725% 76.447%, 6.933% 76.466%, 7.151% 76.484%, 7.374% 76.502%, 7.597% 76.516%, 7.813% 76.528%, 8.017% 76.536%, 8.203% 76.538%, 8.203% 76.538%, 8.364% 76.577%, 8.499% 76.684%, 8.61% 76.847%, 8.698% 77.055%, 8.767% 77.296%, 8.817% 77.556%, 8.852% 77.825%, 8.872% 78.089%, 8.881% 78.338%, 8.88% 78.558%, 8.88% 78.558%, 9.075% 78.974%, 9.316% 79.347%, 9.591% 79.678%, 9.891% 79.968%, 10.204% 80.218%, 10.522% 80.429%, 10.832% 80.603%, 11.124% 80.741%, 11.389% 80.844%, 11.615% 80.913%, 11.615% 80.913%, 12.638% 80.984%, 13.611% 80.948%, 14.525% 80.823%, 15.372% 80.625%, 16.146% 80.373%, 16.838% 80.083%, 17.442% 79.773%, 17.95% 79.46%, 18.353% 79.161%, 18.646% 78.894%, 18.646% 78.894%, 18.827% 78.738%, 18.995% 78.655%, 19.15% 78.635%, 19.291% 78.669%, 19.417% 78.745%, 19.529% 78.855%, 19.625% 78.987%, 19.706% 79.133%, 19.77% 79.282%, 19.818% 79.423%, 23.568% 80.913%, 24.479% 78.365%, 34.479% 85.096%, 34.479% 85.096%, 34.557% 85.065%, 34.661% 85.021%, 34.79% 84.962%, 34.941% 84.889%, 35.115% 84.802%, 35.31% 84.699%, 35.525% 84.582%, 35.758% 84.448%, 36.009% 84.3%, 36.276% 84.135%, 36.276% 84.135%, 36.595% 84.006%, 36.989% 83.959%, 37.442% 83.982%, 37.935% 84.062%, 38.452% 84.189%, 38.976% 84.349%, 39.488% 84.532%, 39.971% 84.725%, 40.408% 84.917%, 40.781% 85.096%, 43.62% 83.894%, 43.62% 83.894%, 43.811% 83.856%, 44.048% 83.811%, 44.324% 83.76%, 44.633% 83.704%, 44.969% 83.645%, 45.324% 83.586%, 45.694% 83.526%, 46.071% 83.469%, 46.45% 83.415%, 46.823% 83.365%, 46.823% 83.365%, 47.234% 83.284%, 47.739% 83.136%, 48.321% 82.931%, 48.969% 82.677%, 49.666% 82.385%, 50.399% 82.063%, 51.155% 81.72%, 51.918% 81.367%, 52.674% 81.011%, 53.41% 80.663%, 53.41% 80.663%, 53.61% 80.569%, 53.806% 80.475%, 54% 80.384%, 54.189% 80.294%, 54.375% 80.207%, 54.557% 80.122%, 54.734% 80.039%, 54.906% 79.959%, 55.073% 79.882%, 55.234% 79.808%, 55.234% 79.808%, 55.862% 79.581%, 56.568% 79.426%, 57.329% 79.333%, 58.124% 79.295%, 58.93% 79.302%, 59.724% 79.345%, 60.485% 79.417%, 61.19% 79.507%, 61.817% 79.609%, 62.344% 79.712%, 66.198% 87.644%, 68.073% 87.644%, 70.13% 91.01%, 72.891% 91.01%, 73.828% 93.558%, 81.328% 91.01%, 82.943% 91.01%, 84.063% 93.558%, 84.063% 93.558%, 84.259% 93.544%, 84.482% 93.511%, 84.722% 93.456%, 84.966% 93.376%, 85.206% 93.268%, 85.431% 93.129%, 85.629% 92.957%, 85.791% 92.749%, 85.906% 92.501%, 85.964% 92.212%, 85.964% 92.212%, 86.009% 91.925%, 86.093% 91.685%, 86.206% 91.488%, 86.343% 91.331%, 86.496% 91.209%, 86.659% 91.12%, 86.824% 91.059%, 86.985% 91.023%, 87.134% 91.008%, 87.266% 91.01%, 87.266% 91.01%, 87.315% 91.093%, 87.399% 91.231%, 87.519% 91.428%, 87.677% 91.688%, 87.878% 92.015%, 88.124% 92.413%, 88.417% 92.887%, 88.76% 93.442%, 89.157% 94.08%, 89.609% 94.808%, 89.609% 94.808%, 90.117% 95.558%, 90.614% 96.171%, 91.098% 96.66%, 91.569% 97.04%, 92.024% 97.328%, 92.464% 97.538%, 92.886% 97.684%, 93.29% 97.783%, 93.674% 97.848%, 94.038% 97.896%, 94.038% 97.896%, 94.098% 97.904%, 94.157% 97.912%, 94.216% 97.919%, 94.274% 97.927%, 94.332% 97.935%, 94.389% 97.943%, 94.445% 97.952%, 94.5% 97.961%, 94.555% 97.97%, 94.609% 97.981%, 94.609% 97.981%, 94.907% 98.068%, 95.208% 98.208%, 95.509% 98.39%, 95.803% 98.604%, 96.087% 98.84%, 96.354% 99.088%, 96.6% 99.339%, 96.82% 99.581%, 97.009% 99.804%, 97.161% 100%, 100% 97.74%, 99.974% 52.885%, 100% 52.885%, 100% 0%);
}
.about-page-course-container .about-page-analysis-box .about-analysis-cont-no-move {
  transform: translateY(0px) translateX(0px) scale(1);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
  clip-path: polygon(0%);
}
.about-page-course-container .about-page-analysis-box .div-for-about-analysis-design {
  position: absolute;
  height: 250px;
  width: 250px;
  background-image: url("./AboutPageImage/ABOUT-TOP/Untitled (9).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 5%;
  right: 200px;
}

/*# sourceMappingURL=AboutPageCourse.css.map */
