@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");
.top-short-course-page-container {
  height: 350dvh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  position: relative;
}
.top-short-course-page-container .top-short-course-title-container {
  height: 100dvh;
  width: 100%;
  flex: 1 1 50%;
  position: sticky;
  top: 0px;
  padding: 20px 60px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 25px;
}
.top-short-course-page-container .top-short-course-title-container .top-short-title-design {
  position: absolute;
  height: 130px;
  width: 130px;
  right: 20%;
  bottom: 10%;
  background-image: url("./HomeImg/Untitled (5).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-short-course-page-container .top-short-course-title-container .top-short-title-design-two {
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 100%;
  top: 10%;
  left: -10%;
  opacity: 0.8;
  background-image: url("./Testimonial/dot-testi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.top-short-course-page-container .top-short-course-title-container .course-page-top-course-title {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  font-size: 50px;
  font-family: "Averia Libre";
  font-weight: 600;
  color: rgb(49, 49, 49);
  font-size: 55px;
  font-weight: 900;
  gap: 10px;
}
.top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span {
  font-family: "Bonbon";
  color: rgb(255, 68, 81);
}
.top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-line-span {
  color: rgb(255, 203, 30);
}
.top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span-two {
  color: rgb(255, 203, 30);
  font-family: "Lavishly Yours";
  font-size: 50px;
}
.top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span-name {
  position: relative;
}
.top-short-course-page-container .top-short-course-title-container .course-page-top-course-title .course-page-title-span-name .course-page-title-design {
  position: absolute;
  height: 32px;
  width: 160px;
  left: 0px;
  bottom: -20px;
  background-image: url("./underline.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  background-size: auto;
  animation: underlinemove-about-us 6s linear infinite forwards;
}
@keyframes underlinemove-about-us {
  0% {
    width: 0px;
  }
  20% {
    width: 80px;
  }
  40% {
    width: 160px;
  }
  60% {
    width: 160px;
  }
  80% {
    width: 80px;
  }
  100% {
    width: 0px;
  }
}
.top-short-course-page-container .top-short-course-title-container .para-in-course-page {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
  width: 90%;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(255, 74, 74);
  font-family: "Roboto";
  font-weight: 600;
  color: white;
  border: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 20px;
  z-index: 1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title .btn-in-course-page-design-one {
  position: absolute;
  height: 0%;
  width: 25%;
  background-color: rgb(255, 203, 30);
  left: 0px;
  top: 0px;
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title .btn-in-course-page-design-two {
  position: absolute;
  height: 0%;
  width: 25%;
  background-color: rgb(255, 203, 30);
  left: 25%;
  bottom: 0px;
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title .btn-in-course-page-design-three {
  position: absolute;
  height: 0%;
  width: 25%;
  right: 25%;
  background-color: rgb(255, 203, 30);
  top: 0px;
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title .btn-in-course-page-design-four {
  position: absolute;
  height: 0%;
  width: 25%;
  right: 0%;
  bottom: 0px;
  background-color: rgb(255, 203, 30);
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title:hover {
  color: black;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title:hover .btn-in-course-page-design-one {
  transition-duration: 0.4s;
  height: 100%;
  top: auto;
  bottom: 0px;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title:hover .btn-in-course-page-design-two {
  height: 100%;
  transition-duration: 0.4s;
  bottom: auto;
  top: 0px;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title:hover .btn-in-course-page-design-three {
  height: 100%;
  transition-duration: 0.4s;
  top: auto;
  bottom: 0px;
}
.top-short-course-page-container .top-short-course-title-container .btn-in-course-page-title:hover .btn-in-course-page-design-four {
  height: 100%;
  transition-duration: 0.4s;
  bottom: auto;
  top: 0px;
}
.top-short-course-page-container .top-short-course-content-container {
  height: 100dvh;
  width: 100%;
  flex: 1 1 50%;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.top-short-course-page-container .top-short-course-content-container .top-short-cont-design {
  position: absolute;
  height: 520px;
  width: 490px;
  left: 0px;
  opacity: 0.5;
  background-image: url("./Aboutus/circle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-short-course-page-container .top-short-course-content-container .top-short-title-design-three {
  position: absolute;
  height: 70px;
  width: 70px;
  background-image: url("./AboutPageImage/Ellipse 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: outer-rotate 4s linear infinite forwards;
}
.top-short-course-page-container .top-short-course-content-container .top-short-title-design-three .top-short-title-design-three-inner {
  height: 30px;
  width: 30px;
  background-image: url("./AboutPageImage/Star 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: inner-rotate 4s linear infinite forwards;
}
@keyframes inner-rotate {
  0% {
    transform: rotate3d(0);
  }
  100% {
    transform: rotate3d(2, -1, -1, 360deg);
  }
}
@keyframes outer-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.top-short-course-page-container .top-short-course-content-container .course-box {
  height: 380px;
  width: 380px;
  background-color: antiquewhite;
  border-radius: 25px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 20px;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-head-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 4px;
  font-size: 50px;
  font-family: "Tagesschrift";
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(0, 42, 52);
}
.top-short-course-page-container .top-short-course-content-container .course-box .home-para-small {
  font-size: 45px;
}
.top-short-course-page-container .top-short-course-content-container .course-box .advantage-progress-line-div {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 15px;
  align-items: flex-start;
}
.top-short-course-page-container .top-short-course-content-container .course-box .advantage-progress-line-div .progress-para {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
  color: rgb(52, 52, 52);
}
.top-short-course-page-container .top-short-course-content-container .course-box .advantage-progress-line-div .progress-para .percentage-progress {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
  color: rgb(73, 73, 73);
}
.top-short-course-page-container .top-short-course-content-container .course-box .advantage-progress-line-div .progress-line {
  height: 12px;
  width: 90%;
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
  overflow: hidden;
}
.top-short-course-page-container .top-short-course-content-container .course-box .advantage-progress-line-div .progress-line .progress-inner-line {
  height: 100%;
  border-radius: 15px;
  background-color: rgb(255, 68, 81);
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-family: "Exo 2";
  font-weight: 500;
  color: rgb(225, 225, 225);
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-course-info-div .para-in-box-lesson {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-family: "Exo 2";
  font-weight: 500;
  color: rgb(225, 225, 225);
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box {
  height: 35px;
  width: 130px;
  background-color: rgb(255, 74, 74);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Roboto";
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition-duration: 0.4s;
  cursor: pointer;
  overflow: hidden;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box .top-course-apply-btn-one {
  position: absolute;
  width: 0%;
  height: 25%;
  left: 0px;
  top: 0px;
  background-color: rgb(255, 203, 30);
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box .top-course-apply-btn-two {
  position: absolute;
  width: 0%;
  height: 25%;
  right: 0px;
  top: 25%;
  background-color: rgb(255, 203, 30);
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box .top-course-apply-btn-three {
  position: absolute;
  width: 0%;
  height: 25%;
  left: 0px;
  bottom: 25%;
  background-color: rgb(255, 203, 30);
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box .top-course-apply-btn-four {
  position: absolute;
  width: 0%;
  height: 25%;
  right: 0px;
  bottom: 0%;
  background-color: rgb(255, 203, 30);
  z-index: -1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box:hover {
  color: black;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box:hover .top-course-apply-btn-one {
  width: 100%;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box:hover .top-course-apply-btn-two {
  width: 100%;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box:hover .top-course-apply-btn-three {
  width: 100%;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .apply-btn-course-box:hover .top-course-apply-btn-four {
  width: 100%;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 100%;
  border: none;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  z-index: 1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box .like-btn-mess-course-page {
  position: absolute;
  top: -25px;
  height: 20px;
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: 600;
  font-family: "Exo 2";
  border-radius: 3px;
  background-color: white;
  border: 1px solid rgb(218, 218, 218);
  z-index: -1;
  transform: translateY(20px) scale(0.2);
  opacity: 0;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box .like-btn-mess-course-page .arrow-desing-like-course-page {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
  border-left: none;
  border-top: none;
  bottom: -4px;
  rotate: 45deg;
}
.top-short-course-page-container .top-short-course-content-container .course-box .course-box-btn-div .like-btn-course-box:hover .like-btn-mess-course-page {
  transform: translateY(0px) scale(1);
  opacity: 1;
  transition-duration: 0.4s;
}
.top-short-course-page-container .top-short-course-content-container .course-box-one, .top-short-course-page-container .top-short-course-content-container .course-box-two, .top-short-course-page-container .top-short-course-content-container .course-box-three, .top-short-course-page-container .top-short-course-content-container .course-box-four, .top-short-course-page-container .top-short-course-content-container .course-box-five {
  position: absolute;
}
.top-short-course-page-container .top-short-course-content-container .course-box-one {
  background: rgb(247, 92, 208);
}
.top-short-course-page-container .top-short-course-content-container .course-box-two {
  background: rgb(191, 139, 234);
}
.top-short-course-page-container .top-short-course-content-container .course-box-three {
  background: rgb(104, 223, 149);
}
.top-short-course-page-container .top-short-course-content-container .course-box-four {
  background: rgb(121, 153, 228);
}
.top-short-course-page-container .top-short-course-content-container .course-box-five {
  background: rgb(236, 211, 84);
}

/*# sourceMappingURL=TopShortCourse.css.map */
